
/*----------------------------------------------------------------------*/

.attendance_slider_section{
    background-image: url(/AssetsNew/images/Attendance/banner-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0px;
    background-position: center;
}


.attendance_slider_section h1{
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 20px;
}
.attendance_slider_section h1:before {
    content: "";
    width: 100px;
    height: 5px;
    position:absolute;
    left:0px;
    bottom:-10px;
    background-color: #00aff0;
    display: block;
}
.attendance_slider_section p{
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #555;
    margin-bottom: 30px;
}


.attendance_slider_section h5 {
    font-size: 16px;
    color: #ff6600;
    margin-bottom: 10px;
}

.attendance_slider_section a {
    background-color: #00aff0;
    padding: 10px 20px;
    color: white;
    border: 1px solid #00aff0;
    border-radius: 10px;
    font-size: 18px;
    display: inline-block;
}

.attendance_slider_section a:hover,
.attendance_slider_section a:focus,
.attendance_slider_section a:active {
    background-color: #00aff0;
    border: 1px solid #00aff0;
    color: white;
}

/*----------------------------------------------------------------------*/

.choose_minop_section{
    background-color:white;
    padding: 50px 0px;
}
.choose_minop_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
}
.choose_minop_section h2:before {
    content: "";
    width: 100px;
    height: 5px;
    position:absolute;
    left:0px;
    bottom:-10px;
    background-color: #00aff0;
    display: block;
}
.choose_minop_section h3 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.choose_minop_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.choose_minop_section img {
    margin-top:50px;
}

/*----------------------------------------------------------------------*/

.organize_section{
    background-color: #f4f8fb;
    padding: 50px 0px;
}
.organize_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
}
.organize_section h2:before {
    content: "";
    width: 100px;
    height: 5px;
    position:absolute;
    left:0px;
    bottom:-10px;
    background-color: #00aff0;
    display: block;
}
.organize_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}
.organize_section a {
    background-color: #00aff0;
    padding: 10px 20px;
    color: white;
    border: 1px solid #00aff0;
    border-radius: 10px;
    font-size: 18px;
    display: inline-block;
    float: right;
}
.organize_section a:hover,
.organize_section a:focus,
.organize_section a:active {
    background-color: #00aff0;
    border: 1px solid #00aff0;
    color: white;
}

/*----------------------------------------------------------------------*/

.boosts_productivity_section{
    background-color:white;
    padding: 50px 0px;
}
.boosts_productivity_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
}
.boosts_productivity_section h2:before {
    content: "";
    width: 100px;
    height: 5px;
    position:absolute;
    left:0px;
    bottom:-10px;
    background-color: #00aff0;
    display: block;
}

.boosts_productivity_box {
    position: relative;
    padding: 0px 0px 0px 90px;
}

.boosts_productivity_box i {
    position: absolute;
    left: 0px;
    height: 80px;
    width: 80px;
    background-color: #21ade3;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

.boosts_productivity_box h4 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.boosts_productivity_box p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/*----------------------------------------------------------------------*/

.counter_section {
    background-color: #f4f8fb;
    padding: 50px 0px;
}

.counter_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.counter_box i {
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-bottom: 20px;
}
.counter_box p {
    width: 100%;
    text-align: center;
    font-size: 16px; 
    color: #555;
}
.counter_box p strong {
    color: #222;
    font-size:25px;
}


/*----------------------------------------------------------------------*/

.hr_attendance_section{
    background-color:white;
    padding: 50px 0px;
}
.hr_attendance_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
}
.hr_attendance_section h4 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.hr_attendance_section h3 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
    padding-left: 30px;
}
.hr_attendance_section h3:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 5px;
    height: auto;
    background-color: #21ade3;    
}

.hr_attendance_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    padding-left: 30px;
}

.hr_attendance_section img {
    max-width:500px;
    max-height:400px;
    width:100%;
    margin:10px 0px;
}



/*----------------------------------------------------------------------*/

.advantages_section {
    background-color:white;
    padding: 50px 0px 0px 0px;
}

.advantages_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
}
.advantages_section h2:before {
    content: "";
    width: 100px;
    height: 5px;
    position:absolute;
    left:0px;
    bottom:-10px;
    background-color: #00aff0;
    display: block;
}

.advantages_box {
    position: relative;
    padding: 0px 0px 0px 80px;
    margin-bottom:50px;
}

.advantages_box i {
    position: absolute;
    left: 0px;
    height: 70px;
    width: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.advantages_box h4 {
    font-size: 16px;
    color: #222;
    margin-bottom: 10px;
}

.advantages_box p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .counter_section {
        padding:50px 0px 30px 0px;
    }
    .counter_box {
        margin-bottom:20px;
    }
    .hr_attendance_section h3 {
        font-size: 25px;
    }
    .hr_attendance_section img {
        margin: 20px 0px;
    }
}

@media (max-width: 767px) {
    .organize_section a {
        float: none;
    }
}


