<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>

		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--<add key="weburlminop" value="http://localhost:1259/" />-->
		
		<add key="partnerapi" value="http://localhost:62545/api/" />

		

		<!--<add key="webapipaytime" value="http://localhost:8081/Api/" />-->

		<!--<add key="webapipaytime" value="https://stageservice.minopcloud.com/api/" />-->
		<add key="webapipaytimeMS" value="https://fapservice.minopcloud.com/api/" />
		
		<!--<add key="webapipaytime" value="http://localhost:2159/api/" />-->

		<add key="webapipaytime" value="https://stageservice.minopcloud.com/api/" />
		
		<add key="webapicms" value="https://localhost:7251/api/" />
		<!--<add key="webapifieldtracking" value="https://localhost:7116/api/" />-->
		<add key="webapifieldtracking" value="http://192.168.11.216:8088/api/" />
		<!--<add key="webapipaytimeMS" value="http://192.168.11.216:8021/Api/" />-->
    <!--<add key="webapipaytimeMS" value="http://localhost:2160/api/" />-->
		<add key="updatesvc" value="http://localhost:2160/api/" />

    
    <!--<add key="WebApiEMS" value="https://localhost:7299/api/" />-->
    <add key="WebApiEMS" value="https://localhost:7299/api/" />
		<add key="WebApiVMS" value="https://localhost:44369/" />
		

		<!--<add key="webapipaytimeMS" value="http://stageap.minopcloud.com/api/" />-->
		<!--<add key="webapipaytime" value="http://localhost:62417/api/" />-->
		<!--<add key="webapipaytime" value="http://192.168.6.126:6544/api/" />-->
		<!--<add key="webapipaytime" value="http://192.168.6.15:8022/Api/" />-->

		<!--<add key="webapipaytime" value="http://192.168.4.131:8086/Api/" />-->
		<!--<add key="webapipaytime" value="http://192.168.6.129:8086/Api/" />-->
		<!--<add key="webapipaytimePayroll" value="http://192.168.6.15:8084/Api/" />-->
    	<add key="webapipaytimePayroll" value="http://localhost:7217/Api/" />
		<add key="webapiurlokr" value="https://localhost:7142/api/" />
		<!--<add key="webapiurlokr" value="http://192.168.6.15:8091/api/" />-->

		<!--<add key="webapipaytime" value="http://stageservice.minopcloud.com/Api/" />-->
		<!--<add key="webapipaytime" value="http://fservice.minopcloud.com/Api/" />-->

		<add key="jwtKey" value="Mantra@9#53810$" />
		<add key="vs:EnableBrowserLink" value="false" />
		<!--<add key="Dbloaction" value="\\Dmantra4131\database2" />-->
		<add key="Dbloaction" value="E:\\DATABASE\\MANTRA2008R2SAAS\\DATA\\" />
		<!--<add key ="ParaVisionAPI" value="http://122.170.117.59:4001/api/"/>-->
		<add key="ParaVisionAPI" value="http://192.168.6.15:5656/api" />
		<add key="FaceQualityThreshold" value="75" />
		<!--bitrix lead create-->
		<add key="LeadUrl" value="http://192.168.6.93:8081/api/" />
		<!--bitrix lead create-->
		<!--freshdesk Integration create-->
		<!--<add key ="freshdeslocattchments" value="D:\BNK\Work\FreshdeskIntegration\attchment\"/>
    <add key ="freshdeskapiurl" value="https://freshdesk.minopcloud.com"/>-->

		<!--Zohodesk Integration create-->
		<add key="zohodeskapiurl" value="https://desk.zoho.com" />
		<!--<add key ="zohodeskdepartmentId" value="569485000000422045"/>-->
		<add key="zohodeskdepartmentId" value="318385000001001316" />
		<add key="zohoorgId" value="674712757" />

		<!--Zohodesk access tocken refresh -->
		<add key="zohodeskapiurlrefreshtoken" value="https://accounts.zoho.com/oauth/v2/token" />
		<add key="zohorefresh_token" value="1000.03b35a99502d570d843dc9c2d540939c.0362db8b9074ffa6d261ba7525a2f52a" />
		<add key="zohoclient_id" value="1000.DWFSMYUBW2MHRIP6QQT8P24QHCO7NZ" />
		<add key="zohoclient_secret" value="ade82135d9d673bc4485f149467e8aa52e29e5cf06" />
		<add key="zohoscope" value="Desk.tickets.ALL,Desk.basic.CREATE" />
		<add key="zohoredirect_uri" value="https://www.zylker.com/oauthgrant" />
		<add key="zohogrant_type" value="refresh_token" />
		<add key="zohoaccess_type" value="offline" />

		<!--ZohoCRM access tocken refresh -->
		<add key="zohocrmapiurl" value="https://www.zohoapis.com/" />
		<add key="zohocrmrefresh_token" value="1000.626f706b57b88cc60db469df64918c42.ee275d630d10bcb3a803b1956c59ac13" />
		<add key="zohocrmclient_id" value="1000.960Y5CQR4S4FCTW2VQWQ6J76ZGCLYY" />
		<add key="zohocrmclient_secret" value="9394ae4ddf0e2facf0f673d53631d4cf8a26e12cdc" />
		<add key="zohocrmscope" value="ZohoCRM.modules.ALL" />
		<add key="zohocrmredirect_uri" value="https://zoho.com" />
		<add key="zohocrmgrant_type" value="refresh_token" />
		<add key="zohocrmaccess_type" value="offline" />

		<!--<add key ="rzp_key" value="rzp_test_BA3EbIZsj3BLxG"/>
    <add key ="rzp_secret" value="gbLWGSxPO0wyACZp0mF69VoQ"/>-->
		<add key="rzp_recurl" value="https://api.razorpay.com/v1/payments/create/recurring" />
		<add key="rzp_key" value="rzp_test_RkBtezlbEWPk6U" />
		<add key="rzp_secret" value="ROA0bLRKHS0Mh49WXtHqZzqa" />

		<add key="rzp_returnurl" value="http://localhost:1259/PayTime/PaymentStatus" />
		<!--<add key ="rzp_returnurl" value="http://192.168.6.15:8082/PayTime/PaymentStatus"/>-->
		<add key="lst_devicetypeid" value=" 1, 13, 25, 26, 27, 28, 29, 34, 36, 37, 38, 39 " />
		<add key="WebPortalurl" value="http://localhost:1260" />
		<add key="Captchakey" value="6Lc9R3UgAAAAAGg15Fhzf1yptJxBBC9UkM4zQCSy" />
		<add key="CheckCustomClientDBName" value="FASE791,HARC7EA,FAS4207,FAS3207" />

		<!--Exception Error Handling Mail Parameter-->

		<add key="ExceptionHostZoho" value="smtp.zoho.com" />
		<add key="ExceptionPortZoho" value="587" />
		<add key="enableSSLZoho" value="true" />
		<add key="ExceptionFromEmailZoho" value="minop@mantratec.com" />
		<add key="ExceptionFromPasswordZoho" value="Minop@6549" />
		<add key="ExceptionToMailZoho" value="hardik.darji@mantratec.com" />
		<add key="ExceptionToCCMailZoho" value="hardik.darji@mantratec.com" />
		<add key="EmailBCCZoho" value="Jayeshgiri.Goswami@mantratec.com" />
		<add key="enableMailFlageZoho" value="false" />
    <add key="BestSeller" value="ARTB6E8" />

    <!-- Location Services Configuration -->
    <add key="LocationProvider" value="google" />
    <!--<add key="LocationProvider" value="opensource" />-->
    <add key="Google.ApiKey" value="AIzaSyBRUPk0OfPCMCuOyTWpesazqVKiQWl-irA" />
    <add key="Google.MapType" value="roadmap" />
    <add key="Google.Libraries" value="places,geometry,drawing" />

	</appSettings>
	<system.web>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
			<add verb="GET,HEAD" path="SessionHeartbeat.ashx" validate="false" type="SessionHeartbeatHttpHandler" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" validate="false" />
			<add validate="false" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add validate="false" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add validate="false" verb="GET,POST" path="DXXCD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="DevExpress.Utils.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Data.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxThemes.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.RichEdit.v17.2.Core, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Printing.v17.2.Core, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.Mvc5.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Charts.v17.2.Core, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraCharts.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraCharts.v17.2.Web, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.Resources.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Pdf.v17.2.Core, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.CodeParser.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.DataAccess.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Office.v17.2.Core, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.PivotGrid.v17.2.Core, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Sparkline.v17.2.Core, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Xpo.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraGauges.v17.2.Core, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxPivotGrid.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraReports.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraReports.v17.2.Web, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5" maxRequestLength="1048576" requestValidationMode="4.0" executionTimeout="110" maxUrlLength="10240" maxQueryStringLength="2097100" />
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
		<globalization culture="" uiCulture="" />
		<pages validateRequest="true" clientIDMode="AutoID">
			<namespaces>
				<add namespace="DevExpress.Utils" />
				<add namespace="DevExpress.Web.ASPxThemes" />
				<add namespace="DevExpress.Web" />
				<add namespace="DevExpress.Web.Mvc" />
				<add namespace="DevExpress.Web.Mvc.UI" />
				<add namespace="DevExpress.XtraCharts" />
				<add namespace="DevExpress.XtraCharts.Web" />
				<add namespace="DevExpress.Web.ASPxPivotGrid" />
				<add namespace="DevExpress.Data.PivotGrid" />
				<add namespace="DevExpress.XtraPivotGrid" />
				<add namespace="DevExpress.XtraReports" />
				<add namespace="DevExpress.XtraReports.UI" />
				<add namespace="DevExpress.XtraReports.Web" />
				<add namespace="DevExpress.XtraReports.Web.DocumentViewer" />
			</namespaces>
		</pages>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>  
    </assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" />
			<add name="ASPxReportDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add name="ASPxChartDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXCD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</modules>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="32768" maxAllowedContentLength="30000000" />
				<!--<requestLimits maxAllowedContentLength="1073741824" />
        <requestLimits maxQueryString="32768"/>-->
			</requestFiltering>
		</security>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
	</system.webServer>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Frame-Options" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<!-- Or Content-Security-Policy -->
				<!-- <add name="Content-Security-Policy" value="frame-ancestors 'self' https://example.com" /> -->
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<devExpress>
		<resources>
			<add type="ThirdParty" />
			<add type="DevExtreme" />
		</resources>
		<themes enableThemesAssembly="true" theme="Default" customThemeAssemblies="" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
		<settings rightToLeft="false" checkReferencesToExternalScripts="true" doctypeMode="Html5" accessibilityCompliant="false" />
		<!--<errors callbackErrorRedirectUrl="" />-->
	</devExpress>
</configuration>