/* Primor - Business Consulting HTML Template  */


@media only screen and (max-width:1023px) {
	.banner-carousel .content-box .text br,
	.banner-carousel .content-box h2 br,
	.banner-carousel .image-box,
	.call-to-action-four .content-box h2 br,
	.feature-block-two .inner-box:before,
	.features-section .sec-title h2 br,
	.features-section:before,
	.fixed-header .sticky-header,
	.main-header .outer-box .btn-box,
	.services-section-two .sec-title-two .text br,
	.team-section:before,
	.testimonial-section-two .owl-dots {
		display: none
	}
	.banner-section.style-two .slide-item {
		background-position: left center
	}
	.header-style-four .header-upper .logo-outer,
	.header-style-four .header-upper .upper-right {
		width: 100%;
		text-align: center
	}
	.header-style-four .info-box {
		margin-left: 0;
		width: 33.33333%;
		padding-left: 0
	}
	.header-style-four .info-box .icon-box {
		position: relative;
		display: inline-block;
		margin-bottom: 10px
	}
	.about-section:before,
	.banner-carousel .content-box {
		width: 100%
	}
	.banner-carousel .content-box .text {
		max-width: 600px;
		display: inline-block;
		margin: 10px 0 20px
	}
	.banner-carousel .content-box .inner {
		padding: 150px 50px;
		text-align: center;
		margin: 0
	}
	.banner-carousel .link-box {
		display: inline-block
	}
	.page-title {
		padding: 70px 0
	}
	.page-title h1 {
		font-size: 34px
	}
	.features-section .sec-title {
		margin-bottom: 0
	}
	.blog-single .news-block-three h2,
	.call-to-action-four .content-box h2,
	.fluid-section-one .content-column .sec-title h2 {
		font-size: 30px;
		line-height: 1.2em
	}
	.features-section:before {
		height: 270px;
		width: 100%
	}
	.testimonial-section .testimonials-column .inner-column {
		padding-top: 0
	}
	.features-section .features-column .inner-column {
		padding-left: 0
	}
	.feature-block-four .inner-box {
		padding-right: 0
	}
	.testimonial-section .testimonials-column {
		order: 0;
		margin-bottom: 50px;
		text-align: center
	}
	.contact-page-section .contact-column {
		order: 0
	}
	.contact-page-section .contact-column .inner-column {
		padding-left: 0
	}
	.testimonial-block .info-box:before {
		left: 0;
		right: 0;
		margin: 0 auto
	}
	.call-to-action-two .title-column .inner,
	.subscribe-section .title-column .inner-column {
		padding-left: 0;
		text-align: center
	}
	.portfolio-detail .content-column .inner-column {
		padding-left: 0
	}
	.call-to-action-two .title-column .icon,
	.subscribe-section .title-column .icon {
		position: relative;
		display: inline-block;
		margin-bottom: 10px
	}
	.subscribe-section .title-column .icon {
		left: 0;
		margin-bottom: 20px
	}
	.call-to-action-two .btn-column,
	.call-to-action-two .title-column {
		width: 100%;
		float: left;
		text-align: center;
		margin-top: 20px;
		max-width: 100%
	}
	.testimonial-section .image {
		text-align: center
	}
	.banner-carousel .owl-prev {
		left: 15px
	}
	.banner-carousel .owl-next {
		right: 15px
	}
	.about-section .image-column .inner-column {
		padding-top: 0;
		padding-bottom: 15px
	}
	.subscribe-section .subscribe-form {
		max-width: 400px;
		margin: 30px auto 0;
		padding: 0
	}
	.subscribe-form .form-group input[type=submit],
	.subscribe-form button {
		position: relative;
		display: block;
		width: 100%;
		margin-top: 15px
	}
	.subscribe-form .form-group input,
	.subscribe-form .form-group select,
	.subscribe-form .form-group textarea {
		text-align: center
	}
	.subscribe-form .form-group {
		padding-right: 0
	}
	.fun-fact-section .counters-column .inner-column {
		margin-top: 70px
	}
	.case-tab .image-column .inner-column {
		padding: 50px 30px 25px
	}
	.case-tab .content-column .inner-column {
		padding: 25px 30px 50px
	}
	.services-section-three .title-column .inner-column {
		padding-right: 0;
		margin-bottom: 50px
	}
	.news-block-two .content-column .inner-column {
		padding-left: 0;
		padding-top: 30px
	}
	.fluid-section-one .accordion-column,
	.fluid-section-one .content-column,
	.fluid-section-one .image-column {
		position: relative;
		width: 100%;
		background-image: none!important
	}
	.fluid-section-one .image-column .image-box {
		display: block
	}
	.mission-section .content-column .description,
	.mission-section .content-column .testimonial-block-two {
		max-width: 100%
	}
	.mission-section .content-column .inner-column {
		padding: 50px 0 0
	}
	.case-studies-two.style-two .tab-btns .tab-btn {
		padding: 25px 20px
	}
	.about-section-two .outer-box {
		margin-top: 15px
	}
	.about-section-two .content-column .inner-column {
		margin-left: 0
	}
	.fun-fact-section-two {
		padding: 100px 0 10px
	}
	.fun-fact-section-two .counter-column,
	.fun-fact-section-two .counters-column .title,
	.fun-fact-section-two .info-column .inner-column {
		padding: 0;
		text-align: center;
		margin-bottom: 50px
	}
	.service-block-five {
		margin-bottom: 50px
	}
	.service-block-five .content-column .inner-column,
	.service-block-five .image-column .inner-column {
		margin: 0!important;
		min-height: auto
	}
	.service-block-five .image-column,
	.sidebar-page-container .content-side {
		order: 0!important
	}
	.page-title .bread-crumb {
		float: left;
		width: 100%
	}
	.portfolio-item-two.small-item {
		width: 50%
	}
	.portfolio-item-two.big-item {
		width: 100%
	}
	.main-slider .tp-caption.tp-shape,
	.main-slider .tp-caption.tp-shape .image-box,
	.metis.tparrows {
		display: none!important
	}
	.main-slider h2 {
		font-size: 36px
	}
}

@media only screen and (max-width:767px) {
	.main-header .top-left {
		display: none
	}
	.header-style-three .header-top .top-left {
		display: block
	}
	.main-header .header-upper .nav-outer {
		margin-top: -80px;
		width: 100%
	}
	.header-style-four .header-lower {
		background-color: #398bf5
	}
	.header-style-four .top-right {
		float: left
	}
	.header-style-four .header-lower .nav-outer {
		padding-left: 0
	}
	.header-style-four .search-box-outer {
		padding: 12px 0;
		position: absolute
	}
	.header-style-four .search-box-outer .dropdown-menu {
		left: 0!important;
		right: auto!important
	}
	.header-style-five .navbar-toggler .icon,
	.header-style-four .navbar-toggler .icon {
		color: #fff
	}
	.header-style-five {
		position: relative
	}
	.header-style-five .header-upper {
		background-color: #398bf5;
		box-shadow: none
	}
	.header-style-five .outer-box .btn-box {
		padding: 17.5px 0
	}
	.header-style-five .main-menu .navigation>li,
	.header-style-five .search-box-outer {
		padding: 25px 0
	}
	.header-style-five .header-upper .logo-outer {
		padding: 15px 0
	}
	.header-style-five .header-upper .nav-outer {
		margin-top: -75px
	}
	.main-header .main-box .logo-box {
		width: auto;
		padding: 10px 0
	}
	.main-header .main-menu {
		padding-top: 0;
		width: 100%;
		margin: 0
	}
	.main-menu .navbar-header {
		position: relative;
		float: none;
		display: block;
		text-align: right;
		width: 100%;
		padding: 10px 0 10px;
		right: 0
	}
	.main-header .top-right>ul>li {
		padding-left: 0;
		border-left: 0
	}
	.main-header .outer-box {
		display: none
	}
	.main-menu .collapse {
		max-height: 400px;
		overflow: auto;
		float: none;
		width: 100%;
		padding: 10px 0 0;
		border: none;
		margin: 0 0 15px;
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		box-shadow: none
	}
	.main-menu .collapse.in,
	.main-menu .collapsing {
		padding: 10px 0 0;
		border: none;
		margin: 0 0 15px;
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		box-shadow: none
	}
	.navbar-dark .navbar-toggler {
		border: 0;
		padding: 0
	}
	.navbar-toggler .icon {
		position: relative;
		font-size: 34px;
		line-height: 1.2em;
		color: #0e4082
	}
	.navbar-light .navbar-toggler {
		border: 0;
		padding: 0
	}
	.main-menu .navbar-collapse>.navigation {
		float: none!important;
		margin: 0!important;
		width: 100%!important;
		border: 1px solid #fff;
		border-top: none
	}
	.main-menu .navbar-collapse>.navigation>li {
		margin: 0!important;
		float: none!important;
		padding: 0!important;
		width: 100%
	}
	.main-menu .navigation>li>a,
	.main-menu .navigation>li>ul:before {
		border: none
	}
	.main-menu .navbar-collapse>.navigation>li>a {
		padding: 10px 10px!important;
		border: none!important;
		font-size: 15px!important
	}
	.main-menu .navigation li.dropdown>a:after,
	.main-menu .navigation>li.dropdown>a:before,
	.main-menu .navigation>li>ul>li>a::before,
	.main-menu .navigation>li>ul>li>ul>li>a::before {
		color: #fff!important;
		right: 15px;
		font-size: 16px;
		display: none!important
	}
	.main-menu .navbar-collapse>.navigation>li>ul,
	.main-menu .navbar-collapse>.navigation>li>ul>li>ul {
		position: relative;
		border: none;
		float: none;
		visibility: visible;
		opacity: 1;
		display: none;
		margin: 0;
		left: auto!important;
		right: auto!important;
		top: auto!important;
		padding: 0;
		outline: 0;
		width: 100%;
		background: #2f6ec0;
		-webkit-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		transition: none!important;
		-webkit-transition: none!important;
		-ms-transition: none!important;
		-o-transition: none!important;
		-moz-transition: none!important;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
		-webkit-box-shadow: none;
		-ms-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none
	}
	.main-menu .navbar-collapse>.navigation>li>ul,
	.main-menu .navbar-collapse>.navigation>li>ul>li>ul {
		border-top: 1px solid #fff!important
	}
	.main-menu .navbar-collapse>.navigation>li,
	.main-menu .navbar-collapse>.navigation>li>ul>li,
	.main-menu .navbar-collapse>.navigation>li>ul>li>ul>li {
		border-top: 1px solid #fff!important;
		border-bottom: none;
		opacity: 1!important;
		top: 0!important;
		left: 0!important;
		visibility: visible!important
	}
	.main-menu .navbar-collapse>.navigation>li>ul>li:first-child,
	.main-menu .navbar-collapse>.navigation>li>ul>li>ul>li:first-child {
		border-top: none!important
	}
	.main-menu .navbar-collapse>.navigation>li:first-child {
		border: none
	}
	.main-menu .navbar-collapse>.navigation>li>a,
	.main-menu .navbar-collapse>.navigation>li>ul>li>a,
	.main-menu .navbar-collapse>.navigation>li>ul>li>ul>li>a {
		padding: 12px 20px!important;
		line-height: 22px;
		color: #fff;
		font-weight: 500;
		font-size: 15px;
		background: #2f6ec0;
		text-align: left
	}
	.main-menu .navbar-collapse>.navigation>li>a:active,
	.main-menu .navbar-collapse>.navigation>li>a:focus,
	.main-menu .navbar-collapse>.navigation>li>a:hover {
		background: #ff5926
	}
	.main-menu .navbar-collapse>.navigation>li.current-menu-item>a,
	.main-menu .navbar-collapse>.navigation>li.current>a,
	.main-menu .navbar-collapse>.navigation>li:hover>a,
	.main-menu .navbar-collapse>.navigation>li>ul>li:hover>a,
	.main-menu .navbar-collapse>.navigation>li>ul>li>ul>li:hover>a {
		background: #2f6ec0;
		color: #fff!important
	}
	.main-menu .navbar-collapse>.navigation li.dropdown .dropdown-btn {
		display: block
	}
	.main-menu .navigation>li>ul>li,
	.main-menu .navigation>li>ul>li>ul>li {
		padding-left: 0;
		padding-right: 0
	}
	.main-menu .navigation>li>ul>li>a,
	.main-menu .navigation>li>ul>li>ul>li>a {
		border-bottom: 0
	}
	.call-to-action-three .content-box br,
	.fact-counters .counter-column .count-box:before,
	.fun-fact-section-two .counters-column .title:before,
	.main-menu .navbar-collapse>.navigation li.dropdown:after,
	.main-menu .navigation>li>ul:before,
	.sec-title-two h2 br,
	.services-section-three:before {
		display: none!important
	}
	.call-to-action-three .bottom-box .or {
		display: block;
		margin: 50px 0 30px
	}
	.call-to-action-three .bottom-box .btn-box {
		float: none;
		display: inline-block
	}
	.call-to-action-three {
		padding: 100px 0 90px
	}
	.service-block-four,
	.services-section-four .title-box .inner-box {
		min-height: auto
	}
	.sec-title {
		margin-bottom: 40px
	}
	.banner-section.style-three .content-box h2,
	.call-to-action-three .content-box h2,
	.sec-title h2,
	.service-detail h2 {
		font-size: 32px;
		line-height: 1.2em
	}
	.service-detail h3 {
		font-size: 28px
	}
	.banner-section.style-three .content-box .text {
		font-size: 20px;
		line-height: 1.3em
	}
	.about-and-fun-facts .about-us .inner-column {
		padding: 50px 30px
	}
	.fact-counters .counter-column .count-box {
		padding-left: 0
	}
	.fact-counters .counter-column {
		margin-bottom: 50px
	}
	.fact-counters .counter-column .count-box {
		text-align: center
	}
	.about-and-fun-facts .fact-counters .inner-column {
		padding-bottom: 20px
	}
	.case-block .image-box .info-box {
		padding: 35px 15px 50px
	}
	.case-block .info-box h4 {
		font-size: 20px;
		line-height: 1.2em
	}
	.fun-fact-section .counter-column {
		margin-bottom: 50px
	}
	.fun-fact-section {
		padding: 80px 0 30px
	}
	.case-tabs .tab-btns .tab-btn {
		margin: 0;
		display: block;
		width: 100%
	}
	.case-studies-two {
		padding: 0 0 100px
	}
	.case-studies-two.style-two,
	.subscribe-section {
		margin-top: 0;
		padding: 100px 0
	}
	.case-studies-two.style-two .tab-btns {
		margin-bottom: 50px
	}
	.call-back-section .form-column {
		position: relative;
		width: 100%
	}
	.call-back-section .map-canvas,
	.call-back-section .map-column {
		position: relative;
		left: 0;
		top: 0;
		min-height: 600px;
		width: 100%
	}
	.about-section-two .content-column .inner-column {
		padding: 50px 20px
	}
	.about-section.style-two .image-box .info-box {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		padding: 20px;
		background-color: #fbfbfb
	}
	.service-block-five .content-column .inner-column {
		padding: 40px 20px
	}
	.service-page-section {
		padding: 100px 0 50px
	}
	.accordion-box .block .acc-btn .icon {
		border-left: 0!important
	}
	.service-detail h2 {
		margin-bottom: 15px
	}
	.page-title h1 {
		line-height: 1.2em;
		margin-bottom: 20px
	}
	.portfolio-section .filters li {
		margin: 0 13px
	}
	.portfolio-section-two .small-item {
		width: 100%
	}
	.main-slider .tp-caption.tp-shape,
	.main-slider .tp-caption.tp-shape .image-box,
	.metis.tparrows {
		display: none!important
	}
}

@media only screen and (max-width:599px) {
	.blog-single .news-block-three blockquote:before {
		width: 100%
	}
	.blog-single .news-block-three blockquote {
		padding: 40px 30px
	}
	.blog-single .post-share-options>div {
		width: 100%
	}
	.banner-carousel .content-box .inner {
		padding: 100px 10px!important
	}
	.about-and-fun-facts .about-us h4,
	.about-section-two .content-column h2,
	.banner-carousel .content-box h2,
	.banner-section.style-five .content-box h2,
	.banner-section.style-four .content-box h2,
	.banner-section.style-two .banner-carousel h2,
	.call-to-action .content-column h2,
	.portfolio-detail .content-column h3 {
		font-size: 28px;
		line-height: 1.3em
	}
	.news-block-three .lower-content h3 {
		font-size: 24px;
		line-height: 1.3em
	}
	.banner-section.style-two .banner-carousel h2,
	.comments-area .comment-box .text {
		margin-bottom: 15px
	}
	.banner-carousel .content-box .text,
	.service-detail p strong {
		font-size: 18px;
		line-height: 1.2em
	}
	.comments-area .comment-box .author-thumb {
		position: relative;
		display: inline-block;
		left: 0;
		top: 0;
		margin-bottom: 20px
	}
	.comments-area .comment-box .reply-btn {
		position: relative;
		display: inline-block;
		top: 0;
		margin-bottom: 20px
	}
	.comments-area .comment {
		margin-left: 0
	}
	.banner-carousel .link-box .theme-btn {
		float: none;
		display: block;
		margin: 0 0 1px
	}
	.mission-section .content-column .description {
		padding-left: 0
	}
	.case-tab .content-column .title h3,
	.fluid-section-one .content-column .sec-title h2 {
		font-size: 24px
	}
	.sec-title h2 {
		font-size: 28px
	}
	.testimonial-block-two .icon {
		opacity: .1
	}
	.mission-section .content-column .description .icon {
		position: relative;
		display: inline-block;
		margin-bottom: 10px
	}
	.features-section:before {
		height: 20%
	}
	.main-header .top-right .text strong {
		font-size: 18px
	}
	.case-studies .view-more {
		padding-top: 0;
		float: left;
		margin-bottom: 20px
	}
	.banner-carousel .link-box .learn-more:before,
	.banner-carousel .link-box .theme-btn i,
	.banner-section.style-five .active .content-box .title:before,
	.banner-section.style-four .active .content-box .title:before,
	.call-to-action-four .content-box .title:before,
	.feature-block-five .inner-box:after,
	.projects-carousel .owl-dots,
	.services-section-two .icon-layer,
	.services-section.style-two:before {
		display: none
	}
	.banner-section.style-four .content-box .text,
	.testimonial-block .text,
	.testimonial-block-three .text {
		font-size: 16px;
		line-height: 24px
	}
	.header-style-four .info-box {
		width: 100%;
		margin-bottom: 50px
	}
	.portfolio-item-two.small-item {
		width: 100%
	}
	.header-style-four .info-box:last-child {
		margin-bottom: 0
	}
	.testimonial-section:before {
		width: 100%
	}
	.main-footer .widgets-section {
		padding-bottom: 20px
	}
	.call-to-action-three .contact-info strong {
		font-size: 18px
	}
	.clients-section .sponsors-outer {
		padding: 60px 15px
	}
	.testimonial-block-two .inner-box {
		padding: 50px 20px 60px
	}
	.feature-block-five .inner-box .link-box {
		opacity: 1
	}
	.banner-section.style-five .content-box h2 {
		margin-bottom: 20px
	}
	.post-controls .next-post,
	.post-controls .prev-post {
		width: 100%;
		padding: 30px 20px
	}
	.post-controls .prev-post {
		padding-bottom: 0
	}
	.main-slider h2 {
		font-size: 24px;
		line-height: 1.4em
	}
	.main-slider .text {
		font-size: 14px
	}
	.main-slider .link-box .learn-more:after {
		bottom: 0
	}
}

@media only screen and (max-width:479px) {
	.banner-carousel .owl-prev {
		left: 5px
	}
	.banner-carousel .owl-next {
		right: 5px
	}
	.portfolio-detail .info-list li span {
		width: 100%
	}
	.feature-block-three .inner-box,
	.fun-fact-section .message-box {
		padding: 0;
		text-align: center
	}
	.service-block-five .title-box .icon {
		position: relative;
		display: inline-block;
		margin-bottom: 10px
	}
	.service-block-five .title-box {
		padding-left: 0
	}
	.fun-fact-section .message-box .icon-box {
		left: 0;
		position: relative;
		display: inline-block;
		margin-bottom: 50px
	}
	.service-block-five .content-column .inner-column {
		text-align: center
	}
	.fun-fact-section .message-box .text {
		position: relative;
		transform: none;
		margin: 0
	}
	.feature-block-three .icon-box {
		position: relative;
		display: inline-block;
		margin-bottom: 10px
	}
	.post-widget .post {
		padding-left: 0
	}
	.post-widget .post .thumb {
		position: relative;
		display: inline-block
	}
	.support-widget .widget-content {
		padding: 50px 30px
	}
	.message-widget .widget-content {
		padding: 70px 30px
	}
	.benifit-block .inner-box,
	.news-block-three.style-two .inner-box,
	.offer-block .inner-box,
	.service-block .lower-content,
	.service-block-four .inner-box,
	.service-block-three .content-box {
		padding: 40px 20px
	}
	.project-block .overlay-box {
		padding: 0 10px
	}
	.contact-page-section .contact-info li span {
		width: 100%;
		line-height: 20px
	}
	.service-block-two .caption-box .inner {
		padding: 30px 15px;
		text-align: center
	}
	.service-block-five .title-box h3 {
		font-size: 24px;
		line-height: 1.2em
	}
	.fluid-section-one .image-column .message-box {
		position: relative;
		display: block;
		bottom: 0
	}
	.fluid-section-one .message-box .inner {
		padding: 30px 20px;
		text-align: center
	}
	.fluid-section-one .message-box .link-box {
		position: relative;
		display: inline-block;
		left: 0;
		top: 0;
		margin-top: 20px
	}
	.header-style-three .header-top .top-right,
	.news-block-three .owl-nav {
		display: none
	}
	.styled-pagination ul {
		padding: 25px 10px
	}
	.service-block-two .caption-box .icon-box {
		position: relative;
		display: inline-block;
		left: 0;
		top: 0;
		margin-top: 10px
	}
}


}