



.api_slider_section {
    background-color: #eefdff;
    padding: 100px 0px;
}

.api_slider_section h1 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.api_slider_section p {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #555;
    margin-bottom: 30px;
}

.api_slider_section a {
    background-color: #00aff0;
    padding: 10px 20px;
    color: white;
    border: 1px solid #00aff0;
    border-radius: 10px;
    font-size: 18px;
}

.api_slider_section a:hover,
.api_slider_section a:focus,
.api_slider_section a:active {
    background-color: #00aff0;
    border: 1px solid #00aff0;
    color: white;
}

/*-------------------------------------------------------------------------*/


.biometric_api_section {
    background-color:white;
    padding:50px 0px;
}

.biometric_api_section img {
    max-width:500px;
    max-height:400px;
}

.biometric_api_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.biometric_api_section h3 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.biometric_api_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}




/*----------------------------------------------------------------------*/

.organize_section{
    background-color: #f4f8fb;
    padding: 50px 0px;
}
.organize_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
}
.organize_section h2:before {
    content: "";
    width: 100px;
    height: 5px;
    position:absolute;
    left:0px;
    bottom:-10px;
    background-color: #00aff0;
    display: block;
}
.organize_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}
.organize_section a {
    background-color: #00aff0;
    padding: 10px 20px;
    color: white;
    border: 1px solid #00aff0;
    border-radius: 10px;
    font-size: 18px;
    display: inline-block;
    float: right;
}
.organize_section a:hover,
.organize_section a:focus,
.organize_section a:active {
    background-color: #00aff0;
    border: 1px solid #00aff0;
    color: white;
}


/*-------------------------------------------------------------------------*/


.api_category_section {
    background-color:white;
    padding:50px 0px;
}

.api_category_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.api_category_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.api_category_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.api_category_box i {
        height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-bottom: 20px;
}

.api_category_box h3 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
    width:100%;
    text-align:center;
}

.api_category_box p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    width:100%;
    text-align:center;
}


/*---------------------------------------------------------*/


@media screen and (max-width: 1100px) {
    
    .biometric_api_section img {
        max-width: 380px;
    }
    .api_slider_section img {
        max-width: 380px;
    }
}

@media screen and (max-width: 768px) {
    .api_slider_section {
        padding: 50px 0px;
        text-align:center;
    }
    .api_slider_section h1 {
        font-size: 25px;
    }
    .biometric_api_section h2 {
        font-size: 25px;
    }
    .organize_section h2 {
        font-size: 25px;
    }
    .api_category_section h2 {
        font-size: 25px;
    }
    .organize_section a {
        float: none;
    }
    
}














