
/*-------------------------------------------------------------------------*/

.page_title_section {
    background-image: url(/AssetsNew/images/header-title.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 65px 0px;
    position:relative;
    text-align:left;
}
.page_title_section:before {
    content: "";
    background-image: linear-gradient(white, #ffffff66 50%, white);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.page_title_section h1 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #555;
    font-weight: normal;
    margin-bottom: 10px;
}
.page_title_section h1 strong {
    color: #189ad1;
}
.page_title_section p
{
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}
.page_title_section .bread-crumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    /*-ms-flex-pack: center!important;
    justify-content: center!important;*/
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.page_title_section .bread-crumb li {
    color: #555;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: normal;
}

.page_title_section .bread-crumb li a {
    color: #189ad1;
}

.page_title_section .bread-crumb li a:hover,
.page_title_section .bread-crumb li a:focus,
.page_title_section .bread-crumb li a:active {
    color: #189ad1;
    text-decoration:underline;
}




/* device */
.page-title{
    padding:0!important
}
.left_filters_box{
    padding:20px;
    background-color:#fff;
    box-shadow:0 0 5px 0 #d2d2d2
}
.products_list_box{
    padding:20px;
    background-color:#fff;
    box-shadow:0 0 5px 0 #d2d2d2
}
.device_section{
    padding:40px 0;
    display:block;
    background-color:#fff
}
.device_details{
    background-color:#fff;
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:1px dashed #9e9e9e
}
.device_title_box{
    display:block;
    margin-bottom:40px
}
.device_title_box h1{
    display:block;
    font-weight:500;
    font-size:30px;
    color:#292929
}
.device_title_box h1 span{
    color:#189ad1
}
.device_title_box p{
    margin:0
}
.device_img_price_box{
    -ms-flex-align:center!important;
    align-items:center!important
}
.product_price_box table tbody tr.warranty_box th{
    vertical-align:middle;
    padding:10px 0
}
.product_price_box table tbody tr.warranty_box td{
    vertical-align:middle;
    padding:2px 0
}
.warr_radio_box{
    margin:0;
    padding:0 5px;
    height:30px;
    line-height:32px;
    background-color:#fff;
    border-radius:5px;
    display:inline-block;
    color:#1b1a1c;
    font-size:13px;
    border:1px solid #e0e0e0;
    opacity:.3
}
.product_price_box table tbody tr.quantity_box td,.product_price_box table tbody tr.quantity_box th{
    vertical-align:middle;
    padding:0
}
.minus_quan_btn{
    display:inline-block;
    height:25px;
    width:25px;
    text-align:center;
    line-height:25px;
    padding:0;
    border-radius:0;
    font-size:10px
}
.minus_quan_btn i{
    line-height:unset
}
.input_number{
    display:inline-block;
    width:70px;
    height:25px;
    line-height:25px;
    padding:0;
    text-align:center;
    font-size:15px
}
.plus_quan_btn{
    display:inline-block;
    height:25px;
    width:25px;
    text-align:center;
    line-height:25px;
    padding:0;
    border-radius:0;
    font-size:10px
}
.plus_quan_btn i{
    line-height:unset
}
.check_insta_serv_box{
    display:block
}
.check_insta_serv_box label{
    padding:0 10px 0 30px;
    background-color:#f5f5f5;
    border-radius:5px;
    border-top:1px dashed #9e9e9e;
    border-bottom:1px dashed #9e9e9e;
    display:inline-block;
    height:35px;
    line-height:35px;
    font-size:15px;
    margin:0;
    position:relative
}
.check_insta_serv_box label input{
    position:absolute;
    left:10px;
    top:10px
}
.price_table tbody tr th{
    vertical-align:middle
}
.price_table tbody tr td{
    vertical-align:middle
}
.price_total::before{
    content:"₹";
    display:table-cell
}
.extender_warrenty::before{
    content:"₹";
    display:table-cell
}
.installation_charge::before{
    content:"₹";
    display:table-cell
}
.grand_total_price::before{
    content:"₹";
    display:table-cell
}
.device_action_btns{
    margin:10px 0
}
.add_to_cart_btn{
    padding:0 10px;
    color:#fff;
    background:#f60;
    border:1px solid #f60;
    font-size:15px;
    transition:all .5s ease;
    outline:0;
    height:40px;
    line-height:40px;
    margin:5px
}
.add_to_cart_btn i{
    margin-right:5px
}
.add_to_cart_btn:active,.add_to_cart_btn:focus,.add_to_cart_btn:hover{
    color:#fff;
    background:#f60;
    border:1px solid #f60;
    outline:0;
    box-shadow:0 0 0 .2rem red;
    transition:all .5s ease
}
.add_to_cart_btn:disabled{
    background-color:#9e9e9e;
    border-color:#9e9e9e;
    cursor:no-drop;
    box-shadow:none
}
.buy_now_btn{
    padding:0 10px;
    color:#fff;
    background:#1e94cb;
    border:1px solid #1e94cb;
    font-size:15px;
    transition:all .5s ease;
    outline:0;
    height:40px;
    line-height:40px;
    margin:5px
}
.buy_now_btn i{
    margin-right:5px
}
.buy_now_btn:active,.buy_now_btn:focus,.buy_now_btn:hover{
    color:#fff;
    background:#1e94cb;
    border:1px solid #1e94cb;
    outline:0;
    box-shadow:0 0 0 .2rem #4d0000;
    transition:all .5s ease
}
.buy_now_btn:disabled{
    background-color:#9e9e9e;
    border-color:#9e9e9e;
    cursor:no-drop;
    box-shadow:none
}
.product_price_box{
    padding:0;
    margin-bottom:20px
}
.product_price_box table{
    border:none;
    margin:0;
    width:100%
}
.product_price_box table tbody tr th{
    text-align:left;
    width:50%
}
.product_price_box table tbody tr td,.product_price_box table tbody tr th{
    vertical-align:middle;
    padding:2px 0;
    font-size:15px;
    font-weight:400
}
.product_price_box table tbody tr td{
    width:50%
}
.price_table tbody tr td,.price_table tbody tr th{
    vertical-align:middle;
    font-size:15px
}
.final_price{
    color:#082c3c;
    font-size:25px;
    font-weight:600
}
.final_price:before{
    content:"₹";
    color:#082c3c;
    display:table-cell
}
.origal_price{
    font-size:20px;
    color:#dc3545;
    font-weight:400;
    text-decoration:line-through
}
.origal_price:before{
    content:"₹";
    color:#dc3545;
    padding-right:0;
    display:table-cell
}
.save_price{
    margin:0 5px 0 0
}
.save_price:before{
    content:"₹";
    color:#555;
    padding-right:0;
    display:table-cell
}
.percentage_off{
    margin:0 5px
}
.price_table tbody tr.Grand_Total td,.price_table tbody tr.Grand_Total th{
    color:#082c3c;
    font-size:25px;
    font-weight:600
}
.warranty_box{
    padding-bottom:20px
}
.custome_checkbox{
    margin:0;
    font-size:15px;
    font-weight:400;
    align-items:center!important;
    height:25px;
    line-height:25px
}
.check_intall_box{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:end!important;
    align-items:flex-end!important;
    padding:0 0 20px;
    opacity:.3
}
.check_intall_box .form-group{
    margin:0
}
.check_intall_box .form-group label{
    margin:0;
    height:20px;
    line-height:20px
}
.check_intall_box .form-group input{
    padding:5px;
    border-radius:5px;
    width:150px;
    height:30px!important;
    line-height:30px;
    margin-right:5px;
    font-size:14px;
    background-color:#fff;
    border:1px solid #e9ecef
}
.check_intall_box .form-group input:focus,.check_intall_box .form-group input:hover{
    box-shadow:none
}
.check_btn{
    padding:0 5px;
    color:#000;
    background:#cacaca;
    border:1px solid #cacaca;
    font-size:14px;
    transition:all .5s ease;
    height:30px
}
.check_btn:active,.check_btn:focus,.check_btn:hover{
    box-shadow:none
}
.device_description_box{
    background-color:#fff;
    margin-bottom:20px;
    position:relative;
    padding:0 0 10px;
    border-bottom:1px dashed #9e9e9e
}
.device_description_box h2{
    position:relative;
    display:block;
    font-size:18px;
    line-height:1.2em;
    color:#189ad1;
    font-weight:700;
    padding:0;
    margin:0;
    margin-bottom:10px
}
.device_description_box p{
    position:relative;
    display:block;
    font-size:16px;
    line-height:24px;
    font-weight:400;
    color:#555;
    margin:0
}
.device_features_box{
    background-color:#fff;
    margin-bottom:20px;
    position:relative;
    padding:0 0 10px;
    border-bottom:1px dashed #9e9e9e
}
.device_features_box .owl-dots{
    display:none!important
}
.featu_icon_box{
    align-items:center!important;
    margin-bottom:10px;
    width:100px;
    display:inline-block;
    margin-bottom:10px
}
.featu_icon_box img{
    display:block;
    max-width:40px;
    max-width:40px;
    margin:auto
}
.featu_icon_box span{
    width:100%;
    text-align:center;
    position:relative;
    display:block;
    font-size:13px;
    line-height:14px;
    color:#6c757d;
    font-weight:500;
    margin-top:5px
}
.list_device_applications_box{
    background-color:#fff;
    margin-bottom:20px;
    position:relative;
    padding:0 0 10px;
    border-bottom:1px dashed #9e9e9e
}
.list_device_applications_box h2{
    position:relative;
    display:block;
    font-size:18px;
    line-height:1.2em;
    color:#189ad1;
    font-weight:700;
    padding:0;
    margin:0;
    margin-bottom:10px
}
p.list_application{
    position:relative;
    display:block;
    font-size:15px;
    line-height:24px;
    font-weight:400;
    color:#555;
    margin:0;
    margin-bottom:10px;
    padding-left:25px
}
p.list_application i{
    position:absolute;
    left:0;
    top:2px
}
.list_device_features_box{
    background-color:#fff;
    margin-bottom:20px;
    position:relative;
    padding:0 0 10px;
    border-bottom:1px dashed #9e9e9e
}
.list_device_features_box h2{
    position:relative;
    display:block;
    font-size:18px;
    line-height:1.2em;
    color:#189ad1;
    font-weight:700;
    padding:0;
    margin:0;
    margin-bottom:10px
}
p.list_features{
    position:relative;
    display:block;
    font-size:15px;
    line-height:24px;
    font-weight:400;
    color:#555;
    margin:0;
    margin-bottom:10px;
    padding-left:25px
}
p.list_features i{
    position:absolute;
    left:0;
    top:2px
}
.device_specification_box{
    background-color:#fff
}
.device_specification_box h2{
    position:relative;
    display:block;
    font-size:18px;
    line-height:1.2em;
    color:#189ad1;
    font-weight:700;
    padding:0;
    margin:0;
    margin-bottom:10px
}
.specifi_box{
    display:block;
    margin-bottom:10px;
    line-height:18px;
    font-size:15px
}
.specifi_box span{
    display:block
}
.note_specifi{
    margin:20px 0 0;
    font-size:14px;
    line-height:20px;
    text-align:left
}
.device_diagram_box{
    background-color:#fff;
    margin-top:20px;
    position:relative;
    padding:10px 0 0;
    border-top:1px dashed #9e9e9e
}
.device_diagram_box h2{
    position:relative;
    display:block;
    font-size:18px;
    line-height:1.2em;
    color:#189ad1;
    font-weight:700;
    padding:0;
    margin:0;
    margin-bottom:10px
}
.switchToggle input[type=checkbox]{
    height:0;
    width:0;
    visibility:hidden;
    position:absolute
}
.switchToggle label{
    cursor:pointer;
    text-indent:-9999px;
    width:35px;
    max-width:35px;
    height:5px;
    background:#d1d1d1;
    display:block;
    border-radius:100px;
    position:relative;
    margin:0
}
.switchToggle label:after{
    content:'';
    position:absolute;
    top:-7px;
    left:0;
    width:18px;
    height:18px;
    background:#bdbdbd;
    border-radius:90px;
    transition:.3s
}
.switchToggle input:checked+input+label,.switchToggle input:checked+label{
    background:#3e98d3
}
.switchToggle input+input+label:before,.switchToggle input+label:before{
    content:'No';
    position:absolute;
    top:-8px;
    left:40px;
    width:26px;
    height:26px;
    border-radius:90px;
    transition:.3s;
    text-indent:0;
    color:#bdbdbd
}
.switchToggle input:checked+input+label:before,.switchToggle input:checked+label:before{
    content:'Yes';
    position:absolute;
    top:-8px;
    left:40px;
    width:26px;
    height:26px;
    border-radius:90px;
    transition:.3s;
    text-indent:0;
    color:#3e98d3
}
.switchToggle input:checked+input+label:after,.switchToggle input:checked+label:after{
    left:calc(100% - 0px);
    transform:translateX(-100%);
    background-color:#3e98d3
}
.switchToggle label:active:after{
    width:18px
}
.toggle-switchArea{
    margin:10px 0
}

/* device_images_view */
.product_view_box{position:relative;padding-left:100px;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center!important;align-items:center!important;-ms-flex-pack:center!important;justify-content:center!important}.product_view img{max-height:400px}.product_side_view{text-align:center;margin-bottom:10px;position:absolute;left:0;width:100px;top:0;overflow-x:hidden;overflow-y:auto;height:100%;padding-right:10px}.product_side_view img{border:none;margin-bottom:10px;opacity:.3}.product_side_view img:hover,.product_side_view img:focus,.product_side_view img:active{box-shadow:none;border:none;opacity:1}.product_side_view::-webkit-scrollbar{width:5px}.product_side_view::-webkit-scrollbar-thumb{width:5px;min-height:5px;border:5px solid #1e94cb}
/* resposive 767 */
@media only screen and (max-width:767px){.product_view_box{padding-left:0;padding-bottom:100px}.product_view img{max-height:300px}.product_side_view{margin-bottom:0;left:0;right:0;width:100%;top:auto;bottom:20px;overflow-x:auto;overflow-y:hidden;height:70px;display:list-item;white-space:nowrap;padding:0}.product_side_view img{height:70px}.product_side_view::-webkit-scrollbar{width:5px;height:5px}.product_side_view::-webkit-scrollbar-thumb{width:5px;height:5px;min-height:5px;border:5px solid #1e94cb}}

/* resposive 900 */
@media only screen and (max-width:900px) {
    .page_title_section {
        padding: 40px 0px;
    }
}


