
/*-------------------------------------------------------------------------*/

.page_title_section {
    background-image: url(/AssetsNew/images/header-title.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 65px 0px;
    position:relative;
    text-align:left;
}
.page_title_section:before {
    content: "";
    background-image: linear-gradient(white, #ffffff66 50%, white);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.page_title_section h1 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #555;
    font-weight: normal;
    margin-bottom: 10px;
}
.page_title_section h1 strong {
    color: #189ad1;
}
.page_title_section p
{
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}
.page_title_section .bread-crumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    /*-ms-flex-pack: center!important;
    justify-content: center!important;*/
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.page_title_section .bread-crumb li {
    color: #555;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: normal;
}

.page_title_section .bread-crumb li a {
    color: #189ad1;
}

.page_title_section .bread-crumb li a:hover,
.page_title_section .bread-crumb li a:focus,
.page_title_section .bread-crumb li a:active {
    color: #189ad1;
    text-decoration:underline;
}




/*-------------------------------------------------------------------------*/

.device_list_section{
    padding:0px;
    display:block;
    background-color:#f1f3f6
}
.left_filters_box{
    padding:20px;
    background-color:#fff;
    box-shadow:0 0 5px 0 #d2d2d2
}
.products_list_box{
    padding:20px;
    background-color:#fff;
    box-shadow:0 0 5px 0 #d2d2d2
}
.table{
    width:100%;
    border:0;
    border-top:1px solid #bdbdbd!important
}
.table thead{
    display:none
}
.table-striped tbody tr:nth-of-type(odd){
    background-color:transparent
}
.table tbody tr td{
    padding:0;
    min-height:10px;
    border:0;
    vertical-align:middle;
    border-bottom:1px solid #bdbdbd!important
}
.products_box{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:center!important;
    align-items:center!important;
    padding:20px 0;
    -ms-flex-pack:center!important;
    justify-content:center!important
}
.product_image_box{
    padding:0 10px
}
.product_details_box{
    padding:0 10px
}
.product_price_box{
    padding:0 10px
}
.product_title_mobile_box{
    display:none
}
.product_image_box{
    height:200px;
    overflow:hidden;
    text-align:left
}
.product_image_box img{
    height:100%;
    width:auto;
    display:inline-block;
    max-width:100%
}
.product_title_display_box{
    margin-bottom:10px
}
.product_title{
    position:relative;
    display:block;
    font-size:20px;
    line-height:1.2em;
    color:#189ad1;
    font-weight:700;
    margin-bottom:0
}
.sub_title{
    position:relative;
    display:block;
    font-size:16px;
    line-height:18px;
    color:#9e9e9e;
    font-weight:700
}
.product_specification_list{
    margin:0;
    padding:0
}
.product_specification_list li{
    display:table-row;
    padding-right:8px;
    font-size:14px;
    color:#555;
    font-weight:400;
    line-height:20px
}
.product_specification_list li:before{
    content:"•";
    color:#555;
    padding-right:8px;
    display:table-cell
}
.final_price{
    display:inline;
    padding-right:8px;
    color:#189ad1;
    font-size:25px;
    font-weight:600
}
.final_price:before{
    content:"₹";
    color:#189ad1;
    padding-right:0;
    display:table-cell
}
.origal_price{
    display:inline;
    padding-right:8px;
    font-size:16px;
    color:#9e9e9e;
    font-weight:400;
    text-decoration:line-through
}
.origal_price:before{
    content:"₹";
    color:#9e9e9e;
    padding-right:0;
    display:table-cell
}
.save_price_box{
    display:block;
    font-size:16px;
    color:#555;
    font-weight:400
}
.save_price{
    margin:0 5px
}
.save_price:before{
    content:"₹";
    color:#555;
    padding-right:0;
    display:table-cell
}
.percentage_off{
    margin:0 5px
}
.extra_note_details{
    display:block;
    margin-top:10px
}
.extra_note_details span{
    display:block;
    font-size:14px;
    color:#757575;
    font-weight:400
}
.pagination{
    -ms-flex-pack:center!important;
    justify-content:center!important
}
@media (max-width:576px){
    .product_title_mobile_box{
        display:block!important;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%
    }
    .product_image_box{
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%;
        text-align:center
    }
    .product_details_box{
        display:none
    }
    .product_title_display_box{
        display:block
    }
    .product_price_box{
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%
    }
    .products_box{
        text-align:center
    }
}
@media (max-width:768px){
    .device_list_section{
        padding:15px 0
    }
}
@media (min-width:576px){
    .product_title_mobile_box{
        display:block!important;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%
    }
    .product_image_box{
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%
    }
    .product_details_box{
        display:none
    }
    .product_title_display_box{
        display:block
    }
    .product_price_box{
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%
    }
}
@media (min-width:768px){
    .product_title_mobile_box{
        display:block!important;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%
    }
    .product_image_box{
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%
    }
    .product_details_box{
        display:none
    }
    .product_title_display_box{
        display:block
    }
    .product_price_box{
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%
    }
}
@media (min-width:790px){
    .product_title_mobile_box{
        display:block!important
    }
    .product_image_box{
        -ms-flex:0 0 33.333333%;
        flex:0 0 33.333333%;
        max-width:33.333333%
    }
    .product_details_box{
        -ms-flex:0 0 33.333333%;
        flex:0 0 33.333333%;
        max-width:33.333333%;
        display:block
    }
    .product_title_display_box{
        display:none
    }
    .product_price_box{
        -ms-flex:0 0 33.333333%;
        flex:0 0 33.333333%;
        max-width:33.333333%
    }
}
@media (min-width:992px){
    .product_title_mobile_box{
        display:none!important
    }
    .product_image_box{
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%
    }
    .product_details_box{
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%
    }
    .product_title_display_box{
        display:block
    }
    .product_price_box{
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%
    }
}
@media (min-width:1200px){
    .product_title_mobile_box{
        display:none
    }
    .product_image_box{
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%
    }
    .product_details_box{
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%
    }
    .product_title_display_box{
        display:block
    }
    .product_price_box{
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%
    }
}

@media only screen and (max-width:900px) {
    .page_title_section {
        padding: 40px 0px;
    }
}

