


/*--------------------------------------------------------------*/

.edtechfeature_slider_section {
    background-color:#eefdff;
    padding:100px 0px;
}

.edtechfeature_slider_section h1 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
}

.edtechfeature_slider_section a {
    background-color: #00aff0;
    padding: 10px 20px;
    color: white;
    border: 1px solid #00aff0;
    border-radius: 10px;
    font-size: 18px;
}

.edtechfeature_slider_section a:hover,
.edtechfeature_slider_section a:focus,
.edtechfeature_slider_section a:active {
    background-color: #00aff0;
    border: 1px solid #00aff0;
    color: white;
}

.edtechfeature_slider_section img {
    max-width:500px;
    max-height:500px;
    width:100%;
}

.edtechfeature_slider_section .section_title {
    text-align:right;
}

/*--------------------------------------------------------------*/
.for_institute_section {
    background-color:white;
    padding:50px 0px;
}

.for_institute_section img {
    max-width:500px;
    max-height:500px;
    width:100%;
}

.for_institute_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.for_institute_section h4 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.for_institute_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/*--------------------------------------------------------------*/

.for_teachers_faculty_section {
    background-color:white;
    padding:50px 0px;
}

.for_teachers_faculty_section img {
    max-width:500px;
    max-height:500px;
    width:100%;
}

.for_teachers_faculty_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.for_teachers_faculty_section h4 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.for_teachers_faculty_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/*--------------------------------------------------------------*/

.for_students_section {
    background-color:white;
    padding:50px 0px;
}

.for_students_section img {
    max-width:500px;
    max-height:500px;
    width:100%;
}

.for_students_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.for_students_section h4 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.for_students_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/*--------------------------------------------------------------*/

.for_parents_section {
    background-color:white;
    padding:50px 0px;
}

.for_parents_section img {
    max-width:500px;
    max-height:500px;
    width:100%;
}

.for_parents_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.for_parents_section h4 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.for_parents_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/*------------------------------------------------------------*/


p.list {
    position: relative;
    padding-left: 20px;
}

p.list i {
    position: absolute;
    left: 0;
    color: #189dd3;
    font-size: 15px;
    top: 2px;
}




@media (max-width: 768px) {
    .edtechfeature_slider_section .section_title {
        text-align: left;
        margin-bottom: 50px;
    }
    .edtechfeature_slider_section {
        padding:30px 0px 30px 0px;
    }
    .edtechfeature_slider_section img {
        max-width: 400px;
        max-height: 400px;
        width: 100%;
    }
    .for_institute_section {
        padding:50px 0px 0px 0px;
    }
    .for_institute_section img {
        max-width: 400px;
        max-height: 400px;
        width: 100%;
    }
    .for_teachers_faculty_section {
        padding:50px 0px 0px 0px;
    }
    .for_teachers_faculty_section img {
        max-width: 400px;
        max-height: 400px;
        width: 100%;
    }
    .for_students_section {
        padding:50px 0px 0px 0px;
    }
    .for_students_section img {
        max-width: 400px;
        max-height: 400px;
        width: 100%;
    }
    .for_parents_section {
        padding:50px 0px 50px 0px;
    }
    .for_parents_section img {
        max-width: 400px;
        max-height: 400px;
        width: 100%;
    }
}