



.edtech_slider_section {
    background-color:#eaf1fb;
    padding:100px 0px;
}

.edtech_slider_section h1 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.edtech_slider_section p {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #555;
    margin-bottom: 30px;
}

.edtech_slider_section a {
    background-color: #00aff0;
    padding: 10px 20px;
    color: white;
    border: 1px solid #00aff0;
    border-radius: 10px;
    font-size: 18px;
}

.edtech_slider_section a:hover,
.edtech_slider_section a:focus,
.edtech_slider_section a:active {
    background-color: #00aff0;
    border: 1px solid #00aff0;
    color: white;
}

/*-------------------------------------------------------------------------*/

.edtech_clarification_section {
    background-color:white;
    padding:20px 0px;
}

.list_clarification {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.list_clarification li {
    padding:10px 20px
}

.list_clarification li img {
    max-width:70px;
}


/*-------------------------------------------------------------------------*/


.attendance_is_required_section {
    background-color:white;
    padding:50px 0px;
}

.attendance_is_required_section img {
    max-width:500px;
    width: 100%;
}

.attendance_is_required_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.attendance_is_required_section h5 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.attendance_is_required_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/*------------------------------------------------------------------------*/

.monitoring_solution_section {
    background-color: #00aff0;
    padding: 50px 0px;
    border-bottom: 120px solid white;
    position:relative;
}

.monitoring_solution_section:before {
    content: "";
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 700px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.1;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 0px;
    border: 100px solid #000000;
}

.monitoring_solution_img {
    position: relative;
    height: 100%;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.monitoring_solution_img img {
    position: absolute;
    z-index: 1;
    bottom: -150px;
    max-width: 420px;
}


.monitoring_solution_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: white;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}

.left_monitoring {
    padding-top:50px;
}

.left_monitoring_solution_box {
    text-align: right;
    padding: 0px 100px 0px 0px;
    margin-bottom: 20px;
    position: relative;
}

.left_monitoring_solution_box i {
    position: absolute;
    right: 0px;
    height: 80px;
    width: 80px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    background-size: 60%;
}

.left_monitoring_solution_box h4 {
    width: 100%;
    color: white;
    font-size: 20px;
    margin-bottom:5px;
}

.left_monitoring_solution_box p {
    width: 100%;
    color: white;
    font-size: 15px;
    line-height: normal;
    letter-spacing: 0.2px;
    min-height:100px;
}

.right_monitoring {
    padding-top:50px;
}

.right_monitoring_solution_box {
    text-align: left;
    padding: 0px 0px 0px 100px;
    margin-bottom: 20px;
    position: relative;
}

.right_monitoring_solution_box i {
    position: absolute;
    left: 0px;
    height: 80px;
    width: 80px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    background-size: 60%;
}

.right_monitoring_solution_box h4 {
    width: 100%;
    color: white;
    font-size: 20px;
    margin-bottom:5px;
}

.right_monitoring_solution_box p {
    width: 100%;
    color: white;
    font-size: 15px;
    line-height: normal;
    letter-spacing: 0.2px;
    min-height:100px;
}


/*------------------------------------------------------------------------*/

.teachers_students_section {
    background-color:white;
    padding:50px 0px;
}

.teachers_students_section img {
    max-width:500px;
    width:100%;
}

.teachers_students_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.teachers_students_section h5 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.teachers_students_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

/*------------------------------------------------------------------------*/


.advanced_ai_technology_section {
    background-color:white;
    padding:50px 0px;
}

.advanced_ai_technology_section img {
    max-width:500px;
    width:100%;
}

.advanced_ai_technology_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.advanced_ai_technology_section h5 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.advanced_ai_technology_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/*------------------------------------------------------------------------*/


.biometric_device_section {
    background-color:white;
    padding:50px 0px;
}

.biometric_device_section img {
    max-width:500px;
    width:100%;
}

.biometric_device_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.biometric_device_section h5 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.biometric_device_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/*------------------------------------------------------------------------*/


.location_based_attendance_section {
    background-color:white;
    padding:50px 0px;
}

.location_based_attendance_section img {
    max-width:500px;
    width:100%;
}

.location_based_attendance_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.location_based_attendance_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}



/*------------------------------------------------------------------------*/


.analytics_feedback_section {
    background-color:white;
    padding:50px 0px;
}

.analytics_feedback_section img {
    max-width:500px;
    width:100%;
}

.analytics_feedback_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.analytics_feedback_section h5 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.analytics_feedback_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/*------------------------------------------------------------------------*/


.teachers_and_students_onboarded_section {
    background-color:white;
    padding:50px 0px;
}

.teachers_and_students_onboarded_section img {
    max-width:500px;
    width:100%;
}

.teachers_and_students_onboarded_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.teachers_and_students_onboarded_section h5 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.teachers_and_students_onboarded_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/*------------------------------------------------------------------------*/


.more_then_attendance_software_section {
    background-color:white;
    padding:50px 0px;
}

.more_then_attendance_software_section img {
    max-width:500px;
    width:100%;
}

.more_then_attendance_software_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.more_then_attendance_software_section h5 {
    font-size: 16px;
    color: #00aff0;
    margin-bottom: 10px;
}

.more_then_attendance_software_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/*------------------------------------------------------------------------*/

.campuses_with_technology_section {
    background-color:#eaf1fb;
    padding:50px 0px 0px 0px;
}

.campuses_with_technology_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.campuses_with_technology_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.campuses_with_technology_section .section_title {
    margin-bottom:40px;
    text-align:center;
}

.technology_list_box {
    position: relative;
    padding: 0px 0px 0px 80px;
    margin-bottom: 50px;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
}

.technology_list_box i {
    position: absolute;
    left: 20px;
    top: 0px;
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.technology_list_box p {
    font-size: 16px;
    color: #555;
    margin-bottom: 0px;
}

.gutters_no {
    padding:0px;
}

/*------------------------------------------------------------------------*/
/* client section */
.client_section{
    padding:50px 0px 50px 0px;
    background-color:white;
    position:relative;
}
.client_section h2{
    position:relative;
    display:block;
    font-size:35px;
    line-height:1.2em;
    color:#222;
    font-weight:600;
    text-align:center;
    margin-bottom:10px
}
.client_section p{
    position:relative;
    display:block;
    font-size:16px;
    line-height:24px;
    margin-bottom:50px;
    text-align:center
}
.client_section .box_client{
    overflow:hidden
}
.client_list{
    margin:-1px;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    width:101%;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.client_list li{
    text-align:center;
    border:1px solid #eee;
    padding:15px
}
.client_logo{
    text-align:center
}
.client_logo img{
    max-height:100px;
    max-width:130px
}



/*--------------------------------------------------------------------------------*/


.faq_section {
    background-color:#eaf1fb;
    padding:50px 0px;
}

.faq_section h2 {
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.faq_section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.faqs_box {
    margin-bottom:20px;
}

.faqs_header {
    font-size: 16px;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    color: #555;
    min-height: 30px;
    cursor:pointer;
    width: 100%;
}
.faqs_header strong {
    margin-right:10px;
}

.faqs_header:hover,
.faqs_header:focus,
.faqs_header:active {
    color:#00aff0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


.faqs_header[aria-expanded="true"]{
  color: #00aff0;
  font-weight:bold;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.faqs_header[aria-expanded="false"]{
  color: #555;
  font-weight:normal;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.faqs_header[aria-expanded="false"]:hover,
.faqs_header[aria-expanded="false"]:focus,
.faqs_header[aria-expanded="false"]:active {
    color:#00aff0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


.list_faq {
    position:relative;
    padding-left:30px;
}

.list_faq span {
    position:absolute;
    left:0px;
    font-weight:bold;
}


.faq_section .collapse
{
    width: 100%;
    padding:20px;
    border-bottom:1px solid rgba(0,0,0,.1);
}


/*--------------------------------------------------------------------------------*/



@media screen and (max-width: 1400px) {
    .left_monitoring {
        padding-top: 0px;
    }
    .right_monitoring {
        padding-top: 0px;
    }
    .monitoring_solution_img img {
        max-width: 380px;
    }
}

@media screen and (max-width: 1000px) {
    .monitoring_solution_img img {
        max-width: 300px;
    }
}
@media (max-width: 991px) {
    .monitoring_solution_img {
        height: calc(500px - 150px);
        display: block;
    }
    .monitoring_solution_img img {
        position:relative;
        bottom: 0px;
    }
}
@media (max-width: 576px){
    .left_monitoring_solution_box {
        text-align: left;
        padding: 0px 0px 0px 100px;
    }
    .left_monitoring_solution_box i {
        right: unset;
        left: 0px;
    }
    .left_monitoring_solution_box p {
        min-height:50px;
    }
    .right_monitoring_solution_box p {
        min-height:50px;
    }
    .monitoring_solution_img {
        height: calc(500px - 150px);
        display: block;
    }
    .monitoring_solution_img img {
        position:relative;
        bottom: 0px;
    }
}
















