.page-header.navbar {
    background-color: #1c96cd;
}
.page-content {
    background-color: #EEEEEE;
}



.account_details {
    
    margin-bottom: 30px;
    position: relative;
    height: auto;
    padding-left: 120px;
}
.company_logo {
    width: 110px;
    position: absolute;
    left: 0px;
    height: auto;
    border-right: 1px solid #9E9E9E;
    padding-right:10px;
}
.company_logo img {
    width: 100%;
    height: auto;
}
.company_name {
    font-size: 15px;
    color: #1c96cd;
    font-weight: 600;
}
.Account_Manager_details {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #616161;
    font-weight: 600;
}
.Account_Manager_details span {
    color: #1c96cd;
    font-weight: 600;
}





.count_company_box {
    background-color: white;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    border: none;
    margin-bottom: 30px;
    border-radius: 5px !important;
    padding: 20px;
}

a.Total_Company_box {
    display: block;
    position: relative;
    padding-right: 90px;
    color: #536dfe;
}
a.Total_Company_box i {
    font-size: 60px;
    color: #536dfe;
    position: absolute;
    right: 20px;
    top: 15px;
    line-height: unset !important;
}
a.Total_Company_box h6 {
    color: #78909c;
    font-size: 20px;
    font-weight: 500;
}
a.Total_Company_box h2 {
    margin: 0px;
    font-weight: 700;
}
a.Total_Company_box:hover h2, a.Total_Company_box:focus h2, a.Total_Company_box:active h2 {
    color: #536dfe;
}





a.Total_Employee_box {
    display: block;
    position: relative;
    padding-right: 90px;
    color: #11c15b;
}
a.Total_Employee_box i {
    font-size: 60px;
    color: #11c15b;
    position: absolute;
    right: 20px;
    top: 15px;
    line-height: unset !important;
}
a.Total_Employee_box h6 {
    color: #78909c;
    font-size: 20px;
    font-weight: 500;
}
a.Total_Employee_box h2 {
    margin: 0px;
    font-weight: 700;
}
a.Total_Employee_box:hover h2, a.Total_Employee_box:focus h2, a.Total_Employee_box:active h2 {
    color: #11c15b;
}


a.No_of_Device_box {
    display: block;
    position: relative;
    padding-right: 90px;
    color: #00bcd4;
}
a.No_of_Device_box i {
    font-size: 60px;
    color: #00bcd4;
    position: absolute;
    right: 20px;
    top: 15px;
    line-height: unset !important;
}
a.No_of_Device_box h6 {
    color: #78909c;
    font-size: 20px;
    font-weight: 500;
}
a.No_of_Device_box h2 {
    margin: 0px;
    font-weight: 700;
}
a.No_of_Device_box:hover h2, a.No_of_Device_box:focus h2, a.No_of_Device_box:active h2 {
    color: #00bcd4;
}


a.No_of_Lincence_box{
    display: block;
    position: relative;
    padding-right: 90px;
    color: #ff5252;
}
a.No_of_Lincence_box i {
    font-size: 60px;
    color: #ff5252;
    position: absolute;
    right: 20px;
    top: 15px;
    line-height: unset !important;
}
a.No_of_Lincence_box h6 {
    color: #78909c;
    font-size: 20px;
    font-weight: 500;
}
a.No_of_Lincence_box h2 {
    margin: 0px;
    font-weight: 700;
}
a.No_of_Lincence_box:hover h2, a.No_of_Lincence_box:focus h2, a.No_of_Lincence_box:active h2 {
    color: #ff5252;
}


a.No_assigned_Lincence_box{
    display: block;
    position: relative;
    padding-right: 90px;
    color: #ff5252;
}
a.No_assigned_Lincence_box i {
    font-size: 60px;
    color: #ff5252;
    position: absolute;
    right: 20px;
    top: 15px;
    line-height: unset !important;
}
a.No_assigned_Lincence_box h6 {
    color: #78909c;
    font-size: 20px;
    font-weight: 500;
}
a.No_assigned_Lincence_box h2 {
    margin: 0px;
    font-weight: 700;
}
a.No_assigned_Lincence_box:hover h2, a.No_assigned_Lincence_box:focus h2, a.No_assigned_Lincence_box:active h2 {
    color: #ff5252;
}










.card {
    display: block;
    background-color: white;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    border: none;
    margin-bottom: 30px;
    border-radius: 5px !important;
}
.card-body {
    padding:20px;
}
.table-scrollable {
    border: 0px !important;
}
.table_Dashboard_data {
    border: 0px !important;
}
.table_Dashboard_data thead tr th {
    background: white !important;
    border-top: 0px !important;
    border-bottom: 1px;
    color: #616161;
}
.table_Dashboard_data thead tr th:first-child {
    border-left: 0px !important;
}
.table_Dashboard_data thead tr th:last-child {
    border-right: 0px !important;
}
.table_Dashboard_data tbody tr:hover, .table_Dashboard_data tbody tr:hover td.sorting_1 {
    background-color:#1c96cd38 !important;
}




@media screen and (max-width: 1400px) and (min-width: 1300px) {
    a.Total_Company_box h6, a.Total_Employee_box h6, a.No_of_Device_box h6, a.No_of_Lincence_box h6
    {
        font-size:17px;
    }
}

@media screen and (max-width: 1300px) and (min-width: 992px) {
    a.Total_Company_box h6, a.Total_Employee_box h6, a.No_of_Device_box h6, a.No_of_Lincence_box h6
    {
        font-size:17px;
        height:50px;
    }
}
@media screen and (max-width: 767px) {
    .account_details
    {
        margin-bottom:10px;
    }
    .Account_Manager_details {
        text-align: left;
        margin-bottom: 20px;
    }
}