@media screen and (max-width: 1350px) and (min-width: 1000px) {
    .Register_box
    {
        max-width: 80%;
    }
}
@media screen and (max-width: 1000px) and (min-width: 800px) {
    .Register_box
    {
        max-width: 80%;
    }
    .logo 
    {
        text-align: center;
    }
    .layout_body tbody tr.logo_tr td {
        text-align: center;
    }
    .layout_body tbody tr.copright_line_tr td {
        text-align: center;
    }
}
@media screen and (max-width: 800px) {
    .login_box h1 {
        font-size: 20px;
    }
    .Register_box h1 {
        font-size: 20px;
    }
    .layout_body tbody tr.logo_tr td {
        height: auto;
    }
    .layout_body tbody tr.copright_line_tr td {
        height: auto;
    }
    .Register_box
    {
        max-width: 80%;
    }
    .logo 
    {
        text-align: center;
    }
    .layout_body tbody tr.logo_tr td {
        text-align: center;
    }
    .layout_body tbody tr.copright_line_tr td {
        text-align: center;
    }
    .copright_line {
        text-align: center;
    }
    .logo .logo_tag_line {
        font-size: 25px;
    }
}
@media screen and (max-width: 500px) {
    .logo .logo_tag_line {
        font-size: 20px;
    }
    .login_box {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .Forgot_Password_box {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .Register_box
    {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .copright_line {
        text-align: center;
    }
    .register_box_btn {
        display: block;
    }
    .forgot_password_box_btn {
        display: block;
        float: none;
        margin-top: 10px;
    }
    .forgot_password_login_btn {
        display: block;
        float: none;
        margin-top: 10px;
    }
    .facebook_icon {
        margin: 5px 5px;
    }
    .google_plus_icon {
        margin: 5px 5px;
    }
    .twitter_icon {
        margin: 5px 5px;
    }
    .linkedin_icon {
        margin: 5px 5px;
    }
}