*::-webkit-scrollbar{
  width: 10px;
  border-radius: 0px;
  background-clip: padding-box;
  border: 0px solid transparent;
  background-color: #26303b;
}
*::-webkit-scrollbar-thumb {
  width: 10px;
  min-height: 20px;
  border-radius: 0px;
  background-clip: padding-box;
  border: 10px solid #3ed9ff;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}


* {
    margin:0px;
    padding:0px;
}
body {
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

.dealerlogin_body
{
    background-image:url('../../assets/images/dealer_login.jpg');
    height: 100vh;
    width: 100%;
    background-size: inherit;
    background-position: center;
    background-repeat:repeat;
}
/*-----------------------------------*/
.layout_body
{
    height:100vh;
    width:100%;
    margin:0px;
    padding:0px;
    background-color: #00000080;
}
/*.layout_body tbody tr td {
    text-align:center;
    vertical-align:middle;
    padding:0px 50px 0px 50px;
}*/
.layout_body tbody tr.logo_tr td {
    text-align: left;
    vertical-align: text-bottom;
    padding: 10px;
    height: 150px;
}
.layout_body tbody tr.main_box td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    height: calc(100% - 200px);
}
.layout_body tbody tr.copright_line_tr td {
    text-align: right;
    vertical-align: middle;
    padding: 0px 20px;
    height: 50px;
}
/*-----------------------------------*/
.login_box {
        display: inline-block;
    margin: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: left;
    width: 350px;
    max-width: 500px;
    min-width: 300px;
}
/*-----------------------------------*/
.logo {
    display: inline-block;
    text-align: left;
    /*position: fixed;
    left: 20px;
    top: 20px;*/
}
.logo img {
    width: 200px;
    height:auto;
    margin: 0px;
    padding: 0px;
}
.logo .logo_tag_line {
    display: block;
    font-size: 30px;
    color: #3fd6fd;
    font-weight: 100;
    margin: 10px 20px;
}
/*-----------------------------------*/
.copright_line {
    display: inline-block;
    text-align: left;
    /*position: fixed;
    right: 20px;
    bottom: 20px;*/
    color: white;
    font-size: 15px;
    letter-spacing: 0.3px;
    font-weight: 100;
}
.copright_line a{
    color: #3fd6fd;
    display: inline-block;
    text-decoration: none;
}
.copright_line a:hover, .copright_line a:focus, .copright_line a:active {
    color: #3fd6fd;
    text-decoration:none;
    outline:none;
}

/*-----------------------------------*/
.login_box h1 {
    margin: 20px 0px 20px 0px;
    padding: 10px;
    text-align: center;
    border-top: 1px dotted #9E9E9E;
    border-bottom: 1px dotted #9E9E9E;
    font-size: 25px;
    color: #1c96cd;
    font-family: sans-serif;
    letter-spacing: 0.6px;
}
.login_box h2 {
    margin: 20px 0px 20px 0px;
    padding: 10px;
    text-align: center;
    border-top: 1px dotted #9E9E9E;
    border-bottom: 1px dotted #9E9E9E;
    font-size: 25px;
    color: #757575;
    font-family: sans-serif;
    letter-spacing: 0.6px;
}
/*-----------------------------------*/
.form-group {
    margin-bottom: 15px;
    transition: all .5s ease;
    position: relative;
}
.form-group label {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.3px;
    color: #757575;
}
.form-group input {
    display: block;
    border-radius: 0px;
    border: 1px solid #BDBDBD;
    background-color: white;
    box-shadow: none;
    color: #757575;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    padding: 0px 5px;
    transition: all .5s ease;
}
.form-group:hover label {
    color:#2093ca;
    transition: all .5s ease;
}
.form-group:hover input {
    border-color:#2093ca;
    transition: all .5s ease;
}
.form-group input:focus, .form-group input:active {
    border-color:#2093ca;
    transition: all .5s ease;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-group select {
    display: block;
    border-radius: 0px;
    border: 1px solid #BDBDBD;
    background-color: white;
    box-shadow: none;
    color: #757575;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    padding: 0px 5px;
    transition: all .5s ease;
}
.form-group:hover select {
    border-color:#2093ca;
    transition: all .5s ease;
}
.form-group select:focus, .form-group select:active
{
    border-color:#2093ca;
    transition: all .5s ease;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}


.form-group textarea {
    margin: 0px -4px 0px 0px;
    width: 100%;
    height: 70px;
    max-height: 70px;
    min-height: 70px;
    min-width: 100%;
    max-width: 100%;
}
.form-group input[type=file] {
    padding: 2px;
    line-height: unset;
}


.error_span {
    color: red;
    display: none;
    font-size: 13px;
    position: absolute;
    bottom: -15px;
    height: 15px;
}



/*-----------------------------------*/
.Remember_me_box
{
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: all .5s ease;
}
[type=checkbox]:checked, [type=checkbox]:not(:checked)
{
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
[type=checkbox]+label:not(.lever)
{
  font-size: 14px;
  line-height: 25px;
  position: relative;
  display: inline-block;
  height: 25px;
  padding-left: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0.3px;
  color: #757575;
  transition: all .5s ease;
  margin-bottom:0px;
  cursor:pointer;
}
[type=checkbox]+label:not(.lever):before, [type=checkbox]:not(.filled-in)+label:not(.lever):after
{
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  margin-top: 3px;
  content: '';
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid #9E9E9E;
  border-radius: 1px;
}
.Remember_me_box [type=checkbox]+label:not(.lever):before, .Remember_me_box [type=checkbox]:not(.filled-in)+label:not(.lever):after
{
  border-color: #9E9E9E;
}
[type=checkbox]:checked+label:not(.lever):before
{
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  border-top: 1px solid transparent;
  border-right: 1px solid #2093ca;
  border-bottom: 1px solid #2093ca;
  border-left: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
[type=checkbox]:not(.filled-in)+label:not(.lever):after
{
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  border: 0;
}


.Remember_me_box:hover [type=checkbox]+label:not(.lever) {
    color:#2093ca;
    transition: all .5s ease;
}
/*-----------------------------------*/
.login_btn {
    display: block;
    width: 150px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background-color: #1c96cd;
    border: 1px solid #1c96cd;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    box-shadow: 2px 2px 10px #ababab;
}
.login_btn i {
    margin-right:10px;
}
.login_btn:hover, .login_btn:focus, .login_btn:active {
    outline: none;
    color: white;
    text-decoration: none;
}
/*-----------------------------------*/
/*-----------------------------------*/
.Register_btn {
    display: block;
    width: 150px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background-color: #1c96cd;
    border: 1px solid #1c96cd;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    box-shadow: 2px 2px 10px #ababab;
}
.Register_btn i {
    margin-right:10px;
}
.Register_btn:hover, .Register_btn:focus, .Register_btn:active {
    outline: none;
    color: white;
    text-decoration: none;
}
/*-----------------------------------*/
.other_part_url_box {
    margin: 20px 0px 0px 0px;
    padding: 10px 0px;
    text-align: left;
    border-top: 1px dotted #9E9E9E;
    border-bottom: 1px dotted #9E9E9E;
    background-color: white;
    clear: both;
    display: block;
    width: 100%;
}

.register_box_btn {
    color: #757575;
    display: inline-block;
    font-size: 14px;
}
.register_box_btn:hover, .register_box_btn:focus, .register_box_btn:active {
    color:#2093ca;
    outline:none;
    text-decoration:none;
}
.Login_box_btn {
    color: #757575;
    display: inline-block;
    font-size: 14px;
}
.Login_box_btn:hover, .Login_box_btn:focus, .Login_box_btn:active {
    color:#2093ca;
    outline:none;
    text-decoration:none;
}

.forgot_password_box_btn {
    float: right;
    color: #757575;
    display: inline-block;
    font-size: 14px;
    clear: both;
}
.forgot_password_box_btn:hover, .forgot_password_box_btn:focus, .forgot_password_box_btn:active {
    color:#2093ca;
    outline:none;
    text-decoration:none;
}


.forgot_password_login_btn {
    color: #757575;
    display: inline-block;
    font-size: 14px;
    clear: both;
}
.forgot_password_login_btn:hover, .forgot_password_login_btn:focus, .forgot_password_login_btn:active {
    color:#2093ca;
    outline:none;
    text-decoration:none;
}

/*-----------------------------------*/
.social_icon_box {
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
}

.facebook_icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color: #3b5998;
    color: white;
    border-radius: 100%;
    margin: 0px 5px;
    font-size: 14px;
}
.facebook_icon:hover, .facebook_icon:focus, .facebook_icon:active {
    color: white;
    background-color: #3b5998;
    outline:none;
    text-decoration:none;
}
.google_plus_icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color: #dc4e41;
    color: white;
    border-radius: 100%;
    margin: 0px 5px;
    font-size: 14px;
}
.google_plus_icon:hover, .google_plus_icon:focus, .google_plus_icon:active {
    color: white;
    background-color: #dc4e41;
    outline:none;
    text-decoration:none;
}


.twitter_icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color: #55acee;
    color: white;
    border-radius: 100%;
    margin: 0px 5px;
    font-size: 14px;
}
.twitter_icon:hover, .twitter_icon:focus, .twitter_icon:active {
    color: white;
    background-color: #55acee;
    outline:none;
    text-decoration:none;
}


.linkedin_icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color: #007ab9;
    color: white;
    border-radius: 100%;
    margin: 0px 5px;
    font-size: 14px;
}
.linkedin_icon:hover, .linkedin_icon:focus, .linkedin_icon:active {
    color: white;
    background-color: #007ab9;
    outline:none;
    text-decoration:none;
}

/*-----------------------------------*/


/*-----------------------------------*/
.Register_box {
    display: inline-block;
    margin: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: left;
    width: auto;
    max-width: 70%;
    min-width: 300px;
}
/*-----------------------------------*/
.Register_box h1 {
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 0px;
    text-align: center;
    border-top: 1px dotted #9E9E9E;
    border-bottom: 1px dotted #9E9E9E;
    font-size: 25px;
    color: #1c96cd;
    font-family: sans-serif;
    letter-spacing: 0.6px;
}
.Register_box h2 {
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 0px;
    text-align: center;
    border-top: 1px dotted #9E9E9E;
    border-bottom: 1px dotted #9E9E9E;
    font-size: 25px;
    color: #757575;
    font-family: sans-serif;
    letter-spacing: 0.6px;
}
/*-----------------------------------*/


.Forgot_Password_box {
    display: inline-block;
    margin: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: left;
    width: 350px;
    max-width: 500px;
    min-width: 300px;
}
.Send_OTP_box h1 {
    margin: 20px 0px 20px 0px;
    padding: 10px;
    text-align: center;
    border-top: 1px dotted #9E9E9E;
    border-bottom: 1px dotted #9E9E9E;
    font-size: 25px;
    color: #1c96cd;
    font-family: sans-serif;
    letter-spacing: 0.6px;
}
.get_OTP_box h1 {
    margin: 20px 0px 20px 0px;
    padding: 10px;
    text-align: center;
    border-top: 1px dotted #9E9E9E;
    border-bottom: 1px dotted #9E9E9E;
    font-size: 25px;
    color: #1c96cd;
    font-family: sans-serif;
    letter-spacing: 0.6px;
}
.Confirm_Password_box h1 {
    margin: 20px 0px 20px 0px;
    padding: 10px;
    text-align: center;
    border-top: 1px dotted #9E9E9E;
    border-bottom: 1px dotted #9E9E9E;
    font-size: 25px;
    color: #1c96cd;
    font-family: sans-serif;
    letter-spacing: 0.6px;
}
/*-----------------------------------*/
.Send_OTP_btn {
    display: block;
    width: 150px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background-color: #1c96cd;
    border: 1px solid #1c96cd;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    box-shadow: 2px 2px 10px #ababab;
}
.Send_OTP_btn i {
    margin-right:10px;
}
.Send_OTP_btn:hover, .Send_OTP_btn:focus, .Send_OTP_btn:active {
    outline: none;
    color: white;
    text-decoration: none;
}
/*-----------------------------------*/
/*-----------------------------------*/
.OTP_Verification_btn {
    display: block;
    width: 170px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background-color: #1c96cd;
    border: 1px solid #1c96cd;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    box-shadow: 2px 2px 10px #ababab;
}
.OTP_Verification_btn i {
    margin-right:10px;
}
.OTP_Verification_btn:hover, .OTP_Verification_btn:focus, .OTP_Verification_btn:active {
    outline: none;
    color: white;
    text-decoration: none;
}
/*-----------------------------------*/
/*-----------------------------------*/
.Confirm_Password_btn {
    display: block;
    width: 170px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background-color: #1c96cd;
    border: 1px solid #1c96cd;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    box-shadow: 2px 2px 10px #ababab;
}
.Confirm_Password_btn i {
    margin-right:10px;
}
.Confirm_Password_btn:hover, .Confirm_Password_btn:focus, .Confirm_Password_btn:active {
    outline: none;
    color: white;
    text-decoration: none;
}
/*-----------------------------------*/

.required, .form-group .required {
    color: #e02222;
    font-size: 12px;
    padding-left: 2px;
}
.otpVerification {
    color: #757575;
    display: inline-block;
    font-size: 14px;
    margin-left:100px;
}
