.mysubscription {
    display: block;
}

    .mysubscription .nav-tabs {
        margin: 0;
        padding: 0;
        border: none;
        display: block;
        margin-bottom: 10px;
    }

        .mysubscription .nav-tabs > li {
            margin: 0;
            float: none;
            display: inline-block;
        }

            .mysubscription .nav-tabs > li > a {
                margin: 0;
                padding: 2px 10px 2px 10px;
                font-size: 14px;
                background-color: transparent;
                border: 1px solid transparent;
                color: #666666;
                margin-right: 9px;
            }

                .mysubscription .nav-tabs > li > a:hover {
                    color: #000000;
                    border-bottom: 2px solid #a9a9a9 !important;
                }

            .mysubscription .nav-tabs > li.active > a {
                background-color: transparent;
                color: #000000;
                border-bottom: 2px solid #a9a9a9 !important;
                border-color: transparent;
            }

                .mysubscription .nav-tabs > li.active > a > i {
                    color: #000000 !important;
                }

                .mysubscription .portlet .portlet-title {
                    min-height: auto;
                }

        .mysubscription .portlet .portlet-title .caption {
            padding: 0 0;
        }

.tab_content_box {
    color: #333;
    margin: 0;
    padding: 0;
}

    .tab_content_box .tab-pane {
        margin: 0;
        padding: 0;
        border: 0;
    }

.account_details_table {
    margin: 0;
    padding: 0;
}

    .account_details_table tbody tr th {
        padding: 5px 0;
        font-weight: 500;
    }

    .account_details_table tbody tr td {
        padding: 5px 0;
    }

    .account_details_table tbody tr:first-child th {
        border-top: 0;
    }

    .account_details_table tbody tr:first-child td {
        border-top: 0;
    }

.partner_details_table {
    margin: 0;
    padding: 0;
}

    .partner_details_table tbody tr th {
        padding: 5px 0;
        font-weight: 500;
    }

    .partner_details_table tbody tr td {
        padding: 5px 0;
    }

    .partner_details_table tbody tr:first-child th {
        border-top: 0;
    }

    .partner_details_table tbody tr:first-child td {
        border-top: 0;
    }

.billing_details_table {
    margin: 0;
    padding: 0;
}

    .billing_details_table tbody tr th {
        padding: 5px 0;
        font-weight: 500;
    }

    .billing_details_table tbody tr td {
        padding: 5px 0;
    }

    .billing_details_table tbody tr:first-child th {
        border-top: 0;
    }

    .billing_details_table tbody tr:first-child td {
        border-top: 0;
    }

.Price_label {
    margin-bottom: 20px;
    display: block;
    padding-top: 10px;
}

    .Price_label > p {
        margin: 0 0 5px 0;
        font-size: 13px;
        color: grey;
    }

        .Price_label > p > b {
            margin-right: 5px;
        }

#dvplanlnk {
    margin-bottom: 20px;
}

#dvUseradd {
    margin-bottom: 20px;
}

.order_history_table {
    width: 100%;
}

    .order_history_table thead tr th {
        color: #424242;
        font-weight: 700;
        padding: 5px;
        border-bottom: 1px solid #424242;
        vertical-align: middle;
    }

    .order_history_table tbody tr td {
        vertical-align: middle;
        padding: 5px;
        color: #000;
    }

        .order_history_table tbody tr td.device_img img {
            width: 50px;
        }

        .order_history_table thead tr th.extended_warranty, .order_history_table tbody tr td.extended_warranty {
            text-align: center;
        }

        .order_history_table thead tr th.intallation_service, .order_history_table tbody tr td.intallation_service {
            text-align: center;
        }

        .order_history_table thead tr th.price, .order_history_table tbody tr td.price {
            text-align: right;
        }

        .order_history_table thead tr th.quantity, .order_history_table tbody tr td.quantity {
            text-align: right;
        }

        .order_history_table thead tr th.total, .order_history_table tbody tr td.total {
            text-align: right;
        }

        .order_history_table thead tr th.view_details, .order_history_table tbody tr td.view_details {
            text-align: right;
        }

.order_history_list {
    margin: 0;
    padding: 20px;
    background-color: #f4f5fa;
    border-radius: 5px !important;
}

.order_history_header {
    padding: 0;
    border-bottom: 1px dashed var(--navyblue_color);
    margin-bottom: 20px;
}

    .order_history_header p {
        margin: 0 0 5px 0;
        color: var(--navyblue_color);
        letter-spacing: .2px;
        word-spacing: .5px;
    }

        .order_history_header p b {
            margin-right: 5px;
            color: gray;
        }

ul.order_history_body {
    margin: 0;
    padding: 0;
    width: 100%;
}

    ul.order_history_body li {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px dashed #bdbdbd;
        padding-left: 100px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

        ul.order_history_body li:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: 0;
        }

        ul.order_history_body li img {
            position: absolute;
            left: 0;
            top: auto;
            bottom: auto;
            max-width: 50px;
            max-height: 50px;
            width: auto;
            height: auto;
        }

        ul.order_history_body li p {
            font-size: 11px;
            margin: 0 0 3px 0;
            color: gray;
            letter-spacing: .2px;
            word-spacing: .5px;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }

            ul.order_history_body li p b {
                margin-right: 5px;
            }

.invoice_modal_box .modal-content {
    box-shadow: none;
}

.invoice_modal_box .modal-body {
    height: calc(100vh - 43px);
}

@media screen and (max-width:768px) {
    ul.order_history_body li p {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
