/* ================== Expense Request : Begin ================== */
.EMS_details_table .tbl_newdatatbl > tbody > tr > td {
    text-align: left !important;
}

    .EMS_details_table .tbl_newdatatbl > tbody > tr > td > a.clm_view_btn,
    .EMS_details_table .tbl_newdatatbl > tbody > tr > td > a.clm_edit_btn,
    .EMS_details_table .tbl_newdatatbl > tbody > tr > td > a.clm_delete_btn,
    .EMS_details_table .tbl_newdatatbl > tbody > tr > td > a.clm_renew_btn {
        /*font-size: 16px;*/
    }

    .EMS_details_table .tbl_newdatatbl > tbody > tr > td > a.clm_edit_btn {
        /*color: var(--navyblue_color);*/
    }

    .EMS_details_table .tbl_newdatatbl > tbody > tr > td > a.clm_delete_btn {
        /*color: #CC3535;*/
    }

    .EMS_details_table .tbl_newdatatbl > tbody > tr > td > a.clm_view_btn {
        /*color: #964FCE;*/
    }

    .EMS_details_table .tbl_newdatatbl > tbody > tr > td > a.reject_btn {
        font-size: 12px;
        color: #CC3535;
        border: 1px solid #CC3535;
        border-radius: 3px !important;
    }

    .EMS_details_table .tbl_newdatatbl > tbody > tr > td.text-center {
        text-align: center !important;
    }

.er_details {
    background-color: #ffffff;
}

    .er_details .er_details__title {
        font-size: 14px;
        font-weight: 600;
        color: #252525;
    }

        .er_details .er_details__title.blue_font {
            color: #0964AD;
        }

    .er_details .er_details__box {
        display: inline-block;
        width: 100%;
    }

    .er_details .er_details__heightcard {
        height: calc(100vh - 180px);
        overflow: auto;
        margin-bottom: -5px;
    }

    .er_details .er_upload__heightcard {
        height: calc(100vh - 208px);
        overflow: auto;
    }

    .er_details .er_details__box .input-group-addon {
        padding: 3px 12px;
        font-size: 13px;
    }

    .er_details .er_details__box .fileinput-exists {
        border-radius: 3px !important;
    }

    .er_details .radio_box .mt-radio {
        margin-right: 5px;
        padding-left: 28px;
        border: none;
    }

.er_details__box .er_details__uploadblock {
    background-color: #F3F3F3;
    padding: 8px;
}

    .er_details__box .er_details__uploadblock .er_details__boxdetail {
        background-color: #fff;
        display: inline-block;
        padding: 16px 0;
        margin-bottom: 5px !important;
        position: relative;
    }

        .er_details__box .er_details__uploadblock .er_details__boxdetail:last-child {
            margin-bottom: 0px !important;
        }

    .er_details__box .er_details__uploadblock .er_details__close {
        position: absolute;
        color: #b10a0a;
        top: 3px;
        right: 6px;
        z-index: 1111;
        font-size: 19px;
        opacity: 1;
    }

.appr_block {
    background-color: #F3F3F3;
}

    .appr_block .appr_block__box {
        background-color: #fff;
        padding: 8px;
    }

        .appr_block .appr_block__box span {
        }

    .appr_block .appr_block__emp_box {
        margin: 10px 0;
    }

        .appr_block .appr_block__emp_box img {
            width: 30px;
            height: 30px;
            border-radius: 50% !important;
        }

.custom-timeline-box {
    padding: 10px;
}

    .custom-timeline-box .timeline-list .custom-timeline {
        position: relative;
        padding-left: 3.5rem;
    }

        .custom-timeline-box .timeline-list .custom-timeline li .timeline-details img {
            border-radius: 50% !important;
        }

        .custom-timeline-box .timeline-list .custom-timeline::before {
            content: " ";
            position: absolute;
            top: 10px;
            bottom: 60px;
            left: 10px;
            width: 2px;
            background-color: #DDDDDD;
        }

        .custom-timeline-box .timeline-list .custom-timeline li {
            list-style-type: none;
            position: relative;
        }

            .custom-timeline-box .timeline-list .custom-timeline li::before,
            .custom-timeline-box .timeline-list .custom-timeline li::after {
                content: " ";
                display: table;
            }

            .custom-timeline-box .timeline-list .custom-timeline li .timeline-badge {
                width: 20px;
                height: 20px;
                line-height: 20px;
                font-size: 1.4em;
                text-align: center;
                position: absolute;
                top: 8px;
                left: -34px;
                margin-left: 0px;
                background-color: #F3F3F3;
                z-index: 100;
                border-radius: 50% !important;
                border: 6px solid #7F7F7F;
            }

            .custom-timeline-box .timeline-list .custom-timeline li .timeline-panel {
                background-color: #ffffff;
                padding: 8px;
                border-radius: 3px !important;
                margin-bottom: 20px;
                box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 20%);
            }

                .custom-timeline-box .timeline-list .custom-timeline li .timeline-panel .timeline-heading {
                    font-size: 12px;
                }

                    .custom-timeline-box .timeline-list .custom-timeline li .timeline-panel .timeline-heading p {
                        color: #7F7F7F;
                    }

                    .custom-timeline-box .timeline-list .custom-timeline li .timeline-panel .timeline-heading span {
                        position: relative;
                    }

                        .custom-timeline-box .timeline-list .custom-timeline li .timeline-panel .timeline-heading span:before {
                            content: "";
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            top: 5px;
                            left: -10px;
                            background-color: #888888;
                            border-radius: 50% !important;
                        }

.timeline-details p {
    font-size: 11px;
    color: #666;
}

.bubble-msg-box::after {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    right: auto;
    left: -8px;
    border-bottom: 8px solid rgba(0,0,0,0);
    border-left: 0;
    border-right: 8px solid #ffffff;
    border-top: 8px solid rgba(0,0,0,0);
}

.bubble-msg-box::before {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    right: auto;
    left: -9px;
    border-bottom: 8px solid rgba(0,0,0,0);
    border-left: 0;
    border-right: 9px solid #a3a3a3;
    border-top: 8px solid rgba(0,0,0,0);
}
/* ================== Expense Request : End ================== */



/* ================== Expense Review : End ================== */
.exp_review_userdetail .emp_box span p {
    width: auto;
}

    .exp_review_userdetail .emp_box span p:first-child {
        font-size: 14px;
    }

.exp_review_amount .amt_total {
    font-size: 14px;
    font-weight: 600;
}

.expense_detailblock {
    padding: 16px 16px 0px 16px;
}

    .expense_detailblock .expense_title {
        font-size: 14px;
        color: #0964AD;
        font-weight: 600;
        margin: 0px 0 8px 0;
    }

        .expense_detailblock .expense_title span {
            font-size: 12px;
            font-weight: normal;
            margin-left: 8px;
        }

    .expense_detailblock a.trip_status {
        font-size: 14px;
        color: var(--navyblue_color);
    }

.expense_bodydata .expense_head {
    color: #757575;
    margin: 0;
}

.expense_bodydata .expense_value {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
    min-height: 20px;
}

.expense_bodydata .mb-0.expense_value {
    margin-bottom: 0px;
}

.expense_bill_block {
    background-color: #f5f9fd;
    padding: 16px;
}

    .expense_bill_block .expense_bill_linenew {
        background-color: #ffffff;
        padding: 8px;
    }

    .expense_bill_block .expense_bill_title {
        background-color: #f5f9fd;
        margin-bottom: 12px;
        padding: 5px;
    }

.expense_footer_btn a {
    width: 50%;
    margin: 0 5px;
    border: 1px solid;
    border-radius: 3px !important;
    height: 32px;
    line-height: normal !important;
}

    .expense_footer_btn a.red_font:hover, .expense_footer_btn a.red_font:active, .expense_footer_btn a.red_font:focus {
        color: #ffffff;
        background-color: #b10a0a;
        border-color: #b10a0a;
    }

    .expense_footer_btn a.orange_font:hover, .expense_footer_btn a.orange_font:active, .expense_footer_btn a.orange_font:focus {
        color: #ffffff;
        background-color: #E9730C;
        border-color: #E9730C;
    }

    .expense_footer_btn a.green_font {
        background-color: #107E3E;
        color: #ffffff;
    }

.expensereview__heightcard {
    height: calc(100vh - 218px);
    overflow: auto;
}

/* Swal Slert Box Design: Begin */
/*.swal2-content .swal_title {
    text-align: left;
}

    .swal2-content .swal_title.text-center {
        text-align: center !important;
    }

.swal2-content .swal_subtitle.grey_font {
    color: #333;
    text-align: left;
}

.swal2-content .swal_subtitle.text-center {
    text-align: center !important;
}

.swal2-content .swal_thirdtitle.f-12 {
    font-size: 12px;
    line-height: normal;
    margin-bottom: 5px;
    text-align: left;
}

.swal2-content .swal_redmsg {
    font-size: 12px;
    text-align: left;
}

.swal2-popup .swal2-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}

.swal2-actions .swal-cancel-button-class {
    background-color: #fff !important;
    border: 1px solid #d33 !important;
    color: #d33;
    height: 30.5px;
}

    .swal2-actions .swal-cancel-button-class:hover {
        background-image: none !important;
    }*/
/* Swal Slert Box Design : End */
/* ================== Expense Review : End ================== */


/* ================== Trip Request : Begin ================== */
.depart_box {
    background-color: #ecf3ff;
    padding: 8px;
    border-radius: 6px !important;
}

    .depart_box .depart_box__block {
        background-color: #ffffff;
        padding: 16px;
        position: relative;
        border-radius: 6px !important;
    }

        .depart_box .depart_box__block .er_details__close {
            position: absolute;
            color: #b10a0a;
            top: 3px;
            right: 6px;
            z-index: 1111;
            font-size: 19px;
            opacity: 1;
        }

.depart_box__card {
    height: calc(100vh - 180px);
    overflow: auto;
}

.tripview__heightcard {
    height: calc(100vh - 265px);
    overflow: auto;
}

.e_status_block {
    background-color: #ffffff;
    padding: 10px;
}

    .e_status_block ul {
        margin-bottom: 0;
    }

        .e_status_block ul li {
            border-bottom: 1px solid #F4F4F4;
            padding: 5px 0;
        }

            .e_status_block ul li:last-child {
                border-bottom: 0;
            }

.ems_emp_box {
    display: flex;
}

    .ems_emp_box img.user_img {
        border-radius: 50% !important;
        width: 32px;
        height: 32px;
        margin-right: 5px;
    }

    .ems_emp_box p:first-child {
        font-weight: 600;
        margin-bottom: 2px;
    }

        .ems_emp_box p:first-child span {
            font-weight: normal;
            margin-left: 10px;
        }

    .ems_emp_box p {
        margin: 0;
        font-size: 12px;
    }

.ems_emp_status {
    min-width: 80px;
}

    .ems_emp_status p {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        text-align: right;
    }

/* ================== Trip Request : End ================== */


/* ================== Review Trip  : Begin ================== */
.trip_detail {
}

    .trip_detail p {
        margin-bottom: 0;
        font-size: 12px;
        white-space: nowrap;
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        min-height: 18px;
    }

        .trip_detail p:first-child {
            font-weight: 600;
            margin-bottom: 2px;
        }

/* ================== Review Trip : End ================== */


/* ================== Approval Flow : Begin ================== */
.af_modal_box .depart_box__card {
    height: calc(100vh - 320px);
}

.e_status_block .div_head_1 .attendance_selected_emp {
    padding: 3px 15px;
}

#ViewAssignEmp_tbl .emp_box span p {
    margin: 0;
}

.emp_selected {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .emp_selected span {
        font-size: 10px;
        padding: 2px 4px;
        margin-right: 6px;
        border: 1px solid #c3c3c3;
        border-radius: 3px !important;
        margin-bottom: 5px;
    }

        .emp_selected span a {
            margin-left: 5px;
            color: #777;
        }
/* ================== Approval Flow : End JJ ================== */

