.dropdown_profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px 0;
}

    .dropdown_profile img {
        width: 48px;
        height: 48px;
    }

    .dropdown_profile span.username {
        color: var(--navyblue_color);
        margin: 8px 0;
        word-break: break-word;
    }

    .dropdown_profile .account_code {
        font-weight: 400;
        font-size: 13px;
        color: #555;
    }

        .dropdown_profile .account_code span {
            font-weight: 500;
            color: #333;
        }

.page_title {
    float: left;
    display: flex;
    align-items: center;
    min-height: 50px;
    color: #555555;
    font-size: 16px;
    font-weight: 500;
}

.logo {
    z-index: 111;
    position: relative;
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .logo a {
        display: block;
    }

.primary-menu ul::-webkit-scrollbar,
.secondary-menu::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #cbcbcb;
    border-radius: 5px;
}

.primary-menu {
    width: 72px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
    z-index: 111;
    transition: transform 0.3s ease;
}

    .primary-menu ul {
        list-style: none;
        padding: 0;
        padding-bottom: 16px;
        margin: 0;
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .primary-menu li {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 6px;
        color: var(--navyblue_color);
        cursor: pointer;
        text-align: center;
        gap: 4px;
    }

        .primary-menu li:hover,
        .primary-menu li.active {
            background: #ecf3ff;
        }

.menu-label {
    font-size: 10px;
    line-height: normal;
    color: #777;
}

.material-icons {
    font-size: 24px;
}

.submenu-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    color: var(--navyblue_color);
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    gap: 8px;
}

    .submenu-header i {
        font-size: 20px;
        color: var(--navyblue_color);
    }

.secondary-menu {
    position: fixed;
    width: 200px;
    background: #fff;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.2);
    display: none;
    overflow-y: auto;
    z-index: 2222;
    max-height: 335px;
    margin-left: 1px;
    transition: 0.3s all;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

    .secondary-menu ul {
        list-style: none;
        margin: 0;
        padding: 8px;
    }

    .secondary-menu li a {
        padding: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #666666;
        font-size: 12px;
        margin-bottom: 4px;
        grid-gap: 8px;
    }

        .secondary-menu li a i {
            font-size: 16px;
        }

        .secondary-menu li a:hover,
        .secondary-menu li.active a {
            background: #E8F4FD;
            border-radius: 4px !important;
            color: var(--navyblue_color);
        }

.content {
    margin-left: 72px;
    padding: 16px;
}

.menu-toggle {
    display: none;
}

.sprite {
    background-image: url(../../assets/images/icon_sprite.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 21px;
    min-width: 21px;
    display: inline-block;
}

/* ======== Main Menu Icon : Begin ======== */
.main_menu .dash_icn {
    background-position: -8px -8px;
}

.primary-menu li.active .dash_icn {
    background-position: -36px -8px;
}

.main_menu .atte_icn {
    background-position: -80px -8px;
}

.primary-menu li.active .atte_icn {
    background-position: -108px -8px;
}

.main_menu .syst_icn {
    background-position: -152px -8px;
}

.primary-menu li.active .syst_icn {
    background-position: -180px -8px;
}

.main_menu .comp_icn {
    background-position: -224px -8px;
}

.primary-menu li.active .comp_icn {
    background-position: -252px -8px;
}

.main_menu .poli_icn {
    background-position: -297px -8px;
}

.primary-menu li.active .poli_icn {
    background-position: -325px -8px;
}

.main_menu .empl_icn {
    background-position: -368px -8px;
}

.primary-menu li.active .empl_icn {
    background-position: -396px -8px;
}

.main_menu .leave_icn {
    background-position: -440px -8px;
}

.primary-menu li.active .leave_icn {
    background-position: -468px -8px;
}

.main_menu .holi_icn {
    background-position: -512px -8px;
}

.primary-menu li.active .holi_icn {
    background-position: -540px -8px;
}

.main_menu .shif_icn {
    background-position: -584px -8px;
}

.primary-menu li.active .shif_icn {
    background-position: -612px -8px;
}

.main_menu .util_icn {
    background-position: -656px -8px;
}

.primary-menu li.active .util_icn {
    background-position: -684px -8px;
}

.main_menu .manag_icn {
    background-position: -728px -8px;
}

.primary-menu li.active .manag_icn {
    background-position: -756px -8px;
}

.main_menu .devi_icn {
    background-position: -800px -8px;
}

.primary-menu li.active .devi_icn {
    background-position: -828px -8px;
}

.main_menu .alert_icn {
    background-position: -872px -8px;
}

.primary-menu li.active .alert_icn {
    background-position: -900px -8px;
}

.main_menu .payr_icn {
    background-position: -944px -8px;
}

.primary-menu li.active .payr_icn {
    background-position: -972px -8px;
}

.main_menu .prep_icn {
    background-position: -1016px -8px;
}

.primary-menu li.active .prep_icn {
    background-position: -1044px -8px;
}

.main_menu .pms_icn {
    background-position: -1446px -8px;
}

.primary-menu li.active .pms_icn {
    background-position: -1474px -8px;
}

.main_menu .conf_icn {
    background-position: -1161px -8px;
}

.primary-menu li.active .conf_icn {
    background-position: -1189px -8px;
}

.main_menu .appr_icn {
    background-position: -1232px -8px;
}

.primary-menu li.active .appr_icn {
    background-position: -1259px -8px;
}

.main_menu .faste_icn {
    background-position: -1304px -8px;
}

.primary-menu li.active .faste_icn {
    background-position: -1332px -8px;
}

.main_menu .gate_icn {
    background-position: -1374px -8px;
}

.primary-menu li.active .gate_icn {
    background-position: -1402px -8px;
}

.main_menu .custom_icn {
    background-position: -1518px -9px;
}

.primary-menu li.active .custom_icn {
    background-position: -1546px -9px;
}

.main_menu .fnf_icn {
    background-position: -1088px -9px
}

.primary-menu li.active .fnf_icn {
    background-position: -1118px -9px;
}

.main_menu .pdata_icn {
    background-position: -1592px -8px;
}

.primary-menu li.active .pdata_icn {
    background-position: -1620px -8px;
}

.main_menu .download_icn {
    background-position: -1664px -9px;
}

.primary-menu li.active .download_icn {
    background-position: -1692px -9px;
}

.main_menu .ems_icn {
    background-position: -1736px -8px;
}

.primary-menu li.active .ems_icn {
    background-position: -1764px -8px;
}

.main_menu .emsprep_icn {
    background-position: -1808px -8px;
}

.primary-menu li.active .emsprep_icn {
    background-position: -1836px -8px;
}

.main_menu .noti_icn {
    background-position: -1880px -8px;
}

.primary-menu li.active .noti_icn {
    background-position: -1907px -8px;
}

.main_menu .field_icn {
    background-position: -1949px -10px;
}

.primary-menu li.active .field_icn {
    background-position: -1977px -10px;
}

.main_menu .tatapower_icn {
    background-position: -2021px -7px;
}

.primary-menu li.active .tatapower_icn {
    background-position: -2049px -7px;
}

.main_menu .cms_icn {
    background-position: -2096px -10px;
}

.primary-menu li.active .cms_icn {
    background-position: -2124px -10px;
}

.main_menu .vms_icn {
    background-position: -2168px -11px;
}

.primary-menu li.active .vms_icn {
    background-position: -2196px -11px;
}

.main_menu .BU_icn {
    background-position: -2240px -9px;
}

.primary-menu li.active .BU_icn {
    background-position: -2268px -9px;
}
/* ======== Main Menu Icon : End ======== */


/* ======== secondary menu /inactive icon : End ======== */
.secondary-menu li .sprite {
    height: 18px;
    width: 18px;
}

/* Submenu - Dashboard icon : Begin */
.secondary-menu li .dash_icn_sub1 {
    background-position: -8px -84px;
}

.secondary-menu li.active .dash_icn_sub1 {
    background-position: -32px -84px;
}

.secondary-menu li .dash_icn_sub2 {
    background-position: -8px -116px;
}

.secondary-menu li.active .dash_icn_sub2 {
    background-position: -32px -116px;
}

.secondary-menu li .dash_icn_sub3 {
    background-position: -8px -148px;
}

.secondary-menu li.active .dash_icn_sub3 {
    background-position: -32px -148px;
}

.secondary-menu li .dash_icn_sub4 {
    background-position: -8px -180px;
}

.secondary-menu li.active .dash_icn_sub4 {
    background-position: -32px -180px;
}
/* Submenu - Dashboard icon : End */


/* Submenu - Attendance icon : Begin */
.secondary-menu li .atte_icn_sub1 {
    background-position: -80px -84px;
}

.secondary-menu li.active .atte_icn_sub1 {
    background-position: -104px -84px;
}

.secondary-menu li .atte_icn_sub2 {
    background-position: -80px -116px;
}

.secondary-menu li.active .atte_icn_sub2 {
    background-position: -104px -116px;
}

.secondary-menu li .atte_icn_sub3 {
    background-position: -80px -148px;
}

.secondary-menu li.active .atte_icn_sub3 {
    background-position: -104px -148px;
}

.secondary-menu li .atte_icn_sub4 {
    background-position: -80px -180px;
}

.secondary-menu li.active .atte_icn_sub4 {
    background-position: -104px -180px;
}

.secondary-menu li .atte_icn_sub5 {
    background-position: -80px -212px;
}

.secondary-menu li.active .atte_icn_sub5 {
    background-position: -104px -212px;
}

.secondary-menu li .atte_icn_sub6 {
    background-position: -80px -244px;
}

.secondary-menu li.active .atte_icn_sub6 {
    background-position: -104px -244px;
}
/* Submenu - Attendance icon : End */


/* Submenu - System Setting icon : Begin */
.secondary-menu li .syst_icn_sub1 {
    background-position: -152px -84px;
}

.secondary-menu li.active .syst_icn_sub1 {
    background-position: -176px -84px;
}
/* Submenu - System Setting icon : End */


/* Submenu - Company Master icon : Begin */
.secondary-menu li .comp_icn_sub1 {
    background-position: -225px -84px;
}

.secondary-menu li.active .comp_icn_sub1 {
    background-position: -249px -84px;
}

.secondary-menu li .comp_icn_sub2 {
    background-position: -224px -116px;
}

.secondary-menu li.active .comp_icn_sub2 {
    background-position: -248px -116px;
}

.secondary-menu li .comp_icn_sub3 {
    background-position: -224px -148px;
}

.secondary-menu li.active .comp_icn_sub3 {
    background-position: -248px -148px;
}

.secondary-menu li .comp_icn_sub4 {
    background-position: -224px -180px;
}

.secondary-menu li.active .comp_icn_sub4 {
    background-position: -248px -180px;
}

.secondary-menu li .comp_icn_sub5 {
    background-position: -224px -212px;
}

.secondary-menu li.active .comp_icn_sub5 {
    background-position: -248px -212px;
}

.secondary-menu li .comp_icn_sub6 {
    background-position: -224px -244px;
}

.secondary-menu li.active .comp_icn_sub6 {
    background-position: -248px -244px;
}

.secondary-menu li .comp_icn_sub7 {
    background-position: -224px -276px;
}

.secondary-menu li.active .comp_icn_sub7 {
    background-position: -248px -276px;
}

.secondary-menu li .comp_icn_sub8 {
    background-position: -224px -308px;
}

.secondary-menu li.active .comp_icn_sub8 {
    background-position: -248px -308px;
}

.secondary-menu li .comp_icn_sub9 {
    background-position: -224px -340px;
}

.secondary-menu li.active .comp_icn_sub9 {
    background-position: -248px -340px;
}

.secondary-menu li .comp_icn_sub10 {
    background-position: -224px -371px;
}

.secondary-menu li.active .comp_icn_sub10 {
    background-position: -248px -371px;
}

.secondary-menu li .comp_icn_sub11 {
    background-position: -224px -403px;
}

.secondary-menu li.active .comp_icn_sub11 {
    background-position: -248px -403px;
}
/* Submenu - Company Master icon : End */


/* Submenu - Policy icon : Begin */
.secondary-menu li .poli_icn_sub1 {
    background-position: -297px -84px;
}

.secondary-menu li.active .poli_icn_sub1 {
    background-position: -321px -84px;
}

.secondary-menu li .poli_icn_sub2 {
    background-position: -297px -116px;
}

.secondary-menu li.active .poli_icn_sub2 {
    background-position: -321px -116px;
}

.secondary-menu li .poli_icn_sub3 {
    background-position: -297px -148px;
}

.secondary-menu li.active .poli_icn_sub3 {
    background-position: -321px -148px;
}
/* Submenu - Policy icon : End */


/* Submenu - Employee icon : Begin */
.secondary-menu li .empl_icn_sub1 {
    background-position: -368px -85px;
}

.secondary-menu li.active .empl_icn_sub1 {
    background-position: -392px -85px;
}

.secondary-menu li .empl_icn_sub2 {
    background-position: -368px -117px;
}

.secondary-menu li.active .empl_icn_sub2 {
    background-position: -392px -117px;
}

.secondary-menu li .empl_icn_sub3 {
    background-position: -368px -149px;
}

.secondary-menu li.active .empl_icn_sub3 {
    background-position: -392px -149px;
}

.secondary-menu li .empl_icn_sub4 {
    background-position: -368px -180px;
}

.secondary-menu li.active .empl_icn_sub4 {
    background-position: -392px -180px;
}

.secondary-menu li .empl_icn_sub5 {
    background-position: -368px -212px;
}

.secondary-menu li.active .empl_icn_sub5 {
    background-position: -392px -212px;
}

.secondary-menu li .empl_icn_sub6 {
    background-position: -368px -244px;
}

.secondary-menu li.active .empl_icn_sub6 {
    background-position: -392px -244px;
}

.secondary-menu li .empl_icn_sub7 {
    background-position: -368px -275px;
}

.secondary-menu li.active .empl_icn_sub7 {
    background-position: -392px -275px;
}

.secondary-menu li .empl_icn_sub8 {
    background-position: -368px -308px;
}

.secondary-menu li.active .empl_icn_sub8 {
    background-position: -392px -308px;
}

.secondary-menu li .empl_icn_sub9 {
    background-position: -368px -340px;
}

.secondary-menu li.active .empl_icn_sub9 {
    background-position: -392px -340px;
}

.secondary-menu li .empl_icn_sub10 {
    background-position: -368px -372px;
}

.secondary-menu li.active .empl_icn_sub10 {
    background-position: -392px -372px;
}
/* Submenu - Employee icon : End */


/* Submenu - Leave icon : Begin */
.secondary-menu li .leave_icn_sub1 {
    background-position: -440px -84px;
}

.secondary-menu li.active .leave_icn_sub1 {
    background-position: -464px -84px;
}

.secondary-menu li .leave_icn_sub2 {
    background-position: -440px -116px;
}

.secondary-menu li.active .leave_icn_sub2 {
    background-position: -464px -116px;
}

.secondary-menu li .leave_icn_sub3 {
    background-position: -440px -148px;
}

.secondary-menu li.active .leave_icn_sub3 {
    background-position: -464px -148px;
}

.secondary-menu li .leave_icn_sub4 {
    background-position: -440px -180px;
}

.secondary-menu li.active .leave_icn_sub4 {
    background-position: -464px -180px;
}

.secondary-menu li .leave_icn_sub5 {
    background-position: -440px -212px;
}

.secondary-menu li.active .leave_icn_sub5 {
    background-position: -464px -212px;
}

.secondary-menu li .leave_icn_sub6 {
    background-position: -440px -244px;
}

.secondary-menu li.active .leave_icn_sub6 {
    background-position: -464px -244px;
}
/* Submenu - Leave icon : End */


/* Submenu - Holiday icon : Begin */
.secondary-menu li .holi_icn_sub1 {
    background-position: -512px -84px;
}

.secondary-menu li.active .holi_icn_sub1 {
    background-position: -536px -84px;
}

.secondary-menu li .holi_icn_sub2 {
    background-position: -512px -116px;
}

.secondary-menu li.active .holi_icn_sub2 {
    background-position: -536px -116px;
}

.secondary-menu li .holi_icn_sub3 {
    background-position: -512px -148px;
}

.secondary-menu li.active .holi_icn_sub3 {
    background-position: -536px -148px;
}
/* Submenu - Holiday icon : End */


/* Submenu - Shift icon : Begin */
.secondary-menu li .shif_icn_sub1 {
    background-position: -584px -84px;
}

.secondary-menu li.active .shif_icn_sub1 {
    background-position: -608px -84px;
}

.secondary-menu li .shif_icn_sub2 {
    background-position: -584px -116px;
}

.secondary-menu li.active .shif_icn_sub2 {
    background-position: -608px -116px;
}

.secondary-menu li .shif_icn_sub3 {
    background-position: -584px -148px;
}

.secondary-menu li.active .shif_icn_sub3 {
    background-position: -608px -148px;
}

.secondary-menu li .shif_icn_sub4 {
    background-position: -584px -180px;
}

.secondary-menu li.active .shif_icn_sub4 {
    background-position: -608px -180px;
}
/* Submenu - Shift icon : End */


/* Submenu - User Management icon : Begin */
.secondary-menu li .manag_icn_sub1 {
    background-position: -728px -84px;
}

.secondary-menu li.active .manag_icn_sub1 {
    background-position: -751px -84px;
}

.secondary-menu li .manag_icn_sub2 {
    background-position: -728px -116px;
}

.secondary-menu li.active .manag_icn_sub2 {
    background-position: -750px -116px;
}
/* Submenu - User Management icon : End */


/* Submenu - Devices icon : Begin */
.secondary-menu li .devi_icn_sub1 {
    background-position: -800px -84px;
}

.secondary-menu li.active .devi_icn_sub1 {
    background-position: -822px -84px;
}

.secondary-menu li .devi_icn_sub2 {
    background-position: -800px -116px;
}

.secondary-menu li.active .devi_icn_sub2 {
    background-position: -822px -116px;
}

.secondary-menu li .devi_icn_sub3 {
    background-position: -800px -148px;
}

.secondary-menu li.active .devi_icn_sub3 {
    background-position: -822px -148px;
}

.secondary-menu li .devi_icn_sub4 {
    background-position: -800px -180px;
}

.secondary-menu li.active .devi_icn_sub4 {
    background-position: -822px -180px;
}

.secondary-menu li .devi_icn_sub5 {
    background-position: -800px -212px;
}

.secondary-menu li.active .devi_icn_sub5 {
    background-position: -822px -212px;
}

.secondary-menu li .devi_icn_sub6 {
    background-position: -800px -244px;
}

.secondary-menu li.active .devi_icn_sub6 {
    background-position: -822px -244px;
}
/* Submenu - Devices icon : End */


/* Submenu - Alert icon : Begin */
.secondary-menu li .alert_icn_sub1 {
    background-position: -872px -85px;
}

.secondary-menu li.active .alert_icn_sub1 {
    background-position: -896px -85px;
}

.secondary-menu li .alert_icn_sub2 {
    background-position: -872px -117px;
}

.secondary-menu li.active .alert_icn_sub2 {
    background-position: -896px -117px;
}

.secondary-menu li .alert_icn_sub3 {
    background-position: -872px -149px;
}

.secondary-menu li.active .alert_icn_sub3 {
    background-position: -896px -149px;
}
/* Submenu - Alert icon : End */


/* Submenu - Payroll icon : End */
.secondary-menu li .payr_icn_sub1 {
    background-position: -944px -84px;
}

.secondary-menu li.active .payr_icn_sub1 {
    background-position: -970px -84px;
}

.secondary-menu li .payr_icn_sub2 {
    background-position: -944px -116px;
}

.secondary-menu li.active .payr_icn_sub2 {
    background-position: -970px -116px;
}

.secondary-menu li .payr_icn_sub3 {
    background-position: -944px -148px;
}

.secondary-menu li.active .payr_icn_sub3 {
    background-position: -970px -148px;
}

.secondary-menu li .payr_icn_sub4 {
    background-position: -944px -180px;
}

.secondary-menu li.active .payr_icn_sub4 {
    background-position: -970px -180px;
}

.secondary-menu li .payr_icn_sub5 {
    background-position: -944px -212px;
}

.secondary-menu li.active .payr_icn_sub5 {
    background-position: -970px -212px;
}

.secondary-menu li .payr_icn_sub6 {
    background-position: -944px -244px;
}

.secondary-menu li.active .payr_icn_sub6 {
    background-position: -970px -244px;
}

.secondary-menu li .payr_icn_sub7 {
    background-position: -944px -276px;
}

.secondary-menu li.active .payr_icn_sub7 {
    background-position: -970px -276px;
}

.secondary-menu li .payr_icn_sub8 {
    background-position: -944px -308px;
}

.secondary-menu li.active .payr_icn_sub8 {
    background-position: -970px -308px;
}

.secondary-menu li .payr_icn_sub9 {
    background-position: -944px -340px;
}

.secondary-menu li.active .payr_icn_sub9 {
    background-position: -970px -340px;
}

.secondary-menu li .payr_icn_sub10 {
    background-position: -944px -372px;
}

.secondary-menu li.active .payr_icn_sub10 {
    background-position: -970px -372px;
}
/* Submenu - Payroll icon : End */


/* Submenu - PayrollPreparation icon : Begin */
.secondary-menu li .prep_icn_sub1 {
    background-position: -1016px -84px;
}

.secondary-menu li.active .prep_icn_sub1 {
    background-position: -1040px -84px;
}

.secondary-menu li .prep_icn_sub2 {
    background-position: -1016px -116px;
}

.secondary-menu li.active .prep_icn_sub2 {
    background-position: -1040px -116px;
}

.secondary-menu li .prep_icn_sub3 {
    background-position: -1016px -148px;
}

.secondary-menu li.active .prep_icn_sub3 {
    background-position: -1040px -148px;
}

.secondary-menu li .prep_icn_sub4 {
    background-position: -1016px -180px;
}

.secondary-menu li.active .prep_icn_sub4 {
    background-position: -1040px -180px;
}

.secondary-menu li .prep_icn_sub5 {
    background-position: -1016px -212px;
}

.secondary-menu li.active .prep_icn_sub5 {
    background-position: -1040px -212px;
}

.secondary-menu li .prep_icn_sub6 {
    background-position: -1016px -244px;
}

.secondary-menu li.active .prep_icn_sub6 {
    background-position: -1040px -244px;
}

.secondary-menu li .prep_icn_sub7 {
    background-position: -1016px -276px;
}

.secondary-menu li.active .prep_icn_sub7 {
    background-position: -1040px -276px;
}

.secondary-menu li .prep_icn_sub8 {
    background-position: -1016px -308px;
}

.secondary-menu li.active .prep_icn_sub8 {
    background-position: -1040px -308px;
}

.secondary-menu li .prep_icn_sub9 {
    background-position: -1016px -340px;
}

.secondary-menu li.active .prep_icn_sub9 {
    background-position: -1040px -340px;
}

.secondary-menu li .prep_icn_sub10 {
    background-position: -1016px -371px;
}

.secondary-menu li.active .prep_icn_sub10 {
    background-position: -1040px -371px;
}

.secondary-menu li .prep_icn_sub11 {
    background-position: -1016px -404px;
}

.secondary-menu li.active .prep_icn_sub11 {
    background-position: -1040px -404px;
}

.secondary-menu li .prep_icn_sub12 {
    background-position: -1016px -436px;    
}

.secondary-menu li.active .prep_icn_sub12 {
    background-position: -1040px -436px;
}
/* Submenu - PayrollPreparation icon : End */


/* Submenu - PMS icon : End */
.secondary-menu li .pms_icn_sub1 {
    background-position: -1448px -84px;
}

.secondary-menu li.active .pms_icn_sub1 {
    background-position: -1472px -84px;
}

.secondary-menu li .pms_icn_sub2 {
    background-position: -1448px -116px;
}

.secondary-menu li.active .pms_icn_sub2 {
    background-position: -1472px -116px;
}

.secondary-menu li .pms_icn_sub3 {
    background-position: -1448px -148px;
}

.secondary-menu li.active .pms_icn_sub3 {
    background-position: -1472px -148px;
}

.secondary-menu li .pms_icn_sub4 {
    background-position: -1448px -180px;
}

.secondary-menu li.active .pms_icn_sub4 {
    background-position: -1472px -180px;
}
/* Submenu - PMS icon : End */



/* Submenu - ConfranceRoom icon : Begin */
.secondary-menu li .conf_icn_sub1 {
    background-position: -1161px -84px;
}

.secondary-menu li.active .conf_icn_sub1 {
    background-position: -1185px -84px;
}

.secondary-menu li .conf_icn_sub2 {
    background-position: -1160px -116px;
}

.secondary-menu li.active .conf_icn_sub2 {
    background-position: -1186px -116px;
}

.secondary-menu li .conf_icn_sub3 {
    background-position: -1161px -148px;
}

.secondary-menu li.active .conf_icn_sub3 {
    background-position: -1185px -148px;
}
/* Submenu - ConfranceRoom icon : End */


/* Submenu - Approval icon : Begin */
.secondary-menu li .appr_icn_sub1 {
    background-position: -1232px -84px;
}

.secondary-menu li.active .appr_icn_sub1 {
    background-position: -1256px -84px;
}

.secondary-menu li .appr_icn_sub2 {
    background-position: -1232px -116px;
}

.secondary-menu li.active .appr_icn_sub2 {
    background-position: -1256px -116px;
}

.secondary-menu li .appr_icn_sub3 {
    background-position: -1232px -148px;
}

.secondary-menu li.active .appr_icn_sub3 {
    background-position: -1256px -148px;
}
/* Submenu - Approval icon : End */


/* Submenu - Fastrack Employee icon : Begin */
.secondary-menu li .faste_icn_sub1 {
    background-position: -1304px -84px;
}

.secondary-menu li.active .faste_icn_sub1 {
    background-position: -1328px -84px;
}

.secondary-menu li .faste_icn_sub2 {
    background-position: -1304px -116px;
}

.secondary-menu li.active .faste_icn_sub2 {
    background-position: -1328px -116px;
}

.secondary-menu li .faste_icn_sub3 {
    background-position: -1304px -148px;
}

.secondary-menu li.active .faste_icn_sub3 {
    background-position: -1328px -148px;
}

.secondary-menu li .faste_icn_sub4 {
    background-position: -1304px -180px;
}

.secondary-menu li.active .faste_icn_sub4 {
    background-position: -1328px -180px;
}

.secondary-menu li .faste_icn_sub5 {
    background-position: -1304px -212px;
}

.secondary-menu li.active .faste_icn_sub5 {
    background-position: -1328px -212px;
}
/* Submenu - Fastrack Employee icon : End */


/* Submenu - Gatepass icon : Begin */
.secondary-menu li .gate_icn_sub1 {
    background-position: -1376px -84px;
}

.secondary-menu li.active .gate_icn_sub1 {
    background-position: -1400px -84px;
}

.secondary-menu li .gate_icn_sub2 {
    background-position: -1376px -116px;
}

.secondary-menu li.active .gate_icn_sub2 {
    background-position: -1400px -116px;
}

.secondary-menu li .gate_icn_sub3 {
    background-position: -1376px -148px;
}

.secondary-menu li.active .gate_icn_sub3 {
    background-position: -1400px -148px;
}

.secondary-menu li .gate_icn_sub4 {
    background-position: -1376px -180px;
}

.secondary-menu li.active .gate_icn_sub4 {
    background-position: -1400px -180px;
}
/* Submenu - Gatepass icon : End */


/* Submenu - custom icon : Begin */
.secondary-menu li .custom_icn_sub1 {
    background-position: -1520px -85px;
}

.secondary-menu li.active .custom_icn_sub1 {
    background-position: -1544px -85px;
}

.secondary-menu li .custom_icn_sub2 {
    background-position: -1520px -117px;
}

.secondary-menu li.active .custom_icn_sub2 {
    background-position: -1544px -117px;
}

.secondary-menu li .custom_icn_sub3 {
    background-position: -1520px -149px;
}

.secondary-menu li.active .custom_icn_sub3 {
    background-position: -1544px -149px;
}

.secondary-menu li .custom_icn_sub4 {
    background-position: -1520px -181px;
}

.secondary-menu li.active .custom_icn_sub4 {
    background-position: -1544px -181px;
}

.secondary-menu li .custom_icn_sub5 {
    background-position: -1520px -213px;
}

.secondary-menu li.active .custom_icn_sub5 {
    background-position: -1544px -213px;
}

.secondary-menu li .custom_icn_sub6 {
    background-position: -1520px -245px;
}

.secondary-menu li.active .custom_icn_sub6 {
    background-position: -1544px -245px;
}

.secondary-menu li .custom_icn_sub7 {
    background-position: -1520px -277px;
}

.secondary-menu li.active .custom_icn_sub7 {
    background-position: -1544px -277px;
}

.secondary-menu li .custom_icn_sub8 {
    background-position: -1520px -309px;
}

.secondary-menu li.active .custom_icn_sub8 {
    background-position: -1544px -309px;
}

.secondary-menu li .custom_icn_sub9 {
    background-position: -1520px -341px;
}

.secondary-menu li.active .custom_icn_sub9 {
    background-position: -1544px -341px;
}

.secondary-menu li .custom_icn_sub10 {
    background-position: -1520px -373px;
}

.secondary-menu li.active .custom_icn_sub10 {
    background-position: -1544px -373px;
}

.secondary-menu li .custom_icn_sub11 {
    background-position: -1520px -405px;
}

.secondary-menu li.active .custom_icn_sub11 {
    background-position: -1544px -405px;
}

.secondary-menu li .custom_icn_sub12 {
    background-position: -1520px -437px;
}

.secondary-menu li.active .custom_icn_sub12 {
    background-position: -1544px -437px;
}

.secondary-menu li .custom_icn_sub13 {
    background-position: -1520px -469px;
}

.secondary-menu li.active .custom_icn_sub13 {
    background-position: -1544px -469px;
}
/* Submenu - custom icon : End */


/* Submenu - FNF icon : Begin */
.secondary-menu li .fnf_icn_sub1 {
    background-position: -1088px -85px;
}

.secondary-menu li.active .fnf_icn_sub1 {
    background-position: -1112px -85px;
}

.secondary-menu li .fnf_icn_sub2 {
    background-position: -1088px -117px;
}

.secondary-menu li.active .fnf_icn_sub2 {
    background-position: -1112px -117px;
}
/* Submenu - FNF icon : End */


/* Submenu - ProcessData icon : Begin */
.secondary-menu li .pdata_icn_sub1 {
    background-position: -1592px -84px;
}

.secondary-menu li.active .pdata_icn_sub1 {
    background-position: -1616px -84px;
}

.secondary-menu li .pdata_icn_sub2 {
    background-position: -1592px -116px;
}

.secondary-menu li.active .pdata_icn_sub2 {
    background-position: -1616px -116px;
}
/* Submenu - ProcessData icon : End */


/* Submenu - Developer Download icon : Begin */
.secondary-menu li .download_icn_sub1 {
    background-position: -1664px -85px;
}

.secondary-menu li.active .download_icn_sub1 {
    background-position: -1688px -85px;
}
/* Submenu - Developer Download icon : End */


/* Submenu - EMS icon : Begin */
.secondary-menu li .ems_icn_sub1 {
    background-position: -1736px -84px;
}

.secondary-menu li.active .ems_icn_sub1 {
    background-position: -1760px -84px;
}

.secondary-menu li .ems_icn_sub2 {
    background-position: -1736px -116px;
}

.secondary-menu li.active .ems_icn_sub2 {
    background-position: -1760px -116px;
}

.secondary-menu li .ems_icn_sub3 {
    background-position: -1736px -148px;
}

.secondary-menu li.active .ems_icn_sub3 {
    background-position: -1760px -148px;
}

.secondary-menu li .ems_icn_sub4 {
    background-position: -1736px -180px;
}

.secondary-menu li.active .ems_icn_sub4 {
    background-position: -1760px -180px;
}
/* Submenu - EMS icon : End */

/* Submenu - EMSPreparation icon : Begin */
.secondary-menu li .emsprep_icn_sub1 {
    background-position: -1808px -84px;
}

.secondary-menu li.active .emsprep_icn_sub1 {
    background-position: -1832px -84px;
}

.secondary-menu li .emsprep_icn_sub2 {
    background-position: -1808px -116px;
}

.secondary-menu li.active .emsprep_icn_sub2 {
    background-position: -1832px -116px;
}

.secondary-menu li .emsprep_icn_sub3 {
    background-position: -1808px -148px;
}

.secondary-menu li.active .emsprep_icn_sub3 {
    background-position: -1832px -148px;
}

.secondary-menu li .emsprep_icn_sub4 {
    background-position: -1808px -180px;
}

.secondary-menu li.active .emsprep_icn_sub4 {
    background-position: -1832px -180px;
}

.secondary-menu li .emsprep_icn_sub5 {
    background-position: -1808px -212px;
}

.secondary-menu li.active .emsprep_icn_sub5 {
    background-position: -1832px -212px;
}
/* Submenu - EMSPreparation icon : End */

/* Submenu - Notification Rule icon : Begin */
.secondary-menu li .noti_icn_sub1 {
    background-position: -1880px -84px;
}

.secondary-menu li.active .noti_icn_sub1 {
    background-position: -1904px -84px;
}

.secondary-menu li .noti_icn_sub2 {
    background-position: -1880px -116px;
}

.secondary-menu li.active .noti_icn_sub2 {
    background-position: -1904px -116px;
}
/* Submenu - Notification Rule icon : End */

/* Submenu - Field Sense icon : Begin */
.secondary-menu li .field_icn_sub1 {
    background-position: -1952px -84px;
}

.secondary-menu li.active .field_icn_sub1 {
    background-position: -1976px -84px;
}

.secondary-menu li .field_icn_sub2 {
    background-position: -1953px -116px;
}

.secondary-menu li.active .field_icn_sub2 {
    background-position: -1977px -116px;
}

.secondary-menu li .field_icn_sub3 {
    background-position: -1952px -148px;
}

.secondary-menu li.active .field_icn_sub3 {
    background-position: -1976px -148px;
}
/* Submenu - Field Sense icon : End */

/* Submenu - Tatapower icon : Begin */
.secondary-menu li .tatapower_icn_sub1 {
    background-position: -2022px -83px;
}

.secondary-menu li.active .tatapower_icn_sub1 {
    background-position: -2046px -83px;
}

.secondary-menu li .tatapower_icn_sub2 {
    background-position: -2022px -115px;
}

.secondary-menu li.active .tatapower_icn_sub2 {
    background-position: -2046px -115px;
}

.secondary-menu li .tatapower_icn_sub3 {
    background-position: -2022px -148px;
}

.secondary-menu li.active .tatapower_icn_sub3 {
    background-position: -2046px -148px;
}
/* Submenu - Tatapower icon : End */

/* Submenu - CMS icon : Begin */
.secondary-menu li .cms_icn_sub1 {
    background-position: -2097px -85px;
}

.secondary-menu li.active .cms_icn_sub1 {
    background-position: -2121px -85px;
}

.secondary-menu li .cms_icn_sub2 {
    background-position: -2097px -117px;
}

.secondary-menu li.active .cms_icn_sub2 {
    background-position: -2121px -117px;
}

.secondary-menu li .cms_icn_sub3 {
    background-position: -2098px -150px;
}

.secondary-menu li.active .cms_icn_sub3 {
    background-position: -2122px -150px;
}

.secondary-menu li .cms_icn_sub4 {
    background-position: -2097px -181px;
}

.secondary-menu li.active .cms_icn_sub4 {
    background-position: -2121px -181px;
}

.secondary-menu li .cms_icn_sub5 {
    background-position: -2098px -215px;
}

.secondary-menu li.active .cms_icn_sub5 {
    background-position: -2122px -215px;
}

.secondary-menu li .cms_icn_sub6 {
    background-position: -2097px -245px;
}

.secondary-menu li.active .cms_icn_sub6 {
    background-position: -2121px -245px;
}

.secondary-menu li .cms_icn_sub7 {
    background-position: -2097px -277px;
}

.secondary-menu li.active .cms_icn_sub7 {
    background-position: -2121px -277px;
}

.secondary-menu li .cms_icn_sub8 {
    background-position: -2098px -309px;
}

.secondary-menu li.active .cms_icn_sub8 {
    background-position: -2122px -309px;
}

.secondary-menu li .cms_icn_sub9 {
    background-position: -2098px -341px;
}

.secondary-menu li.active .cms_icn_sub9 {
    background-position: -2122px -341px;
}

.secondary-menu li .cms_icn_sub10 {
    background-position: -2097px -373px;
}

.secondary-menu li.active .cms_icn_sub10 {
    background-position: -2121px -373px;
}

.secondary-menu li .cms_icn_sub11 {
    background-position: -2098px -405px;
}

.secondary-menu li.active .cms_icn_sub11 {
    background-position: -2122px -405px;
}

.secondary-menu li .cms_icn_sub12 {
    background-position: -2097px -436px;
}

.secondary-menu li.active .cms_icn_sub12 {
    background-position: -2121px -436px;
}
/* Submenu - CMS icon : End */

/* Submenu - VMS icon : Begin */
.secondary-menu li .vms_icn_sub1 {
    background-position: -2169px -87px;
}

.secondary-menu li.active .vms_icn_sub1 {
    background-position: -2193px -87px;
}

.secondary-menu li .vms_icn_sub2 {
    background-position: -2172px -117px;
}

.secondary-menu li.active .vms_icn_sub2 {
    background-position: -2196px -117px;
}

.secondary-menu li .vms_icn_sub3 {
    background-position: -2170px -149px;
}

.secondary-menu li.active .vms_icn_sub3 {
    background-position: -2194px -149px;
}

.secondary-menu li .vms_icn_sub4 {
    background-position: -2169px -183px;
}

.secondary-menu li.active .vms_icn_sub4 {
    background-position: -2193px -183px;
}

.secondary-menu li .vms_icn_sub5 {
    background-position: -2171px -213px;
}

.secondary-menu li.active .vms_icn_sub5 {
    background-position: -2195px -213px;
}
/* Submenu - VMS icon : End */

/* Submenu - BU icon : Begin */
.secondary-menu li .BU_icn_sub1 {
    background-position: -2239px -83px;
}

.secondary-menu li.active .BU_icn_sub1 {
    background-position: -2263px -83px;
}

.secondary-menu li .BU_icn_sub2 {
    background-position: -2239px -115px;
}

.secondary-menu li.active .BU_icn_sub2 {
    background-position: -2263px -115px;
}

.secondary-menu li .BU_icn_sub3 {
    background-position: -2239px -147px;
}

.secondary-menu li.active .BU_icn_sub3 {
    background-position: -2263px -147px;
}

.secondary-menu li .BU_icn_sub4 {
    background-position: -2239px -179px;
}

.secondary-menu li.active .BU_icn_sub4 {
    background-position: -2263px -179px;
}
/* Submenu - BU icon : End */


/* ======== secondary menu /inactive icon : End ======== */

/* ======== Media Queary Code : Begin ======== */
@media (max-width: 767px) {
    .primary-menu {
        transform: translateX(-100%);
    }

        .primary-menu.active {
            transform: translateX(0);
        }

    .menu-toggle {
        display: block;
    }

    .content {
        margin-left: 0;
    }

    .page-header.navbar .menu-toggler.responsive-toggler {
        display: block;
    }
}
/* ======== Media Queary Code : End ======== */
