.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.font-weight-bold {
    font-weight: 500;
}

.font-weight-400 {
    font-weight: 400;
}

/* Payroll Create New : Begin  */
.payroll_mainblock {
    min-height: calc(100vh - 132px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.payroll_emptyscreen .pay_title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px !important;
    margin-bottom: 5px;
}

.payroll_emptyscreen .pay_subtitle {
    font-size: 14px;
}

.payroll_configuration {
    background-color: rgba(218, 229, 239, 0.6);
    padding: 30px;
    margin-right: 120px;
}

    .payroll_configuration .payroll_config_title {
        color: #1077DA;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .payroll_configuration .payroll_config_subtitle {
        color: #252525;
        font-size: 14px;
        margin: 20px 0;
    }

.create_payroll_btn {
    background-color: var(--navyblue_color);
    color: #fff;
    height: 30px;
    width: 100%;
    line-height: 27px !important;
    padding: 0 10px;
    margin-top: 20px;
    font-size: 13px;
    border: 1px solid var(--navyblue_color);
    border-radius: 3px !important;
}

    .create_payroll_btn:active, .create_payroll_btn:focus, .create_payroll_btn:hover {
        background-color: var(--navyblue_color);
        color: #fff;
        outline: 0;
        text-decoration: none;
    }

#gratuitymastertable .assi_title {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Payroll Create New : End  */


/* Payroll Steeper : Begin  */
.page_form_header {
    background-color: var(--navyblue_color);
    color: #fff;
    padding: 6px 15px;
    border-radius: 3px !important;
}

    .page_form_header h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
    }

    .page_form_header i.fa-question {
        font-size: 12px;
        border: 1px solid #fff;
        height: 20px;
        width: 20px;
        border-radius: 50% !important;
        align-items: center;
        display: flex;
        justify-content: center;
    }

.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wizard-inner ul.nav:after, .wizard-inner ul.nav:before {
    display: none !important;
}

.wizard > div.wizard-inner {
    position: relative;
    margin: 0px;
}

.wizard .tab-content {
    height: calc(100vh - 251px);
    overflow-y: auto;
    border-bottom: 1px solid #e3e3e3;
}

    .wizard .tab-content > .active {
        border: none;
    }

.wizard .nav-tabs > li {
    background-color: #fff;
}

    .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
        color: #555555;
        border: 0;
        border-bottom-color: transparent;
        background-color: transparent;
    }

        .wizard .nav-tabs > li.active > a:after {
            border-top: 0;
        }

    .wizard .nav-tabs > li a .wizard_titles {
        text-align: left;
        margin-left: 10px;
    }

        .wizard .nav-tabs > li a .wizard_titles p {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            color: #252525;
        }

        .wizard .nav-tabs > li a .wizard_titles span {
            font-size: 12px;
            font-weight: 400;
            color: #555;
        }

    .wizard .nav-tabs > li a:hover {
        border-color: transparent;
        background-color: transparent;
        border: none !important;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
}

.round-tab {
    height: 24px;
    width: 24px;
    min-width: 24px !important;
    line-height: 24px;
    display: inline-block;
    border-radius: 50% !important;
    background: #dddddd;
    z-index: 2;
    position: relative;
    left: 0;
    text-align: center;
    font-size: 12px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}

.round_green {
    background-color: #0AAA54;
    color: #fff;
    border-color: #0AAA54;
}

.wizard li.active .round-tab {
    background: #295097;
    color: #fff;
    border-color: #295097;
}

.accordian-footer {
    justify-content: end;
    display: flex;
    background-color: #fff;
    z-index: 11;
    position: relative;
    margin-top: 5px;
}

.reimbursement_block {
    border: 8px solid #e8e8eb;
    padding: 10px 10px;
}

    .reimbursement_block i.fa-magnifying-glass {
        position: absolute;
        top: 8px;
        right: 25px;
        color: #9d9d9d;
    }

.reimbursement_st_left {
    font-size: 15px;
    font-weight: 500;
    color: #252525;
}

.reimbursement_st_right {
    font-size: 14px;
    color: var(--navyblue_color);
    cursor: pointer;
}

    .reimbursement_st_right i.fa-plus {
        font-size: 10px;
        border: 1px solid var(--navyblue_color);
        border-radius: 50%;
        height: 16px;
        width: 16px;
        text-align: center;
        margin-right: 5px;
    }

.reimbursement_body {
    height: calc(100vh - 400px);
    overflow: auto;
}

    .reimbursement_body table tbody tr td.checkbox_box {
        width: 20px;
    }

        .reimbursement_body table tbody tr td.checkbox_box .mt-checkbox,
        .reimbursement_body table tbody tr td.checkbox_box .mt-radio {
            padding-left: 15px;
        }

    .reimbursement_body table tbody tr td.checkbox_label label {
        position: relative;
        top: 10px;
        margin-bottom: 12px;
    }

/*.reimbursement_body .form-group label.mt-checkbox {
        margin-bottom: 0;
        font-size: 14px;
    }*/

.payrollview_block {
    background-color: #e8e8eb;
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.payrollview_note {
    display: flex;
    align-items: center;
}

.payrollview_title {
    font-size: 16px;
    font-weight: 500;
    color: #252525;
}

.payrollview_block .paygrade_ttl {
    font-size: 12px;
    color: #7F7F7;
}

.pay_grade_block .pay_grade_title {
    font-size: 12px;
    font-weight: 500;
    color: #252525;
}

.pay_grade_block .pay_grade_subtitle {
    font-size: 10px;
    color: #60737D;
    margin-bottom: 0;
}

.view_btn {
    background-color: var(--navyblue_color);
    color: #fff;
    height: 30px;
    width: 70px;
    line-height: 30px !important;
    padding: 0 5px;
    margin-left: 8px;
    font-size: 13px;
    border-radius: 3px !important;
}

    .view_btn:active, .view_btn:focus, .view_btn:hover {
        color: #fff;
    }

.pay_earning_bg span.pay_earning_title {
    word-break: break-word;
    width: 50%;
    margin-right: 5px;
}

.pay_earning_bg span.pay_earning_sub {
    width: 50%;
    margin-left: 5px;
}

.pay_earning_bg {
    background-color: #efefef;
    padding: 5px 0;
    margin: 3px 0;
    font-size: 12px;
}

.pay_earning_amount {
    text-align: left;
    float: right;
}

.bg-peach {
    background: #FFE2E2;
}

.bg-grey {
    background: #dddddd !important;
}

.bg-pink {
    background: #EEE6F8;
}

.paygrade_amount {
    font-size: 14px;
    font-weight: 500;
    color: #252525;
}

.payroll_details_table table tbody tr td {
    vertical-align: middle;
    word-break: break-word;
}

    .payroll_details_table table tbody tr td .form-group {
        margin-bottom: 0;
    }

    .payroll_details_table table tbody tr td.more_option a {
        color: #295097;
        font-weight: 500;
        margin-left: 0;
    }

        .payroll_details_table table tbody tr td.more_option a:hover,
        .payroll_details_table table tbody tr td.more_option a:active {
            color: #1d4183;
            text-decoration: none;
        }

    .payroll_details_table table tbody tr td.additional_cal {
        color: #00aff0;
        font-size: 12px;
    }

    .payroll_details_table table tbody tr td.view_additional_cal {
        color: #00aff0;
        font-size: 13px;
    }

    .payroll_details_table table tbody tr td.color-red {
        color: #CC3535;
    }

    .payroll_details_table table tbody tr td.color-purple {
        color: #9747FF;
    }

.add_fields_btn, .disreject {
    background-color: transparent;
    border-radius: 50% !important;
    width: 22px;
    height: 22px;
    line-height: 21px !important;
    padding: 0 5px;
    color: #295097;
    font-size: 12px;
    border-color: #295097;
}

.head_box {
    /*background-color: #fff;*/
    /*padding: 10px;*/
}

    .head_box .createhead_title {
        color: #7F7F7F;
        font-size: 14px;
    }

    .head_box .remove_head {
        color: #CC3535;
    }

        .head_box .remove_head i {
            border: 1px solid #cc3535;
            height: 16px;
            width: 16px;
            text-align: center;
            border-radius: 50%;
            padding-top: 1px;
            vertical-align: top;
            font-size: 11px;
        }

    .head_box table {
        margin-bottom: 0px !important;
    }

        .head_box table .calculate_td_250 {
            width: 250px;
            padding-bottom: 10px;
        }

        .head_box table .calculate_td_120 {
            width: 120px;
            padding-bottom: 10px;
        }

.additional_btn {
    display: inline-block;
    background-color: #939393;
    border-radius: 50% !important;
    height: 14px;
    line-height: 12px !important;
    padding: 0 3.26px;
    color: #fff;
    font-size: 7px;
    position: relative;
    left: -55px;
}

    .additional_btn:active, .additional_btn:focus, .additional_btn:hover {
        background-color: #939393;
        color: #fff;
        outline: 0;
        text-decoration: none;
    }

.list-content.okr_g_box .accordion_box_main {
    margin-bottom: 10px;
}

.list-content .accordian-header {
    position: relative;
    padding-left: 35px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e3e3e3;
    border-radius: 6px !important;
}

    .list-content .accordian-header a {
        color: #252525;
        font-size: 13px;
        display: block;
    }

        .list-content .accordian-header a:focus {
            text-decoration: none;
        }

.list-content .list_one {
    background-color: #e8f4fd;
}

.list-content .list_two {
    background-color: #FFE2E2;
}

.list-content .list_three {
    background-color: #EEE6F8;
}

.list-content a i.arrow_down {
    text-align: right;
    position: absolute;
    top: 12px;
    left: 10px;
    transition: 0.5s;
    font-size: 12px;
    color: #252525;
}

.list-content a[aria-expanded="true"] i {
    transform: rotate(180deg);
}
/* Payroll Steeper : End  */


/* Payrolllist Datatable Design Css : Beign */
.emp_btn_block {
    display: flex;
    /*align-items: center;*/
    justify-content: flex-end;
}

.ftrsearch_btn {
    background-color: transparent;
    color: var(--navyblue_color);
    height: 30px;
    line-height: 28px !important;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid var(--navyblue_color);
    border-radius: 3px !important;
    position: relative;
}

    .ftrsearch_btn:active,
    .ftrsearch_btn:focus,
    .ftrsearch_btn:hover {
        background-color: var(--navyblue_color);
        color: #fff;
        text-decoration: none;
        border-color: var(--navyblue_color);
    }

table {
    width: 99.80% !important;
    /*margin-bottom: 10px !important;*/
}

.dataTables_wrapper {
    /*padding: 0px 0 40px 0;*/
    padding: 0px 0 0px 0;
}

.dft_view {
    font-size: 12px;
    font-weight: 500;
    color: #555;
    display: inline-block;
}

.attendance_freeze_msg {
    font-size: 12px;
    font-weight: 500;
    color: #CC3535;
    margin-left: 5px;
}

.selected_emp_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.tbl_text {
    font-size: 13px;
    font-weight: 500;
    color: #093150;
}

.dataTables_wrapper .dt-buttons, .res_table_box .dt-buttons {
    position: relative;
    top: auto;
    right: 0px;
    left: auto;
    float: right !important;
}

/*button.buttons-excel {
    background-color: #fff;
    border: 1px solid #093150;
    color: #093150;
    position: relative;
    font-size: 13px;
    padding: 0 !important;
    height: 30px;
    width: 80px;
    line-height: 30px;
    border-radius: 3px !important;
    margin-right: 0;
}

    button.buttons-excel:before {
        content: "";
        background-image: url(/Newlayout/images/download_excel.svg);
        height: 25px;
        width: 20px;
        background-size: 100%;
        left: 0px;
        top: 1px;
        margin-left: 7px;
        padding: 0;
        font-weight: 500;
    }

    button.buttons-excel:active, button.buttons-excel:focus, button.buttons-excel:hover {
        border: 1px solid #093150 !important;
        color: #093150;
    }*/

button.buttons-columns {
    background-color: #fff;
    border: 1px solid #093150;
    color: #093150;
    position: relative;
    font-size: 13px;
    padding: 0 !important;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 3px !important;
    margin-left: 3px;
}

    button.buttons-columns span {
        content: "";
        background-image: url(/Newlayout/images/icon_columns.svg);
        height: 20px;
        width: 20px;
        display: inline-block;
        background-size: 97%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: 4px;
    }

    button.buttons-columns:active, button.buttons-columns:focus, button.buttons-columns:hover {
        background-color: inherit !important;
        box-shadow: none !important;
    }

/*.dataTables_wrapper .buttons-excel span {
    padding-left: 18px;
    font-weight: 500;
}*/

.serch_datatable .ui-state-default {
    /*background: #ffffff !important;*/
    position: relative;
}

.serch_datatable thead tr:nth-child(2) th {
    background: #ffffff !important;
    position: relative;
}

    .serch_datatable thead tr:nth-child(2) th.text-center {
        text-align: center;
    }

.serch_datatable thead input.search_input {
    width: 100%;
    padding: 3px 3px 3px 6px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 3px !important;
    font-size: 12px;
    font-weight: 300;
    position: relative;
}

.serch_datatable thead input:focus-visible {
    outline: none;
    border: 1px solid #777777;
}

.serch_datatable tbody tr td .form-group {
    margin-bottom: 0;
}

.action_btn {
    display: inline-flex;
    margin-left: 5px;
    cursor: pointer;
    padding: 2px 6px;
    float: right;
    color: #555555;
    font-size: 14px;
    position: relative;
}

    .action_btn:hover, .action_btn:active {
        background-color: #dddddd;
        border-radius: 2px !important;
    }

    .action_btn ul.action_btn_data {
        position: absolute;
        right: 5px;
        top: 15px;
        padding: 0px 0px;
        width: max-content;
        min-width: 160px;
        margin-bottom: 0px;
        background-color: #fff;
        border: 1px solid #e3e3e3;
        box-shadow: 0 0.25rem 1rem rgba(161,172,184,.45);
        border-radius: 6px !important;
        z-index: 111;
        text-align: left;
    }

        .action_btn ul.action_btn_data li {
            padding: 0 10px 0 15px;
            font-size: 12px;
            line-height: 30px;
        }

            .action_btn ul.action_btn_data li:hover {
                background-color: #ecf3ff;
            }


.action_btn_new {
    display: inline-flex;
    margin-left: 5px;
    cursor: pointer;
    padding: 2px 6px;
    float: right;
    color: #555555;
    font-size: 14px;
    position: relative;
}

    .action_btn_new:hover, .action_btn_new:active {
        background-color: #dddddd;
        border-radius: 2px !important;
    }

    .action_btn_new ul.action_btn_data {
        position: absolute;
        right: 5px;
        top: 15px;
        padding: 0px 0px;
        width: max-content;
        min-width: 160px;
        margin-bottom: 0px;
        background-color: #fff;
        border: 1px solid #e3e3e3;
        box-shadow: 0 0.25rem 1rem rgba(161,172,184,.45);
        border-radius: 6px !important;
        z-index: 111;
        text-align: left;
    }

        .action_btn_new ul.action_btn_data li {
            padding: 0 10px 0 15px;
            font-size: 12px;
            line-height: 30px;
        }

            .action_btn_new ul.action_btn_data li:hover {
                background-color: #ecf3ff;
            }

.clm-search {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border: 1.5px solid #979696;
    border-radius: 100%;
    top: 15px;
    right: 16px;
}

    .clm-search:after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 5px;
        background: #979696;
        transform: rotate(-45deg);
        top: 5px;
        left: 6px;
    }

.row .col-md-7.col-sm-7 .dataTables_paginate {
    right: 0;
    position: relative;
}

.row .col-md-5.col-sm-5 .dataTables_info {
    top: 0;
    left: 0;
    position: relative;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: -4px 0 !important;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    padding: 8px 6px;
    vertical-align: middle;
}

.table_box_border > tbody > tr > td,
.table_box_border > tbody > tr > th,
.table_box_border > tfoot > tr > td,
.table_box_border > tfoot > tr > th,
.table_box_border > thead > tr > td,
.table_box_border > thead > tr > th {
    border: 1px solid #dddddd;
    word-break: break-word;
}

.tbl_middle {
    vertical-align: middle;
}

.table-checkable tr > td:first-child,
.table-checkable tr > th:first-child {
    padding-right: 6px;
}

.table-bordered.dataTable th:last-child .search_input,
.table-bordered.dataTable th:last-child i {
    display: none;
}

.delete_clm_btn {
    color: #CC3535;
    font-size: 15px;
}

    .delete_clm_btn:hover {
        color: #CC3535;
    }

.assign_emp_filter {
    /*background-color: white;*/
    /*padding: 10px;*/
}

    .assign_emp_filter .assign_emp_search label {
        font-size: 13px;
        font-weight: 500;
        color: var(--navyblue_color);
        margin-bottom: 5px;
    }

    .assign_emp_filter .assign_emp_search input {
        margin-left: 10px;
        font-weight: normal;
    }

    .assign_emp_filter img.user_img {
        border-radius: 50% !important;
        width: 24px;
        height: 24px;
    }

    .assign_emp_filter table tbody tr td {
        vertical-align: middle;
    }
/* Payrolllist Datatable Design Css : End */


/* HR Attendance Finalize Css : Begin */
.serch_datatable .emp_box {
    display: flex;
    align-items: center;
}

    .serch_datatable .emp_box img.user_img {
        border-radius: 50% !important;
        width: 32px;
        height: 32px;
        margin-right: 5px;
    }

.dayswise_box img.user_img {
    border-radius: 50% !important;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.serch_datatable .emp_box span p:first-child {
    font-weight: 500;
    margin-bottom: 2px;
}

.serch_datatable .emp_box span p {
    margin-bottom: 0;
    font-size: 12px;
    white-space: nowrap;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    min-height: 18px;
}

    .serch_datatable .emp_box span p.e_details {
        width: 120px;
    }

#view_mode_Emp .emp_box span p.e_details {
    width: auto;
}

.tbl_newdatatbl > tbody > tr > th,
.tbl_newdatatbl > thead > tr > th {
    border: 1px solid #ddd;
    white-space: nowrap;
}

.tbl_newdatatbl > tbody > tr > td,
.tbl_newdatatbl > tbody > tr > th,
.tbl_newdatatbl > tfoot > tr > td,
.tbl_newdatatbl > tfoot > tr > th,
.tbl_newdatatbl > thead > tr > td,
.tbl_newdatatbl > thead > tr > th {
    border: 1px solid #ddd;
}

    .tbl_newdatatbl > tbody > tr > td,
    .tbl_newdatatbl > tbody > tr > td:first-child,
    .tbl_newdatatbl > tbody > tr > td:last-child {
        /*text-align: center !important;*/
    }

.red_font {
    color: #b10a0a;
}

.purple_font {
    color: #9747FF;
}

.blue_font {
    color: var(--navyblue_color);
}

.navyblue_font {
    color: #295097;
}

.grey_font {
    color: #979696;
}

.green_font {
    color: #1D8B3C;
}

.orange_font {
    color: #FE7A00;
}

#grade_clm {
    cursor: pointer;
}

.p_days, .a_days, .ot_hours, .pay_days, .no_pay_days, .payroll_option, .dayswise_action, .punch_in, .punch_out, .OT_hour, .net_salary, .arrears, .tds, .loan_deduction {
    font-weight: 500;
}

.selected_emp_main .tbl_text_close .attendance_freeze_msg {
    color: #FF3C30;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.reset_filter_btn {
    background-color: transparent;
    color: #CC3535;
    font-size: 12px;
    font-weight: 500;
}

    .reset_filter_btn:active, .reset_filter_btn:focus, .reset_filter_btn:hover {
        color: #CC3535;
    }

.serch_datatable thead th select.form-control {
    height: 26px;
    padding: 2px;
}

#days_wise_modal thead tr th {
    background-color: #fff;
}

.dayswise_action {
    cursor: pointer;
}

.emptotalcount {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: flex-end;
    /*margin-bottom: 10px;*/
    flex-wrap: wrap;
}

    .emptotalcount .empcount_title {
        font-size: 14px;
        font-weight: 500;
    }

        .emptotalcount .empcount_title span {
            color: #0AAA54;
        }

.final_summary_list {
    text-align: center;
    font-weight: 500;
}

    .final_summary_list p {
        margin: 0;
    }

.summary_list .accordian-header {
    height: 25px !important;
    line-height: 25px !important;
    padding-left: 25px;
}

.summary_list a i.arrow_down {
    top: 5px;
    left: 0px;
}

.attendance_selected_emp {
    background-color: #D1EAFD;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 38px;
    border-radius: 3px !important;
}

    .attendance_selected_emp .selected_list {
        font-weight: 500;
    }

.selected_list_btn .green_btn {
    background-color: #fff;
    border-color: #1D8B3C;
    color: #1D8B3C;
}

.selected_list_btn .red_btn {
    background-color: #fff;
    border-color: #b10a0a;
    color: #b10a0a;
}

.selected_list_btn .red_btn_1 {
    background-color: #fff;
    border-color: #F60B0B;
    color: #F60B0B;
}

.selected_list_btn .white_btn {
    background-color: #fff;
    border-color: #fff;
    color: #CC3535;
}

.selected_list_btn .blue_btn_1 {
    background-color: #fff;
    border-color: var(--navyblue_color);
    color: var(--navyblue_color);
}

.selected_list_btn .navyblue_btn {
    background-color: #fff;
    border-color: var(--navyblue_color);
    color: var(--navyblue_color);
}

/* HR Attendance Finalize Css : End */


/* HR Payroll Generate Edit Modal : Begin */
.emp_salary_sturcture h3.emp_s_type {
    font-size: 12px;
    margin-top: 8px;
    font-weight: 500;
    font-family: inherit;
}

.emp_salary_sturcture p.emp_t_type {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
}

.emp_salary_sturcture_modal {
    background-color: #fff;
}

.payroll_g_tables {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    background-color: #fff;
}

    .payroll_g_tables table {
        margin-bottom: 0 !important;
    }

.emp_pay_box .emp_pay_title {
    font-weight: 500;
    font-size: 11px;
}

.emp_pay_total .emp_pay_title {
    font-weight: 500;
    font-size: 12px;
}

.emp_total_payment {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.5px;
}

.payroll_details_table table tbody tr td.emp_box:hover {
    color: var(--navyblue_color);
    cursor: pointer;
}

.payroll_details_table table tbody tr td.empbox_pending:hover {
    color: inherit !important;
    cursor: auto;
}
/* HR Payroll Generate Edit Modal : End */


/* Approval Salary Payout Request : Begin */
.approval_salarytitle {
    font-size: 13px;
    color: var(--navyblue_color);
    font-weight: 500;
    margin: 0 0 10px 0;
    background-color: #fff;
    padding: 0px 10px;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #c1c1c1;
    border-radius: 4px !important;
    box-shadow: 0 1px 6px 0px rgba(90, 90, 90, 0.20);
}

.approval_salaryinfo {
    background-color: #CDE7FF;
    padding: 6px 15px;
    margin-bottom: 15px;
    border-radius: 6px !important;
}

    .approval_salaryinfo .approval_ttl {
        font-size: 16px;
        font-weight: 500;
        color: #163342;
        margin: 5px 0;
    }

    .approval_salaryinfo .approval_info_block {
        background-color: #fff;
        border-radius: 5px !important;
        padding: 8px;
        margin-bottom: 10px;
    }

    .approval_salaryinfo .approval_salary_title {
        color: #4B7B93;
    }

    .approval_salaryinfo .approval_salary_value {
        font-size: 14px;
        color: #163342;
    }

.approval_ac_header {
    background-color: #fff;
    margin-bottom: 3px;
    box-shadow: 0 2px 3px 0px rgba(90, 90, 90, 0.15);
}

    .approval_ac_header a {
        font-weight: 500;
    }

.bg_peach {
    background-color: #FFE2E2;
}

.dw_btn {
    float: right;
    color: #1D8B3C;
    padding: 0 8px;
}

    .dw_btn:hover, .dw_btn:visited {
        color: #1D8B3C;
    }
/* Approval Salary Payout Request : End */


/* Export Sheet For Bank : Begin */
.exportdata_block {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.10);
}

.exportsheet_main {
    background-color: #fff;
    box-shadow: 0 2px 3px 0px rgba(90, 90, 90, 0.15);
}

.exportsheet_logs_block {
    padding: 6px 10px;
    border-bottom: 1px solid #e3e3e3;
}

    .exportsheet_logs_block img.d_logs {
        margin-top: 5px;
    }

.exportsheet_logs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .exportsheet_logs .excel_export {
        min-width: 240px;
    }
/* Export Sheet For Bank : End */



/* Employee CTC : BEGIN */
.assi_pay_structure .ap_ttl {
    text-align: left;
}

.assi_pay_structure .ap_subttl {
    text-align: left;
    font-size: 11px;
    color: #7F7F7F;
    margin-bottom: 0;
}

.payrollview_block_modal {
    background-color: #fff;
    padding: 5px;
}

    .payrollview_block_modal .payrollview_block {
        background-color: #F2F5F9;
        margin: 0;
    }

.employeeCTC_modal .modal-dialog {
    width: 900px !important;
}

/*.recordbtn_end .dataTables_length {
    float: right !important;
    right: 17px;
    left: auto;
}*/

.recordbtn_end .dt-buttons {
    display: none;
}


.emp_textbox {
    display: flex;
    align-items: center;
}

    .emp_textbox input.form-control {
        width: 70px;
        padding: 0 3px;
        height: 24px;
        margin-right: 5px;
    }

.pay_earning_sub label.mt-radio {
    background-color: transparent;
    border: transparent;
}

    .pay_earning_sub label.mt-radio span {
        background-color: #fff !important;
    }
/* Employee CTC : End */

/* ================================== Media Query Payroll Structure css : Begin ================================== */
@media only screen and (max-width: 1250px) {
    .payroll_configuration {
        margin-right: 0px;
        padding: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .payrollview_note {
        flex-wrap: wrap;
    }

    .mb_margin_bottom_10 {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .payrollview_block {
        flex-wrap: wrap;
    }

    .payrollview_title {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .mb_margin_bottom_15 {
        margin-bottom: 15px;
    }

    div.dataTables_wrapper div.dataTables_length {
        left: auto;
    }

    .additional_btn {
        left: 0;
    }

    .head_box table .calculate_td_250, .head_box table .calculate_td_120 {
        padding-bottom: 10px;
        display: flex;
        width: auto;
    }

    .ForPlaning_selected_emp {
        position: relative !important;
    }

    .deactivate_all {
        position: relative !important;
    }
}

@media only screen and (max-width: 599px) {
    .wizard .nav-tabs {
        flex-wrap: wrap;
    }

        .wizard .nav-tabs > li {
            width: 100%;
        }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .employeeCTC_modal .modal-dialog {
        width: 700px !important;
    }
}
/* ================================== Media Query Payroll Structure css : End ================================== */


/* ================================== Extra Css : Begin ================================== */
.page-content-white .page-bar .page-toolbar_payroll {
    padding: 0px;
}

.wizard > .wizard-inner > ul.nav > li > a {
    padding: 6px 15px;
}

.dataTables_wrapper .row {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    margin: 0;
}

.btn.red {
    border-radius: 50% !important;
}

.setup-content .form-group .btn.red { /*Emp page*/
    border-radius: 3px !important;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn,
.input-sm {
    padding: 5px 2px;
}

.fileblock_head {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

    .fileblock_head .input-group {
        margin-right: 5px;
        overflow: auto;
    }

    .fileblock_head .btn.red {
        border-radius: 3px !important;
    }

    .fileblock_head .input-group-addon {
        padding: 3px 12px;
        font-size: 13px;
    }

        .fileblock_head .input-group-addon i {
            color: #fff;
        }

.border_btm {
    border-bottom: 1px solid #B3B3B3;
}

.list-content .col-lg-6.border_right {
    border-right: 4px solid #e9e9e9;
}

/*.nodata_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 340px);
}*/

/*.nodata_block p {
        font-size: 20px;
        color: #000;
    }*/

.nodata_block.okr_r_nodata {
    height: calc(100vh - 230px);
}

.w-100px {
    min-width: 100px;
    width: 100px;
}
/* ================================== Extra Css : End ================================== */



/* ================================== OKR Generate Page Css : Begin ================================== */
.portlet_new {
    padding: 10px 20px !important;
}

    .portlet_new .portlet-body .form-group {
        /*margin-bottom: 0;*/
    }

    .portlet_new .portlet-body button.save_btn {
        width: 110px;
    }

.no_bd_radius {
    border-radius: 0 !important;
    margin-bottom: 0;
}

.okr_acc_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 3px 0px rgba(90, 90, 90, 0.15);
    min-height: 45px;
    height: auto !important;
    line-height: normal !important;
    padding: 5px 0;
}

    .okr_acc_header a i.arrow_down {
        top: 14px;
    }

    .okr_acc_header a.acc_ttl {
        width: fit-content;
        color: #252525;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        word-break: break-word;
    }

        .okr_acc_header a.acc_ttl img {
            margin-right: 6px;
        }

    .okr_acc_header span {
        width: 200px;
    }

.okr_acc_based {
    min-width: 180px;
    max-width: 180px;
    word-wrap: break-word;
    padding: 0 5px;
}

.okr_acc_based_2 {
    min-width: 160px;
    max-width: 160px;
    word-wrap: break-word;
    padding: 0 5px;
}

.okr_acc_date {
    min-width: 140px;
    max-width: 140px;
    word-wrap: break-word;
    padding: 0 5px;
}

.okr_acc_date_1 {
    min-width: 83px;
    max-width: 83px;
    word-wrap: break-word;
    padding: 0 5px;
}

.okr_acc_st {
    min-width: 95px;
    max-width: 95px;
    word-wrap: break-word;
    padding: 0 5px;
}

    .okr_acc_st span {
        display: block;
        color: #333;
        font-weight: 500;
    }

.okr_acc_data {
    min-width: 270px;
    max-width: 270px;
    word-wrap: break-word;
}

.okr_acc_actiondata {
    margin-left: 10px;
    margin-right: 10px;
}

    .okr_acc_actiondata.w-90 {
        min-width: 90px;
    }

    .okr_acc_actiondata.w-60 {
        min-width: 60px;
        text-align: center;
    }

    .okr_acc_actiondata.w-25 {
        min-width: 25px;
        text-align: center;
    }

    .okr_acc_actiondata a.add_kr {
        color: #337ab7 !important;
        min-width: 60px;
        padding: 5px 6px;
        border-radius: 2px !important;
    }

    .okr_acc_actiondata a.addkr_btn_hover {
        background-color: #CDE7FF;
    }

.okr_acc_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    min-height: 50px;
    height: auto !important;
    line-height: normal !important;
    position: relative;
    border-top: 1px solid #e3e3e3;
    padding: 6px 0;
    overflow: auto;
    font-size: 12px;
}

.list-content .okr_acc_body .okr_acc_actiondata a {
    /*color: #252525;*/
    font-size: 12px;
    display: block;
}

.list-content .okr_acc_body .okr_body_ttl {
    margin-left: 25px;
    display: flex;
    align-items: center;
    word-break: break-word;
}

    .list-content .okr_acc_body .okr_body_ttl img {
        margin-right: 5px;
    }

    .list-content .okr_acc_body .okr_body_ttl span {
        word-break: break-all;
        width: 150px;
    }

    .list-content .okr_acc_body .okr_body_ttl i {
        font-size: 20px;
        transform: rotate(90deg);
        position: relative;
        top: 2px;
        left: -10px;
    }

.add_obj_btn {
    background-color: var(--navyblue_color);
    color: #fff;
    height: 30px;
    line-height: 27px !important;
    padding: 0 10px;
    font-size: 13px;
    border: 1px solid var(--navyblue_color);
    border-radius: 3px !important;
}

    .add_obj_btn:active, .add_obj_btn:focus, .add_obj_btn:hover {
        color: #fff;
    }

.add_obj_hover {
    background-color: #f1f2f5;
    color: var(--navyblue_hover);
    border-color: #cdced9;
}

.list-content.okr_g_box {
    /*height: calc(100vh - 175px) !important;*/
    height: calc(100vh - 146px) !important;
    overflow: auto;
}

#okr_infopayout {
    height: calc(100vh - 108px);
    overflow: auto;
}

.okr_g_msg {
    font-size: 10px;
    position: relative;
    top: -5px;
    margin-bottom: 0;
}

/* ================================== OKR Generate Page Css : End ================================== */


/* ================================== OKR Assign Page Css : Begin ================================== */
#okrassigntbl .mt-checkbox, #okrassigntbl .mt-radio {
    padding-right: 0px;
    font-weight: 500;
    margin-bottom: 0;
    top: -12px;
}

#okrassigntbl .head_checkbox {
    top: 0px;
}

.selectobj_block_left {
    background-color: #fff;
    width: 40%;
    height: calc(100vh - 185px);
    padding: 10px;
}

    .selectobj_block_left p.ttl {
        font-size: 14px;
        font-weight: 500;
        margin: 0px 0px 10px;
    }

    .selectobj_block_left .obj_data {
        height: calc(100vh - 240px);
        overflow: auto;
        padding-right: 6px;
    }

        .selectobj_block_left .obj_data li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
        }

            .selectobj_block_left .obj_data li .assign_text {
                font-size: 12px;
                min-width: 70px;
            }

            .selectobj_block_left .obj_data li label input {
                vertical-align: -2px;
                margin-right: 5px;
            }

            .selectobj_block_left .obj_data li .obj_date {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                .selectobj_block_left .obj_data li .obj_date label {
                    white-space: nowrap;
                    width: 140px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-right: 10px;
                }

.selectobj_block_right {
    width: 60%;
    height: calc(100vh - 185px);
    padding: 0px 0px 0px 10px;
}

    .selectobj_block_right p.ttl {
        font-size: 14px;
        font-weight: 500;
        margin: 0px;
    }

    .selectobj_block_right .obj_data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 270px);
    }

        .selectobj_block_right .obj_data .obj_note {
            font-size: 16px;
            font-weight: 500;
        }

    .selectobj_block_right .list-content {
        height: calc(100vh - 260px);
        overflow: auto;
    }

    .selectobj_block_right .step2_dataheader {
        background-color: #E7F4FD;
        padding: 6px 0px;
        font-weight: 500;
        position: sticky;
        top: 0px;
        z-index: 11;
    }

        .selectobj_block_right .step2_dataheader .row {
            margin: 0;
        }

.weightage_surpass {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 12px;
}

.total_weightage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

    .total_weightage span {
        font-size: 14px;
    }

.step3_effected {
    background-color: #fff;
    padding: 5px 10px;
    margin-top: 5px;
}

.okrpreview_box {
    background-color: #fff;
    padding: 5px;
    overflow: auto;
    height: calc(100vh - 185px);
}

    .okrpreview_box .p_databox {
        display: flex;
        align-items: center;
    }

        .okrpreview_box .p_databox .p_list {
            width: 100%;
            border-right: 1px solid #adadad;
            padding: 5px 8px;
            margin-bottom: 5px;
            line-height: 30px;
        }

            .okrpreview_box .p_databox .p_list:first-child {
                width: 50%;
            }

            .okrpreview_box .p_databox .p_list:last-child {
                border-right: none;
            }

            .okrpreview_box .p_databox .p_list p {
                margin-top: 0;
            }

.assigned_block .asslist_content {
    height: calc(100vh - 185px);
}

.assigned_block .objectivedata {
    height: calc(100vh - 215px);
}

.assigned_block .obj_data .objecdatabox {
    background-color: #fff;
    padding: 5px;
    border-bottom: 1px solid #e3e3e3;
}

    .assigned_block .obj_data .objecdatabox .assign_position {
        width: 300px;
        display: flex;
        justify-content: space-between;
    }

.mb_5 {
    margin-bottom: 5px !important;
}

.tbl_scroll {
    /*height: calc(100vh - 333px);*/
}

    .tbl_scroll .table.dataTable {
        margin-top: 0 !important;
    }

    .tbl_scroll .table thead {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 11;
    }

.accordion_box_main_assign .okr_acc_body .okr_acc_based {
    min-width: 120px;
    max-width: 180px;
}

.selectobj_block_right .assigned_obj {
    height: calc(100vh - 185px);
    margin-top: -10px;
}

/* ================================== OKR Assign Page Css : End ================================== */


/* ================================== OKR Review Page Css : Begin ================================== */
.serch_datatable .assign_okrobj {
    text-align: left !important;
}

    .serch_datatable .assign_okrobj p {
        margin-bottom: 0;
    }

.score_btn {
    background-color: #fff;
    color: #444444;
    height: 28px;
    line-height: 26px !important;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #b1b1b1;
    border-radius: 3px !important;
    position: relative;
}

    .score_btn:active,
    .score_btn:focus,
    .score_btn:hover {
        background-color: #ecf3ff;
        color: var(--navyblue_color);
        text-decoration: none;
        border-color: var(--navyblue_color);
    }

.reviewemplyoee_header {
    display: flex;
    align-items: center;
}

    .reviewemplyoee_header .re_title {
        display: flex;
        align-items: center;
        border-right: 1px solid #C9C9C9;
    }

        .reviewemplyoee_header .re_title img.user_img {
            border-radius: 50% !important;
            width: 32px;
            height: 32px;
            margin-right: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .reviewemplyoee_header .re_title span p {
            margin: 0;
            font-size: 12px;
            white-space: nowrap;
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .reviewemplyoee_header .re_title span p:first-child {
                font-weight: 500;
            }

.okr_acc_actiondata a.review_notes_btn {
    font-size: 12px !important;
    color: var(--navyblue_color) !important;
}

    .okr_acc_actiondata a.review_notes_btn i {
        font-size: 14px;
    }

.notes_block {
    background-color: #fff;
    padding: 10px;
    width: 100% !important;
    height: calc(100vh - 232px) !important;
    overflow: auto;
}

    .notes_block p {
        margin: 0;
    }

.increase_pay {
    margin-top: 10px;
    font-size: 12px;
}

    .increase_pay .score_total {
        font-size: 14px;
        font-weight: 500;
    }

.okrreview_main {
    height: calc(100vh - 160px);
    overflow: auto;
    margin-bottom: 10px;
}

.kr_score {
    background-color: var(--navyblue_color);
    color: #fff;
    padding: 8px;
}

    .kr_score .ks_right p {
        margin: 0;
    }
/* ================================== OKR Review Page Css : End ================================== */



/* ================================== ESSOKR Page Css : Begin ================================== */
.ttl_score {
    color: #252525;
    font-weight: 500;
    padding: 5px 0;
}

.ess_okr_box {
    height: calc(100vh - 105px);
    overflow: auto;
}

    .ess_okr_box .okrreview_main {
        height: auto;
        margin-bottom: 0;
    }

.okr_acc_based_data {
    min-width: 140px;
    max-width: 140px;
    word-wrap: break-word;
    padding: 0 5px;
}

.okr_acc_actiondata a.essokr_notes {
    font-size: 12px !important;
}

    .okr_acc_actiondata a.essokr_notes i {
        font-size: 14px;
    }

.uploadfile_left {
    width: 50%;
}

    .uploadfile_left.w-100 {
        width: 100%;
    }

    .uploadfile_left p.ttl,
    .uploadfile_right p.ttl {
        font-size: 14px;
        font-weight: 500;
        margin: 0px 0px 5px;
        color: #0A4CA2;
    }

    .uploadfile_left .upload_data {
        background-color: #fff;
        height: calc(100vh - 257px);
        overflow: auto;
    }

        .uploadfile_left .upload_data .obj_data {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

            .uploadfile_left .upload_data .obj_data .obj_note {
                font-weight: 500;
            }

        .uploadfile_left .upload_data ul {
            margin-bottom: 0;
        }

            .uploadfile_left .upload_data ul li {
                padding: 8px;
                border-bottom: 2px solid #e5e5e5;
            }

.uploadfile_right {
    width: 50%;
    height: calc(100vh - 185px);
    padding: 0px 0px 0px 10px;
    overflow: auto;
}

.upload-file-wrapper {
    background-color: #ffffff;
    padding: 16px 32px;
    height: calc(100vh - 185px);
    overflow: auto;
}

    .upload-file-wrapper .steper_file_upload .file-upload-title {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 0;
        color: #0A4CA2;
    }

    .upload-file-wrapper .steper_file_upload p {
        color: #676767;
        margin-top: 0;
        font-size: 12px;
    }

    .upload-file-wrapper .drag-file-area {
        padding: 20px;
        width: 100%;
        background: #FAF8FF;
        border: 2px dashed rgba(0, 0, 0, 0.5);
        border-radius: 4px !important;
        margin: 30px 0 auto;
    }

        .upload-file-wrapper .drag-file-area .upload-icon {
            font-size: 50px;
            display: none;
        }

        .upload-file-wrapper .drag-file-area .dynamic-message {
            font-size: 26px;
            margin: 15px 0;
            display: none;
        }

        .upload-file-wrapper .drag-file-area .label {
            font-size: 19px;
            display: block;
            color: #252525;
        }

            .upload-file-wrapper .drag-file-area .label .default-file-input {
                opacity: 0;
                width: 100%;
            }

            .upload-file-wrapper .drag-file-area .label .browse-files-text {
                color: #333333;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
            }

                .upload-file-wrapper .drag-file-area .label .browse-files-text b {
                    font-weight: 500;
                    color: #1077DA;
                    text-decoration: underline;
                }

            .upload-file-wrapper .drag-file-area .label .file_upload_excel {
                font-size: 12px;
                padding-top: 10px;
                color: #6F7581;
                margin-bottom: 0;
            }

    .upload-file-wrapper .cannot-upload-message {
        display: none;
    }

    .upload-file-wrapper .file-block {
        display: none;
    }

    .upload-file-wrapper .selectedfile_block {
        display: flex;
        color: #210154;
        background-color: #ffffff;
        transition: all 1s;
        justify-content: space-between;
        align-items: center;
        padding: 5px 4px;
        border: 1px solid #6F7581;
        border-radius: 4px !important;
    }

        .upload-file-wrapper .selectedfile_block img {
            cursor: pointer;
        }

    .upload-file-wrapper .file-block .file-name,
    .upload-file-wrapper .file-block .file-size {
        padding: 0 4px;
    }

    .upload-file-wrapper .file-block .file-name {
        word-break: break-all;
    }
/* ================================== ESSOKR Page Css : End ================================== */



/* ================================== FNF Flow Css : Begin ================================== */
.list-content .listgrey {
    background-color: #f2f2f2;
    border-top: 0;
    border-radius: 3px !important;
}

.clearance-level-block {
    background-color: #fff;
    padding: 8px;
    border: 1px solid #d9d9d9;
    margin-bottom: 8px;
}

    .clearance-level-block .level-approval {
        display: flex;
        align-items: center;
        font-weight: 500;
        margin-top: 6px;
    }

    .clearance-level-block .level-date {
        color: #777;
        font-weight: 400;
        font-size: 12px;
    }

    .clearance-level-block .level-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .clearance-level-block .level-data .level-status {
            min-width: 120px;
            text-align: right;
        }

    .clearance-level-block .approval_type {
        font-weight: 500;
    }

.flow_hidden {
    background-color: #f7f8f9;
    border: 1px solid #d9d9d9;
    padding: 16px;
    border-radius: 6px !important;
    margin-bottom: 16px;
}

    .flow_hidden p {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 12px;
    }

.EmpExitRequest_height_card {
    height: calc(100vh - 200px);
    overflow: auto;
}
/* ================================== FNF Flow Css : End ================================== */

/* Payroll datatable above status design code : Begin */
.div_head_1 {
    position: relative;
    /*width: 100%;*/
    z-index: 99;
    top: -6px;
}
/* Payroll datatable above status design code : End */

.ForPlaning_selected_emp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    gap: 24px;
}

.deactivate_all {
    position: absolute;
}