@media screen and (max-width:1080px) {
    .modal.fade.in .modal-dialog.w-900, .modal.fade.in .modal-dialog.w-1080 {
        top: 0;
        height: calc(100vh - 0px);
        width: 100% !important;
    }
}

@media screen and (max-width:991px) {
    .quick-search fieldset {
        width: auto;
        height: auto;
    }

    .profile-sidebar-portlet {
        padding: 10px 0 0;
    }

    ul.user-details-list {
        padding: 0 0 25px;
    }

    .quick-search {
        margin: -283px 0 0;
    }

    .quick-search-visible {
        margin: 0 0 30px !important;
    }

    .restore_databas_center {
        text-align: center;
    }
}

@media screen and (max-width:767px) {
    .email_note, .template_row {
        display: block;
    }

    .page-quick-sidebar-wrapper.report_model {
        width: 600px;
    }

    .modal.fade.in .modal-dialog {
        top: 0;
        height: calc(100vh - 0px);
        width: 100% !important;
    }

    .email_note {
        float: none;
        margin-top: 0;
    }

    .page-content-wrapper .page-content .page-title {
        margin-bottom: 0;
    }

    .smtp_data {
        text-align: center;
    }

    .account_code span {
        color: var(--navyblue_color) !important;
    }

    button#btnsearch {
        width: 150px !important;
        margin-top: 15px !important;
    }

    #quick-search.admin_search button#btnsearch[type=button] {
        margin-top: 10px !important;
    }

    .count_box {
        padding: 10px;
    }

    .quick-search fieldset {
        margin: 0;
    }

    ul.shift_details span {
        display: inline;
    }

    .page-quick-sidebar-wrapper {
        width: 400px !important;
    }

    .modal-content {
        margin: 15px;
        border-radius: 4px !important;
    }

    .modal-body {
        overflow-y: auto;
        height: calc(100vh - 125px) !important;
    }

    .modal-body.nomodalfooter {
        height: calc(100vh - 75px) !important;
    }
}

@media screen and (max-width:414px) {
    .custom_field_company .rendered-form .form-group {
        display: block;
        width: 100%;
        padding: 0 15px;
    }

    div#no_data_view {
        text-align: left;
    }

    div#containerAdmin, div#containerLivePunch {
        min-width: auto !important;
        width: auto;
    }

    .page-quick-sidebar-wrapper {
        width: 100% !important;
    }

    .form-group {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:599px) {
    .stepwizard {
        margin-bottom: -16px;
    }

    .stepwizard_vertical {
        flex-wrap: wrap;
    }

        .stepwizard_vertical .stepwizard_vertical_tab_list {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }

        .stepwizard_vertical .stepwizard_vertical_content_list .stepwizard_content_wrapper {
            padding: 0 0px 8px;
        }

        .stepwizard_vertical .stepwizard_vertical_content_list .from_action {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .stepwizard_vertical .stepwizard_vertical_content_list .stepwizard_block.biometric_card_height {
            height: calc(100vh - 350px);
        }
}
