/* Aileron-Black */
@font-face {
  font-family: 'AileronBlack';
  src: url('../Aileron/Aileron-Black/Aileron-Black.eot');
  src: local('AileronBlack'), local('AileronBlack'),
       url('../Aileron/Aileron-Black/Aileron-Black.eot?#iefix') format('embedded-opentype'),
       url('../Aileron/Aileron-Black/Aileron-Black.woff2') format('woff2'),
       url('../Aileron/Aileron-Black/Aileron-Black.woff') format('woff'),
       url('../Aileron/Aileron-Black/Aileron-Black.ttf') format('truetype'),
       url('../Aileron/Aileron-Black/Aileron-Black.svg#NunitoSans') format('svg');
}
/* Aileron-BlackItalic */
@font-face {
  font-family: 'AileronBlackItalic';
  src: url('../Aileron/Aileron-BlackItalic/Aileron-BlackItalic.eot');
  src: local('AileronBlackItalic'), local('AileronBlackItalic'),
        url('../Aileron/Aileron-BlackItalic/Aileron-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../Aileron/Aileron-BlackItalic/Aileron-BlackItalic.woff2') format('woff2'),
        url('../Aileron/Aileron-BlackItalic/Aileron-BlackItalic.woff') format('woff'),
        url('../Aileron/Aileron-BlackItalic/Aileron-BlackItalic.ttf') format('truetype'),
        url('../Aileron/Aileron-BlackItalic/Aileron-BlackItalic.svg#NunitoSans') format('svg');
}
/* Aileron-Bold */
@font-face {
  font-family: 'AileronBold';
  src: url('../Aileron/Aileron-Bold/Aileron-Bold.eot');
  src: local('AileronBold'), local('AileronBold'),
       url('../Aileron/Aileron-Bold/Aileron-Bold.eot?#iefix') format('embedded-opentype'),
       url('../Aileron/Aileron-Bold/Aileron-Bold.woff2') format('woff2'),
       url('../Aileron/Aileron-Bold/Aileron-Bold.woff') format('woff'),
       url('../Aileron/Aileron-Bold/Aileron-Bold.ttf') format('truetype'),
       url('../Aileron/Aileron-Bold/Aileron-Bold.svg#NunitoSans') format('svg');
}
/* Aileron-BoldItalic */
@font-face {
  font-family: 'AileronBoldItalic';
  src: url('../Aileron/Aileron-BoldItalic/Aileron-BoldItalic.eot');
  src: local('AileronBoldItalic'), local('AileronBoldItalic'),
        url('../Aileron/Aileron-BoldItalic/Aileron-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../Aileron/Aileron-BoldItalic/Aileron-BoldItalic.woff2') format('woff2'),
        url('../Aileron/Aileron-BoldItalic/Aileron-BoldItalic.woff') format('woff'),
        url('../Aileron/Aileron-BoldItalic/Aileron-BoldItalic.ttf') format('truetype'),
        url('../Aileron/Aileron-BoldItalic/Aileron-BoldItalic.svg#NunitoSans') format('svg');
}
/* Aileron-Heavy */
@font-face {
  font-family: 'AileronHeavy';
  src: url('../Aileron/Aileron-Heavy/Aileron-Heavy.eot');
  src: local('AileronHeavy'), local('AileronHeavy'),
       url('../Aileron/Aileron-Heavy/Aileron-Heavy.eot?#iefix') format('embedded-opentype'),
       url('../Aileron/Aileron-Heavy/Aileron-Heavy.woff2') format('woff2'),
       url('../Aileron/Aileron-Heavy/Aileron-Heavy.woff') format('woff'),
       url('../Aileron/Aileron-Heavy/Aileron-Heavy.ttf') format('truetype'),
       url('../Aileron/Aileron-Heavy/Aileron-Heavy.svg#NunitoSans') format('svg');
}
/* Aileron-HeavyItalic */
@font-face {
  font-family: 'AileronHeavyItalic';
  src: url('../Aileron/Aileron-HeavyItalic/Aileron-HeavyItalic.eot');
  src: local('AileronHeavyItalic'), local('AileronHeavyItalic'),
        url('../Aileron/Aileron-HeavyItalic/Aileron-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../Aileron/Aileron-HeavyItalic/Aileron-HeavyItalic.woff2') format('woff2'),
        url('../Aileron/Aileron-HeavyItalic/Aileron-HeavyItalic.woff') format('woff'),
        url('../Aileron/Aileron-HeavyItalic/Aileron-HeavyItalic.ttf') format('truetype'),
        url('../Aileron/Aileron-HeavyItalic/Aileron-HeavyItalic.svg#NunitoSans') format('svg');
}
/* Aileron-Italic */
@font-face {
  font-family: 'AileronItalic';
  src: url('../Aileron/Aileron-Italic/Aileron-Italic.eot');
  src: local('AileronItalic'), local('AileronItalic'),
       url('../Aileron/Aileron-Italic/Aileron-Italic.eot?#iefix') format('embedded-opentype'),
       url('../Aileron/Aileron-Italic/Aileron-Italic.woff2') format('woff2'),
       url('../Aileron/Aileron-Italic/Aileron-Italic.woff') format('woff'),
       url('../Aileron/Aileron-Italic/Aileron-Italic.ttf') format('truetype'),
       url('../Aileron/Aileron-Italic/Aileron-Italic.svg#NunitoSans') format('svg');
}
/* Aileron-Light */
@font-face {
  font-family: 'AileronLight';
  src: url('../Aileron/Aileron-Light/Aileron-Light.eot');
  src: local('AileronLight'), local('AileronLight'),
        url('../Aileron/Aileron-Light/Aileron-Light.eot?#iefix') format('embedded-opentype'),
        url('../Aileron/Aileron-Light/Aileron-Light.woff2') format('woff2'),
        url('../Aileron/Aileron-Light/Aileron-Light.woff') format('woff'),
        url('../Aileron/Aileron-Light/Aileron-Light.ttf') format('truetype'),
        url('../Aileron/Aileron-Light/Aileron-Light.svg#NunitoSans') format('svg');
}
/* Aileron-LightItalic */
@font-face {
  font-family: 'AileronLightItalic';
  src: url('../Aileron/Aileron-LightItalic/Aileron-LightItalic.eot');
  src: local('AileronLightItalic'), local('AileronLightItalic'),
       url('../Aileron/Aileron-LightItalic/Aileron-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../Aileron/Aileron-LightItalic/Aileron-LightItalic.woff2') format('woff2'),
       url('../Aileron/Aileron-LightItalic/Aileron-LightItalic.woff') format('woff'),
       url('../Aileron/Aileron-LightItalic/Aileron-LightItalic.ttf') format('truetype'),
       url('../Aileron/Aileron-LightItalic/Aileron-LightItalic.svg#NunitoSans') format('svg');
}
/* Aileron-Regular */
@font-face {
  font-family: 'AileronRegular';
  src: url('../Aileron/Aileron-Regular/Aileron-Regular.eot');
  src: local('AileronRegular'), local('AileronRegular'),
        url('../Aileron/Aileron-Regular/Aileron-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Aileron/Aileron-Regular/Aileron-Regular.woff2') format('woff2'),
        url('../Aileron/Aileron-Regular/Aileron-Regular.woff') format('woff'),
        url('../Aileron/Aileron-Regular/Aileron-Regular.ttf') format('truetype'),
        url('../Aileron/Aileron-Regular/Aileron-Regular.svg#NunitoSans') format('svg');
}
/* Aileron-SemiBold */
@font-face {
  font-family: 'AileronSemiBold';
  src: url('../Aileron/Aileron-SemiBold/Aileron-SemiBold.eot');
  src: local('AileronSemiBold'), local('AileronSemiBold'),
       url('../Aileron/Aileron-SemiBold/Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../Aileron/Aileron-SemiBold/Aileron-SemiBold.woff2') format('woff2'),
       url('../Aileron/Aileron-SemiBold/Aileron-SemiBold.woff') format('woff'),
       url('../Aileron/Aileron-SemiBold/Aileron-SemiBold.ttf') format('truetype'),
       url('../Aileron/Aileron-SemiBold/Aileron-SemiBold.svg#NunitoSans') format('svg');
}
/* Aileron-SemiBoldItalic */
@font-face {
  font-family: 'AileronSemiBoldItalic';
  src: url('../Aileron/Aileron-SemiBoldItalic/Aileron-SemiBoldItalic.eot');
  src: local('AileronSemiBoldItalic'), local('AileronSemiBoldItalic'),
        url('../Aileron/Aileron-SemiBoldItalic/Aileron-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../Aileron/Aileron-SemiBoldItalic/Aileron-SemiBoldItalic.woff2') format('woff2'),
        url('../Aileron/Aileron-SemiBoldItalic/Aileron-SemiBoldItalic.woff') format('woff'),
        url('../Aileron/Aileron-SemiBoldItalic/Aileron-SemiBoldItalic.ttf') format('truetype'),
        url('../Aileron/Aileron-SemiBoldItalic/Aileron-SemiBoldItalic.svg#NunitoSans') format('svg');
}
/* Aileron-Thin */
@font-face {
  font-family: 'AileronThin';
  src: url('../Aileron/Aileron-Thin/Aileron-Thin.eot');
  src: local('AileronThin'), local('AileronThin'),
       url('../Aileron/Aileron-Thin/Aileron-Thin.eot?#iefix') format('embedded-opentype'),
       url('../Aileron/Aileron-Thin/Aileron-Thin.woff2') format('woff2'),
       url('../Aileron/Aileron-Thin/Aileron-Thin.woff') format('woff'),
       url('../Aileron/Aileron-Thin/Aileron-Thin.ttf') format('truetype'),
       url('../Aileron/Aileron-Thin/Aileron-Thin.svg#NunitoSans') format('svg');
}
/* Aileron-ThinItalic */
@font-face {
  font-family: 'AileronThinItalic';
  src: url('../Aileron/Aileron-ThinItalic/Aileron-ThinItalic.eot');
  src: local('AileronThinItalic'), local('AileronThinItalic'),
        url('../Aileron/Aileron-ThinItalic/Aileron-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../Aileron/Aileron-ThinItalic/Aileron-ThinItalic.woff2') format('woff2'),
        url('../Aileron/Aileron-ThinItalic/Aileron-ThinItalic.woff') format('woff'),
        url('../Aileron/Aileron-ThinItalic/Aileron-ThinItalic.ttf') format('truetype'),
        url('../Aileron/Aileron-ThinItalic/Aileron-ThinItalic.svg#NunitoSans') format('svg');
}
/* Aileron-UltraLight */
@font-face {
  font-family: 'AileronUltraLight';
  src: url('../Aileron/Aileron-UltraLight/Aileron-UltraLight.eot');
  src: local('AileronUltraLight'), local('AileronUltraLight'),
       url('../Aileron/Aileron-UltraLight/Aileron-UltraLight.eot?#iefix') format('embedded-opentype'),
       url('../Aileron/Aileron-UltraLight/Aileron-UltraLight.woff2') format('woff2'),
       url('../Aileron/Aileron-UltraLight/Aileron-UltraLight.woff') format('woff'),
       url('../Aileron/Aileron-UltraLight/Aileron-UltraLight.ttf') format('truetype'),
       url('../Aileron/Aileron-UltraLight/Aileron-UltraLight.svg#NunitoSans') format('svg');
}
/* Aileron-UltraLightItalic */
@font-face {
  font-family: 'AileronUltraLightItalic';
  src: url('../Aileron/Aileron-UltraLightItalic/Aileron-UltraLightItalic.eot');
  src: local('AileronUltraLightItalic'), local('AileronUltraLightItalic'),
        url('../Aileron/Aileron-UltraLightItalic/Aileron-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../Aileron/Aileron-UltraLightItalic/Aileron-UltraLightItalic.woff2') format('woff2'),
        url('../Aileron/Aileron-UltraLightItalic/Aileron-UltraLightItalic.woff') format('woff'),
        url('../Aileron/Aileron-UltraLightItalic/Aileron-UltraLightItalic.ttf') format('truetype'),
        url('../Aileron/Aileron-UltraLightItalic/Aileron-UltraLightItalic.svg#NunitoSans') format('svg');
}

body {
    font-family: 'AileronRegular';
    font-family: 'AileronRegular', sans-serif;
}
