
/*-------------------------------------------------------------------------*/

.page_title_section {
    background-image: url(/AssetsNew/images/header-title.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0px 70px 0px;
    position:relative;
    text-align:left;
}
.page_title_section:before {
    content: "";
    background-image: linear-gradient(white, #ffffff66 50%, white);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.page_title_section h1 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #555;
    font-weight: normal;
    margin-bottom: 10px;
}
.page_title_section h1 strong {
    color: #189ad1;
}
.page_title_section p
{
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}
.page_title_section .bread-crumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    /*-ms-flex-pack: center!important;
    justify-content: center!important;*/
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.page_title_section .bread-crumb li {
    color: #555;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: normal;
}

.page_title_section .bread-crumb li a {
    color: #189ad1;
}

.page_title_section .bread-crumb li a:hover,
.page_title_section .bread-crumb li a:focus,
.page_title_section .bread-crumb li a:active {
    color: #189ad1;
    text-decoration:underline;
}




/*-------------------------------------------------------------------------*/

.services-section-two{position:relative;padding:0px 0px 50px 0px}.services-section-two .icon-layer{position:absolute;width:345px;height:425px;content:"";right:12.2%;top:260px;background-image:url(../../images/icons/icon-10.png);opacity:.08;z-index:-1}.sec-title-two .icon:after{filter:grayscale(1);opacity:.2}
/* why minop */
.why-choose-us{position:relative;z-index:9}.why-choose-us .icon-layer{position:absolute;left:-80px;top:80px;height:200px;width:130px;background-image:url(../../images/icons/icon-5.png);background-repeat:no-repeat;background-position:center;content:"";z-index:-1}.why-choose-us .content-column{position:relative}.why-choose-us .content-column .inner-column{position:relative;padding:95px 0 50px}.feature-block-three{position:relative;margin-bottom:50px}.feature-block-three .inner-box{position:relative;padding-left:70px;padding-right:40px}.feature-block-three .icon-box{position:absolute;left:0;top:0}.feature-block-three .icon-box:before{position:absolute;left:5px;top:5px;height:51px;width:58px;background-image:url(../../images/icons/icon-1.png);background-repeat:no-repeat;background-position:center;content:"";-webkit-filter:grayscale(1);-moz-filter:grayscale(1);-o-filter:grayscale(1);filter:grayscale(1);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.feature-block-three .inner-box:hover .icon-box:before{-webkit-filter:grayscale(0);-moz-filter:grayscale(0);-o-filter:grayscale(0);filter:grayscale(0)}.feature-block-three .icon-box .icon{position:relative;display:block;font-size:48px;line-height:1.2em;color:#222;font-weight:400}.feature-block-three h4{position:relative;display:block;font-size:18px;line-height:1.2em;color:#189ad1;font-weight:700;padding-top:10px;margin-bottom:15px}.feature-block-three h4 a{color:#0e4082;display:inline-block;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.feature-block-three h4 a:hover{color:#222}.feature-block-three .text{position:relative;display:block;font-size:16px;line-height:26px;color:#555;font-weight:400}.feature-block-three .icon-box:before{background-image:url(../../images/icons/icon-0.png);opacity:.2}.feature-block-three .inner-box:hover .icon-box:before{background-image:url(../../images/icons/icon-1.png)}
/* fun-fact-section */
.fun-fact-section{position:relative;padding:80px 0}.fun-fact-section:before{position:absolute;left:0;top:0;height:100%;width:50%;background-image:url(../../images/icons/dots.png);content:"";opacity:.06}.fun-fact-section .info-column{position:relative}.fun-fact-section .info-column .inner-column{position:relative}.fun-fact-section .message-box{position:relative;padding-left:220px;min-height:155px}.fun-fact-section .message-box .icon-box{position:absolute;left:20px;top:0;text-align:center}.fun-fact-section .message-box .icon-box .icon{position:relative;display:inline-block;font-size:72px;line-height:155px;color:#fff;font-weight:700;font-family:poppins,sans-serif;background-color:#398bf5;z-index:9;height:155px;width:155px;border-radius:30px}.fun-fact-section .message-box .icon-box:before{background-color:#d7e8fd;border-radius:50%;position:absolute;height:195px;width:195px;left:-20px;top:-20px;content:""}.fun-fact-section .message-box .icon-box:after{background-color:#a7ccfb;border-radius:50%;position:absolute;height:175px;width:175px;left:-10px;top:-10px;content:""}.fun-fact-section .message-box .text{position:absolute;top:50%;transform:translateY(-50%);display:block;font-size:18px;line-height:26px;color:#222;font-weight:700;text-transform:uppercase;letter-spacing:4px}.fun-fact-section .counters-column{position:relative}.fun-fact-section .counters-column .inner-column{position:relative;margin-right:-300px;padding-left:120px;margin-top:-30px}.fun-fact-section .counter-column{position:relative;text-align:center}.fun-fact-section .counter-column .icon{position:relative;display:inline-block;font-size:62px;color:#1799ce;line-height:1em;margin-bottom:25px}.fun-fact-section .counter-column .count-box{position:relative;font-size:42px;line-height:1em;color:#222;font-weight:700;font-family:Poppins,sans-serif}.fun-fact-section .counter-column .count-text{position:relative;display:inline-block;font-size:42px;line-height:1em;color:#222;font-weight:700}.fun-fact-section .counter-column .counter-title{position:relative;display:block;font-size:14px;line-height:25px;font-weight:700;color:#555;margin-top:7px;text-transform:uppercase;font-family:hind,sans-serif;z-index:1}.fun-fact-section .counter-column .counter-title:before{position:absolute;left:0;right:0;bottom:-12px;margin:0 auto;height:51px;width:58px;background-image:url(../../images/icons/icon-1.png);background-repeat:no-repeat;background-position:center;content:"";z-index:-1;filter:grayscale(1)}.fun-fact-section.style-two{padding:70px 0 85px}.fun-fact-section.style-two:before{width:100%}.fun-fact-section.style-two .outer-box{padding:0 65px}.fun-fact-section-two{position:relative;background-repeat:no-repeat;background-position:center;background-size:cover;padding:100px 0 90px}.fun-fact-section-two:before{position:absolute;left:0;top:0;height:100%;width:100%;background-color:#000;opacity:.7;content:""}.fun-fact-section-two .info-column{position:relative}.fun-fact-section-two .info-column .inner-column{position:relative;padding-left:50px;padding-top:45px}.fun-fact-section-two .info-column h2{position:relative;display:block;font-size:42px;line-height:1.2em;color:#fff;font-weight:600}.fun-fact-section-two .counters-column{position:relative;margin-bottom:40px}.fun-fact-section-two .icon-layer{position:absolute;width:162px;height:200px;content:"";left:0;top:-15px;background-image:url(../../images/icons/icon-11.png);opacity:.05}.fun-fact-section-two .counters-column .inner-column{position:relative;text-align:center}.fun-fact-section-two .counters-column .title{position:relative;display:inline-block;font-size:18px;line-height:1.2em;color:#fff;font-weight:600;margin-bottom:75px;font-family:poppins,sans-serif}.fun-fact-section-two .counters-column .title:before{position:absolute;left:0;bottom:3px;height:2px;width:100%;background-color:#f8e751;content:""}.fun-fact-section-two .counter-column{position:relative;text-align:center}.fun-fact-section-two .counter-column .icon{position:relative;display:inline-block;font-size:62px;color:#fff;line-height:1em;margin-bottom:25px}.fun-fact-section-two .counter-column .count-box{position:relative;font-size:42px;line-height:1em;color:#fff;font-weight:700;font-family:Poppins,sans-serif}.fun-fact-section-two .counter-column .count-text{position:relative;display:inline-block;font-size:42px;line-height:1em;color:#fff;font-weight:700}.fun-fact-section-two .counter-column .counter-title{position:relative;display:block;font-size:14px;line-height:25px;font-weight:700;color:#398bf5;margin-top:7px;text-transform:uppercase;font-family:hind,sans-serif;z-index:1}.fun-fact-section-two .counter-column .counter-title:before{position:absolute;left:0;right:0;bottom:-12px;margin:0 auto;height:51px;width:58px;background-image:url(../../images/icons/icon-1.png);background-repeat:no-repeat;background-position:center;content:"";z-index:-1;opacity:.1}.fun-fact-section .counter-column .counter-title:before{opacity:.2}
/* resposive 1600 */
@media only screen and (max-width:1600px){.about-and-fun-facts{padding:100px 0}.about-and-fun-facts .about-us,.about-and-fun-facts .fact-counters{margin:0 auto;float:none}.about-and-fun-facts .fact-counters .inner-column{margin-top:30px}.about-and-fun-facts:after{display:none}.testimonial-section .testimonials-column .inner-column{margin-right:0}.testimonial-section .owl-dots{left:-620px}.testimonial-section .image-column .inner-column{padding-left:0}.fun-fact-section .counters-column .inner-column{margin-right:0;padding-left:0}}
/* resposive 1250 */
@media only screen and (max-width:1250px){.why-choose-us .content-column .inner-column{padding:20px 0}.sec-title h2{font-size:35px}}
/* resposive 1023 */
@media only screen and (max-width:1023px){.about-section .content-column .inner-column{padding:40px 0}.fun-fact-section.style-two .outer-box{padding:0}.services-section-two{padding:50px 0}.about-section .image-box .image img{height:auto;margin:0 auto}}
/* resposive 500 */
@media only screen and (max-width:1250px){.fun-fact-section .counter-column{margin-bottom:30px}.fun-fact-section.style-two{padding:50px 0}}
