
/*-------------------------------------------------------------------------*/

.page_title_section {
    background-image: url(/AssetsNew/images/header-title.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0px 70px 0px;
    position:relative;
    text-align:left;
}
.page_title_section:before {
    content: "";
    background-image: linear-gradient(white, #ffffff66 50%, white);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.page_title_section h1 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #555;
    font-weight: normal;
    margin-bottom: 10px;
}
.page_title_section h1 strong {
    color: #189ad1;
}
.page_title_section p
{
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}
.page_title_section .bread-crumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    /*-ms-flex-pack: center!important;
    justify-content: center!important;*/
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.page_title_section .bread-crumb li {
    color: #555;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: normal;
}

.page_title_section .bread-crumb li a {
    color: #189ad1;
}

.page_title_section .bread-crumb li a:hover,
.page_title_section .bread-crumb li a:focus,
.page_title_section .bread-crumb li a:active {
    color: #189ad1;
    text-decoration:underline;
}




/*-------------------------------------------------------------------------*/

.contact-page-section{
    position:relative;
    padding:0px 0px 50px 0px;
}
.contact-page-section .map-box{
    position:relative;
    margin-bottom:95px
}
.contact-page-section .map-canvas{
    position:relative;
    height:510px;
    border:8px solid #fff;
    -webkit-box-shadow:0 15px 40px rgba(0,0,0,.08);
    -moz-box-shadow:0 15px 40px rgba(0,0,0,.08);
    -ms-box-shadow:0 15px 40px rgba(0,0,0,.08);
    -o-box-shadow:0 15px 40px rgba(0,0,0,.08);
    box-shadow:0 15px 40px rgba(0,0,0,.08)
}
.contact-page-section .title{
    position:relative;
    margin-bottom:35px
}
.contact-page-section .title h3{
    position:relative;
    display:block;
    font-size:30px;
    line-height:1.2em;
    color:#222;
    font-weight:700;
    margin-bottom:20px
}
.contact-page-section .title .text{
    position:relative;
    display:block;
    font-size:16px;
    line-height:26px;
    color:#555;
    font-weight:400
}
.contact-page-section .contact-column{
    position:relative;
    margin-bottom:50px
}
.contact-page-section .contact-column .inner-column{
    position:relative;
    padding-left:30px
}
.contact-page-section .contact-info{
    position:relative
}
.contact-page-section .contact-info li{
    position:relative;
    padding:5px 0;
    padding-left:60px;
    margin-bottom:12px
}
.contact-page-section .contact-info li p{
    font-size:16px;
    line-height:30px;
    color:#444;
    font-weight:400
}
.contact-page-section .contact-info li span{
    float:left;
    font-size:14px;
    line-height:30px;
    color:#398bf5;
    font-weight:700;
    text-transform:uppercase;
    margin-right:10px
}
.contact-page-section .contact-info li .icon{
    position:absolute;
    left:0;
    top:0;
    height:40px;
    width:40px;
    text-align:center;
    line-height:40px;
    background-color:#f5f8fb;
    font-size:16px;
    color:#398bf5
}
.contact-page-section .contact-info li a{
    color:#444;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease
}
.contact-page-section .contact-info li a:hover{
    color:#398bf5
}
.contact-page-section .contact-info li .number{
    font-size:24px;
    line-height:30px;
    color:#222;
    font-weight:500
}
.contact-page-section .contact-column .social-icon-two{
    padding-left:60px;
    margin-top:20px
}
.contact-page-section .form-column{
    position:relative
}
.contact-page-section.FAQ{
    padding-top:50px
}
.map-box iframe{
    height:200px;
    width:100%
}
/*.contact-form-two .form-group{
    position:relative;
    margin-bottom:20px
}
.contact-form-two .form-group:last-child{
    margin-bottom:0
}
.contact-form-two .form-group input[type=email],.contact-form-two .form-group input[type=text],.contact-form-two .form-group input[type=url],.contact-form-two .form-group select,.contact-form-two .form-group textarea{
    position:relative;
    display:block;
    height:50px;
    width:100%;
    font-size:16px;
    color:#444;
    line-height:19px;
    font-weight:400;
    padding:15px 0;
    background-color:#fff;
    border-bottom:1px solid #e1e1e1;
    -webkit-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease
}
.contact-form-two .form-group input:focus,.contact-form-two .form-group select:focus,.contact-form-two .form-group textarea:focus{
    border-color:#398bf5
}
.contact-form-two .form-group textarea{
    height:140px;
    resize:none
}
.contact-form-two .form-group button{
    margin-top:10px;
    text-transform:capitalize;
    padding:10px 35px;
    min-width:150px
}
.contact-form-two input.error:focus,.contact-form-two select.error:focus,.contact-form-two textarea.error:focus{
    border-color:red
}
.contact-form-two label.error{
    display:block;
    font-weight:500;
    font-size:13px;
    text-transform:capitalize;
    line-height:24px;
    color:red;
    padding-top:7px
}
.btn_contact_submit{
    color:#fff;
    background-color:#189dd3;
    font-size:17px
}
.btn_contact_submit:active,.btn_contact_submit:focus,.btn_contact_submit:hover{
    color:#fff;
    background-color:#f60
}*/
.contact-info{
    font-size:15px
}
.contact-info a{
    color:#444
}
.contact-info a:active,.contact-info a:focus,.contact-info a:hover{
    color:#444
}
.contact-page-section .map-box{
    margin-bottom:50px
}
.contact-page-section .contact-info li .icon{
    color:#189dd3
}
.contact-page-section .contact-info li span{
    color:#189dd3
}


.myModalsuc .modal-content{
    background-color:#fff;
    border:10px dashed #fff
}
.myModalsuc .modal-body{
    text-align:center;
    position:relative
}
.myModalsuc .modal-body p{
    font-size:20px;
    font-weight:700;
    color:#333
}
.myModalsuc button.close{
    position:absolute;
    right:10px;
    top:10px;
    height:30px;
    width:30px;
    background-color:#2c2c2c;
    opacity:1;
    text-shadow:none;
    line-height:35px;
    color:#fff;
    border-radius:5px
}
.myModalerr .modal-content{
    background-color:#fff;
    border:10px dashed #fff
}
.myModalerr .modal-body{
    text-align:center;
    position:relative
}
.myModalerr .modal-body p{
    font-size:20px;
    font-weight:700;
    color:#333
}
.myModalerr button.close{
    position:absolute;
    right:10px;
    top:10px;
    height:30px;
    width:30px;
    background-color:#2c2c2c;
    opacity:1;
    text-shadow:none;
    line-height:35px;
    color:#fff;
    border-radius:5px
}






.form-group {
    margin-bottom:10px;
}
.form-group > label {
    color: #232323;
    font-size:15px;
}
.form-group>label>span {
    color: red;
}
.form-group > input.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    resize: none;
    height:auto;
    border-radius:5px;
    width:100%;
    max-width:100%;
    font-size:15px;
}

.form-group > textarea.form-control {
    height:70px;
    padding:5px;
    line-height:22px;
    max-height:70px;
    min-height:70px
}

.captcha_failed_box
{
    font-size:14px;
    color:red;
    visibility:hidden;
}

.zcwf_col_help {
    float: left;
    margin-left: 7px;
    font-size: 12px;
    max-width: 35%;
    word-break: break-word;
}

@media all and (max-width: 600px) {
    .zcwf_lblLeft .zcwf_col_help {
        width: 40%;
    }
}


.submit_btn {
    background-color: #189ad1;
    border: 1px solid #189ad1;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Raleway,sans-serif;
    margin-right:10px;
}

.submit_btn:hover,
.submit_btn:focus,
.submit_btn:active {
    background-color: #189ad1;
    border: 1px solid #189ad1;
    color: white;
    outline:none;
}

.reset_btn {
    background-color: white;
    border: 1px solid #232323;
    color: #232323;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Raleway,sans-serif;
}

.reset_btn:hover,
.reset_btn:focus,
.reset_btn:active {
    background-color: white;
    border: 1px solid #232323;
    color: #232323;
    outline:none;
}




/* resposive 500 */
@media only screen and (max-width:500px){.contact-page-section{padding:50px 0}}