
/*-------------------------------------------------------------------------*/

.page_title_section {
    background-image: url(/AssetsNew/images/header-title.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 65px 0px;
    position:relative;
    text-align:left;
}
.page_title_section:before {
    content: "";
    background-image: linear-gradient(white, #ffffff66 50%, white);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.page_title_section h1 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #555;
    font-weight: normal;
    margin-bottom: 10px;
}
.page_title_section h1 strong {
    color: #189ad1;
}
.page_title_section p
{
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}
.page_title_section .bread-crumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    /*-ms-flex-pack: center!important;
    justify-content: center!important;*/
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.page_title_section .bread-crumb li {
    color: #555;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: normal;
}

.page_title_section .bread-crumb li a {
    color: #189ad1;
}

.page_title_section .bread-crumb li a:hover,
.page_title_section .bread-crumb li a:focus,
.page_title_section .bread-crumb li a:active {
    color: #189ad1;
    text-decoration:underline;
}



.mobile_app_section{padding:0px 0px 50px 0px;display:block;background-color:#fff}.mobile_app_section h2{color:#189dd3;text-transform:none;font-weight:700;margin-bottom:10px;font-size:35px}.mobile_app_section p{font-size:16px;line-height:20px;margin-bottom:10px}.mobile_app_section h4{font-size:16px;font-weight:500;color:#555}.mobile_app_section .google_store_btn{margin-bottom:20px}.google_store_btn{margin-top:20px;height:50px;display:inline-block;border-radius:50px;padding:0 20px 0 60px;background-color:#212121;background-image:url(../../images/icon-google.png);background-repeat:no-repeat;background-size:30px;background-position:center left 20px;text-align:left}.google_store_btn small{display:block;line-height:20px;color:#fff;font-size:14px;margin-top:5px}.google_store_btn span{display:block;line-height:20px;color:#fff;font-size:20px}.google_store_btn:active,.google_store_btn:focus,.google_store_btn:hover{text-decoration:none;outline:0}.app_store_btn{margin-top:20px;height:50px;display:inline-block;border-radius:50px;padding:0 20px 0 60px;background-color:#212121;background-image:url(../../images/icon-app-store.png);background-repeat:no-repeat;background-size:35px;background-position:center left 20px;text-align:left}.app_store_btn small{display:block;line-height:20px;color:#fff;font-size:14px;margin-top:5px}.app_store_btn span{display:block;line-height:20px;color:#fff;font-size:20px}.app_store_btn:active,.app_store_btn:focus,.app_store_btn:hover{text-decoration:none;outline:0}.file_download_section{padding:50px 0 20px;display:block;background-color:#f5f8fb}.Download_file_box{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center!important;align-items:center!important;-ms-flex-pack:center!important;justify-content:center!important;height:150px;background-color:#fff;text-align:center;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);-moz-box-shadow:0 0 10px rgba(0,0,0,0.1);-ms-box-shadow:0 0 10px rgba(0,0,0,0.1);-o-box-shadow:0 0 10px rgba(0,0,0,0.1);box-shadow:0 0 10px rgba(0,0,0,0.1);border-radius:5px;position:relative;overflow:hidden;padding-bottom:55px;margin-bottom:30px}.Download_file_box > i{position:absolute;left:-10px;top:-10px;font-size:50px;opacity:.2;color:#189dd3;height:80px;width:80px;line-height:80px}.Download_file_box h3{width:100%;font-size:20px;text-transform:none;color:#189dd3;font-weight:500}.download_file_btn{position:absolute;bottom:15px;background-color:#189dd3;padding:0 20px;border-radius:50px;color:#fff;height:40px;line-height:40px;font-size:15px;background-color:#189dd3;color:#fff;outline:0;text-decoration:none}
/* resposive 900 */
@media only screen and (max-width:900px) {
    .page_title_section {
        padding: 40px 0px;
    }
}
/* resposive 767 */
@media only screen and (max-width: 767px){.Download_the_APP_img{max-height:300px}.download_contain{text-align:center}}
