
/*-------------------------------------------------------------------------*/

.page_title_section {
    background-image: url(/AssetsNew/images/header-title.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 65px 0px;
    position:relative;
    text-align:left;
}
.page_title_section:before {
    content: "";
    background-image: linear-gradient(white, #ffffff66 50%, white);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.page_title_section h1 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #555;
    font-weight: normal;
    margin-bottom: 10px;
}
.page_title_section h1 strong {
    color: #189ad1;
}
.page_title_section p
{
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}
.page_title_section .bread-crumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    /*-ms-flex-pack: center!important;
    justify-content: center!important;*/
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.page_title_section .bread-crumb li {
    color: #555;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: normal;
}

.page_title_section .bread-crumb li a {
    color: #189ad1;
}

.page_title_section .bread-crumb li a:hover,
.page_title_section .bread-crumb li a:focus,
.page_title_section .bread-crumb li a:active {
    color: #189ad1;
    text-decoration:underline;
}



.faq_section{position:relative;padding:0px 0px 50px 0px}.faq_section h3{position:relative;display:block;font-size:30px;line-height:1.2em;color:#1799ce;font-weight:600;margin-bottom:20px}.faq_section p{position:relative;display:block;font-size:15px;line-height:24px;margin-bottom:15px}.faq{background:#FFF;box-shadow:0 2px 48px 0 rgba(0,0,0,.06);border-radius:4px}.faq .card{border:none;background:none;border-bottom:1px dashed #CEE1F8}.faq .card .card-header{padding:0;border:none;background:none;-webkit-transition:all .3s ease 0;-moz-transition:all .3s ease 0;-o-transition:all .3s ease 0;transition:all .3s ease 0}.faq .card .card-header:hover{background:#1e95cd;padding-left:10px}.faq .card .card-header .faq-title{width:100%;text-align:left;padding:0;padding-left:30px;padding-right:30px;font-weight:400;font-size:15px;letter-spacing:1px;color:#3B566E;text-decoration:none!important;-webkit-transition:all .3s ease 0;-moz-transition:all .3s ease 0;-o-transition:all .3s ease 0;transition:all .3s ease 0;cursor:pointer;padding-top:20px;padding-bottom:20px}.faq .card .card-header .faq-title .badge{display:inline-block;width:25px;height:25px;line-height:20px;float:left;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;text-align:center;background:#1e95cd;color:#fff;font-size:12px;margin-right:20px}.faq .card .card-body{padding:30px;padding-left:35px;padding-bottom:16px;font-weight:400;font-size:16px;color:#6F8BA4;line-height:28px;letter-spacing:1px;border-top:1px solid #F3F8FF}.faq .card .card-body p{margin-bottom:14px}
/* resposive 991 */
@media (max-width:991px){.faq{margin-bottom:30px}.faq .card .card-header .faq-title{line-height:26px;margin-top:10px}.page_title_section{padding: 40px 0px;}}
/* resposive 768 */
@media only screen and (max-width:768px){.faq-title p{padding:0}}







