.faq-header {
    background-image: url("../../../assets/images/faq_bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /*border-bottom-left-radius: 16px;*/
    /*border-bottom-right-radius: 16px;*/
    box-shadow: 0 8px 24px 0 #aeaebb29, 0 2px 4px 0 #0000;
    box-sizing: border-box;
    padding: 8px 8px 16px 8px;
    text-align: center;
    margin-bottom: 16px;
}

    .faq-header h1 {
        color: #ffffff;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: .5rem;
    }

.faq-container {
    margin: 0 auto;
    display: flex;
    gap: 16px;
}

.faq_cardheight {
    height: calc(100vh - 150px);
    overflow-y: hidden;
}

    .faq_cardheight:hover {
        overflow-y: auto;
    }

.nav_faq {
    position: relative;
    padding: 8px;
    align-self: baseline;
    background-color: #ecf3ff;
    border: 1px solid #d3dced;
    border-radius: 12px;
    min-width: 280px;
}

    .nav_faq ul li {
        transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

        .nav_faq ul li a {
            padding: 12px 16px;
            color: #333333;
        }

            .nav_faq ul li a.list-link {
                cursor: pointer;
                display: flex;
                align-items: center;
            }

        .nav_faq ul li .list-title {
            font-weight: 500;
        }

        .nav_faq ul li.active {
            background: #fff;
            border-radius: 8px;
        }

            .nav_faq ul li.active .list-title, .nav_faq ul li:hover .list-title,
            .nav_faq ul li.active .list-icon, .nav_faq ul li:hover .list-icon {
                color: #295097;
            }

main {
    padding: 8px;
    overflow: auto;
    flex-grow: 1;
    height: calc(100vh - 132px);
    overflow-y: hidden;
}

    main:hover {
        overflow-y: auto;
    }

    main h1.title {
        padding: 0 16px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #295097;
    }

/*section {
    padding: 32px 16px 80vh;
}*/

section {
    height: calc(100vh - 130px);
    overflow: hidden;
}

.wrap {
    position: relative;
    top: 60px;
    margin-bottom: 70px;
    padding-bottom: 24px;
    font-family: 'Roboto', sans-serif !important;
}

.list-icon {
    display: block;
    width: 20px;
    font-size: 18px;
    margin-right: 8px;
}

.accordion_data {
    height: calc(100vh - 180px);
    overflow-y: auto;
    margin-top: 10px;
}

    .accordion_data::-webkit-scrollbar {
        width: 0px;
    }

    .accordion_data .accordion {
        padding: 16px;
        margin-bottom: 16px;
    }

.accordion-header {
    display: flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.accordion-item.active .accordion-body {
    display: block;
    padding-bottom: 8px;
}

.accordion-title {
    cursor: pointer;
    
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

.accordion-item {
    cursor: pointer;
    border-bottom: 1px solid #dddff5;
    padding-bottom: 0.6rem;
}

    .accordion-item:last-child {
        border-bottom: none;
    }

.accordion-body {
    font-weight: 400;
    margin-top: 8px;
    display: none;
}

    .accordion-body p {
        color: #787878;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .accordion-body ul li {
        list-style: auto;
        margin-left: 24px;
    }
    .accordion-body  li {
        list-style: auto;
        margin-left: 24px;
    }

        .accordion-body ul li ul li {
            list-style: circle;
            margin-left: 24px;
        }

            .accordion-body ul li ul li b {
                font-size: 13px;
                font-weight: 600;
            }

.accordion-icon {
    transform: rotate(0deg);
    transition: .2s linear;
}

.accordion-item.active .accordion-icon {
    transform: rotate(180deg);
}

.search_icon {
    width: 36%;
    margin: 0 auto;
}

    .search_icon .form-control {
        height: 36px;
        line-height: 36px;
        padding-left: 36px;
        font-size: 14px;
        border-radius: 20px;
        border: none;
    }

    .search_icon .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        pointer-events: none;
        color: #777777;
    }

@media (max-width: 767.99px) {
    .faq-container {
        padding: 16px 20px 30px;
        grid-template-columns: 56px auto;
        gap: 0
    }

    .list-icon {
        margin-right: 0;
    }

    .list-title {
        display: none;
    }

    .accordion {
        margin-top: 0;
    }
}



/* ------------ Slider Code : Begin ------------ */
.slider-container {
    position: relative;
    width: 600px;
    height: auto;
    overflow: hidden;
    background: #000;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
}

    .slider-container .slide-wrapper {
        display: flex;
        transition: transform 0.5s ease;
    }

    .slider-container .slide-block {
        min-width: 100%;
        height: 100%;
        position: relative;
    }

        .slider-container .slide-block img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }

        .slider-container .slide-block .hover-buttons {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;
            background: rgba(0, 0, 0, 0.6);
            padding: 6px 12px;
            border-radius: 4px;
        }

        .slider-container .slide-block .hover_block {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            grid-gap: 12px;
        }

        .slider-container .slide-block:hover .hover-buttons {
            opacity: 1;
            pointer-events: auto;
        }

        .slider-container .slide-block .hover-buttons button {
            background: rgba(255, 255, 255, 0.9);
            border: none;
            height: 36px;
            width: 36px;
            cursor: pointer;
            border-radius: 4px;
        }

    .slider-container .slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        border: none;
        padding: 9px 12px 10px 12px;
        cursor: pointer;
        z-index: 10;
        border-radius: 3px;
    }

        .slider-container .slider-btn:disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }

    .slider-container .prev {
        left: 10px;
    }

    .slider-container .next {
        right: 10px;
    }

/* Fullscreen Overlay code : Begin */
#fullscreenOverlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

#closeOverlay {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    z-index: 1002;
}

.fullscreen_block {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

    .fullscreen_block .fullscreen-slide {
        max-width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .fullscreen_block .fullscreen-slide img {
            object-fit: contain;
            box-shadow: 0 0 20px #000;
            user-select: none;
            pointer-events: none;
            border: 2px solid #838383;
            border-radius: 6px;
        }

    .fullscreen_block .fullscreen-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #333333;
        font-size: 24px;
        cursor: pointer;
        z-index: 1001;
        padding: 6px;
        user-select: none;
        background-color: #ffffff;
        border-radius: 3px;
        border: 1px solid #b9b9b9;
    }

    .fullscreen_block .fullscreen-prev {
        left: 20px;
    }

    .fullscreen_block .fullscreen-next {
        right: 20px;
    }

    .fullscreen_block .fullscreen-nav.disabled {
        opacity: 0.3;
        pointer-events: none;
    }

@media (max-width: 768px) {
    .slider-container {
        width: 100%;
        height: auto;
    }
}
/* ------------ Slider Code : End ------------ */
