/* slider */
.main-slider {
  position: relative;
  background: #189dd3;
  background: -moz-linear-gradient(left, #189dd3 0, #40d0f7 100%);
  background: -webkit-linear-gradient(left, #189dd3 0, #40d0f7 100%);
  background: linear-gradient(to right, #189dd3 0, #40d0f7 100%);
  overflow: hidden;
}
.main-slider:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/main-slider/1_DbE3DXIwv.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1649847423475);
  background-position: center;
  background-size: cover;
}
.main-slider .auto-container {
  min-height: 600px;
}
.main-slider .auto-container .row {
  min-height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-slider h1 {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 1.15em;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
}
.main-slider h3 {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 1.15em;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 400;
}
.main-slider h3 strong {
  font-size: 25px;
}
.main-slider p {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 1.6em;
  color: #fff;
  font-weight: 400;
  margin-bottom: 100px;
}
.sign_up_btn {
  text-align: center;
  line-height: 30px;
  border-width: 0;
  margin: 0 35px 0 0;
  padding: 10px 35px;
  font-weight: 600;
  font-size: 15px;
  background-color: #f60;
  color: #fffefe;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #f60;
}
.sign_up_btn:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  outline: 0;
  text-decoration: none;
}
.sign_up_btn:active,
.sign_up_btn:focus {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  outline: 0;
  text-decoration: none;
}
.free_trial_btn {
  text-align: center;
  line-height: 30px;
  border-width: 0;
  margin: 0 35px 0 0;
  padding: 10px 35px;
  font-weight: 600;
  font-size: 15px;
  background-color: #f60;
  color: #fffefe;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #f60;
  margin-bottom: 10px;
}
.free_trial_btn:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  outline: 0;
  text-decoration: none;
}
.free_trial_btn:active,
.free_trial_btn:focus {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  outline: 0;
  text-decoration: none;
  box-shadow: none;
}
.live_demo_btn {
  text-align: center;
  line-height: 30px;
  border-width: 0;
  margin: 0 35px 0 0;
  padding: 10px 35px;
  font-weight: 600;
  font-size: 15px;
  background-color: transparent;
  color: #fff;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
.live_demo_btn:hover {
  background-color: #fff;
  color: #189ad1;
  outline: 0;
  text-decoration: none;
}
.live_demo_btn:active,
.live_demo_btn:focus {
  background-color: #fff;
  color: #189ad1;
  outline: 0;
  text-decoration: none;
  box-shadow: none;
}
.slider_img_box {
  height: 500px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center !important;
  align-items: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  position: relative;
}
.shape_1bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.shape_2bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.shape_3bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.shapebg {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;
  max-width: 80%;
}




/* Minop Sub Part */



.sub_website_section {
    background-color: #f5f8fb;
    padding: 100px 0px 100px 0px;
}

.minop_parts .nav-link {

    width:100%;
    max-width:200px;

    color: gray;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px 20px 20px 70px;
    position: relative;
    line-height: 18px;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.minop_parts .nav-link i {
    position: absolute;
    left: 15px; 
    display: inline-block;
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: gray;
    background-color: transparent;
    font-weight: bold;
    cursor: no-drop;
}


.sub_website_title {
    margin-bottom:30px;
}
.sub_website_title h2 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #222;
    font-weight: 600;
    margin-bottom:3px;
}
.sub_website_title p {
    margin-bottom:0px;
    line-height: 20px;
}


.sub_website_contain {
    background-color: white;
    background-image: -webkit-linear-gradient(to right, #e9f4f9, #FFF 50%); 
    background-image:    -moz-linear-gradient(to right, #e9f4f9, #FFF 50%); 
    background-image:     -ms-linear-gradient(to right, #e9f4f9, #FFF 50%); 
    background-image:      -o-linear-gradient(to right, #e9f4f9, #FFF 50%); 
    background-image:         linear-gradient(to right, #e9f4f9, #FFF 50%);
    border-radius: 20px;
    padding:20px;
}

.sub_website_part_box
{
    padding: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    text-align:center;
}
.sub_website_part_box img
{
    max-width: 200px;
    margin-bottom: 20px;
}
.sub_website_part_box h3
{
    font-size: 20px;
    margin-bottom:10px;
    color: #555;
    width:100%;
}
.sub_website_part_box p
{
    font-size: 15px;
    margin-bottom:0px;
    width:100%;
    line-height: 20px;
}
.sub_website_part_box p strong {
    font-size:15px;
}
/*.sub_website_part_box a
{
    background-color: #ff6600;
    padding: 5px 10px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 5px;
}
.sub_website_part_box a:hover,
.sub_website_part_box a:focus,
.sub_website_part_box a:active {
    background-color: #ff6600;
    color: white;
    outline:none;
    text-decoration:none;
}*/

.sub_website_action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    padding: 20px;
}

.sub_website_sign_in_btn {
    margin: 0px 25px 0px 0px;
    display: inline-block;
    padding: 7px 20px;
    border: 1px solid #00aeef;
    background-color: #00aeef;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
.sub_website_sign_in_btn:hover,
.sub_website_sign_in_btn:focus,
.sub_website_sign_in_btn:active {
    border: 1px solid #00aeef;
    background-color: #00aeef;
    color: white;
    outline:none;
    text-decoration:none;
}

.sub_website_sign_up_btn {
    margin: 0px 0px 0px 25px;
    display: inline-block;
    padding: 7px 20px;
    border: 1px solid #555;
    background-color: transparent;
    color: #555;
    border-radius: 5px;
    font-size: 16px;
}
.sub_website_sign_up_btn:hover,
.sub_website_sign_up_btn:focus,
.sub_website_sign_up_btn:active {
    border: 1px solid #555;
    background-color: transparent;
    color: #555;
    outline:none;
    text-decoration:none;
}


/*-----------------------*/
.sub_website_feature_box {
    padding: 30px 10px 30px 60px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    border-left: 1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
}
.sub_website_feature_box i {
    position: absolute;
    left: 10px;
    height: 40px;
    width: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.sub_website_feature_box p {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 600;
}
.sub_website_feature_box2 {
    padding: 30px 10px 30px 60px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    border-left: 1px solid #eeeeee;
}
.sub_website_feature_box2 i {
    position: absolute;
    left: 10px;
    height: 40px;
    width: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.sub_website_feature_box2 p {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 600;
}





/* why minop */
.why-choose-us{position:relative;z-index:9}.why-choose-us .icon-layer{position:absolute;left:-80px;top:80px;height:200px;width:130px;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-5_4IcLNneos.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847389092);background-repeat:no-repeat;background-position:center;content:"";z-index:-1}.why-choose-us .content-column{position:relative}.why-choose-us .content-column .inner-column{position:relative;padding:95px 0 50px}.feature-block-three{position:relative;margin-bottom:50px}.feature-block-three .inner-box{position:relative;padding-left:70px;padding-right:40px}.feature-block-three .icon-box{position:absolute;left:0;top:0}.feature-block-three .icon-box:before{position:absolute;left:5px;top:5px;height:51px;width:58px;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-1_d4e5CiX7b.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847386475);background-repeat:no-repeat;background-position:center;content:"";-webkit-filter:grayscale(1);-moz-filter:grayscale(1);-o-filter:grayscale(1);filter:grayscale(1);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.feature-block-three .inner-box:hover .icon-box:before{-webkit-filter:grayscale(0);-moz-filter:grayscale(0);-o-filter:grayscale(0);filter:grayscale(0)}.feature-block-three .icon-box .icon{position:relative;display:block;font-size:48px;line-height:1.2em;color:#222;font-weight:400}.feature-block-three h4{position:relative;display:block;font-size:18px;line-height:1.2em;color:#189ad1;font-weight:700;padding-top:10px;margin-bottom:15px}.feature-block-three h4 a{color:#0e4082;display:inline-block;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.feature-block-three h4 a:hover{color:#222}.feature-block-three .text{position:relative;display:block;font-size:16px;line-height:26px;color:#555;font-weight:400}.feature-block-three .icon-box:before{background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-0_lP15f9pkd.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847386204);opacity:.2}.feature-block-three .inner-box:hover .icon-box:before{background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-1_d4e5CiX7b.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847386475)}
/* about-section */
.about-section{position:relative;z-index:2}.about-section:before{position:absolute;left:0;top:0;height:100%;width:59.4%;background-color:#f5f8fb;content:""}.about-section .icon-layer{position:absolute;left:0;bottom:0;width:300px;height:300px;content:"";background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-10_W4mQeriZNq.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847386890);background-position:right top;opacity:.08}.about-section .content-column{position:relative}.about-section .content-column .inner-column{position:relative;padding:100px 0}.about-section .sec-title-two{position:relative;margin-bottom:20px}.about-section .content-column .message{position:relative;display:block;font-size:18px;line-height:28px;color:#398bf5;font-weight:400;margin-bottom:20px}.about-section .content-column .text{position:relative;display:block;font-size:16px;line-height:26px;color:#555;font-weight:400;margin-bottom:40px}.about-section .link-box{position:relative;display:inline-block;padding:10px 0}.about-section .link-box:before{position:absolute;top:0;left:0;right:0;margin:0 auto;height:51px;width:58px;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-1_d4e5CiX7b.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847386475);background-repeat:no-repeat;background-position:center;content:"";-webkit-filter:grayscale(1);-moz-filter:grayscale(1);-o-filter:grayscale(1);filter:grayscale(1);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.about-section .link-box a{position:relative;font-size:15px;line-height:30px;color:#222;font-weight:600;text-transform:uppercase;text-decoration:underline;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.about-section .link-box a i{color:#189ad1;margin-left:4px}.about-section .image-column{position:relative}.about-section .image-column .inner-column{position:relative;padding-left:90px;padding-top:65px;margin-right:-235px}.about-section .image-box{position:relative}.about-section .image-box .image{margin-bottom:-45px}.about-section .image-box .image img{display:block;width:700px;height:auto}.about-section .image-box .info-box{position:absolute;left:0;top:50px;width:100%;text-align:center}.about-section .image-box .info-box .text{position:relative;display:block;font-size:16px;line-height:22px;letter-spacing:3px;color:#222;font-weight:500;text-transform:uppercase}.about-section .image-box .info-box h2{position:relative;display:block;font-size:100px;line-height:1em;color:#3fd2f9;font-weight:700}.about-section.style-two{position:relative;padding:100px 0 40px}.about-section.style-two:before{left:auto;right:0;height:470px;width:42%}.about-section.style-two .image-box{position:relative;margin-bottom:60px}.about-section.style-two .image-box .image{margin-bottom:0;-webkit-box-shadow:0 10px 40px rgba(0,0,0,0.08);-moz-box-shadow:0 10px 40px rgba(0,0,0,0.08);-ms-box-shadow:0 10px 40px rgba(0,0,0,0.08);-o-box-shadow:0 10px 40px rgba(0,0,0,0.08);box-shadow:0 10px 40px rgba(0,0,0,0.08)}.about-section.style-two .image-box .info-box{width:auto;left:auto;right:190px;top:25px}.about-section-two{position:relative;z-index:9}.about-section-two .outer-box{position:relative;margin-top:-25px;box-shadow:0 18px 38px rgba(0,0,0,0.06)}.about-section-two .content-column{position:relative}.about-section-two .content-column .inner-column{position:relative;padding:84px 70px;margin-left:-55px;padding-left:75px;background-color:#398bf5}.about-section-two .content-column .inner-column:before{position:absolute;top:35px;left:35px;height:201px;width:163px;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-3_0pxnDamjL.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847388659);content:"";opacity:.07}.about-section-two .content-column h2{position:relative;display:block;font-size:36px;line-height:1.2em;color:#fff;font-weight:600;margin-bottom:25px}.about-section-two .content-column .text{position:relative;margin-bottom:40px}.about-section-two .content-column .text p{position:relative;display:block;font-size:16px;line-height:26px;color:#fff;font-weight:300;margin-bottom:26px}.about-section-two .content-column .sign{position:relative;display:block;margin-bottom:5px}.about-section-two .content-column .name{position:relative;display:block;font-size:16px;line-height:30px;color:#fff}.about-section-two .content-column .name span{font-size:12px}.about-section-two .image-column{position:relative}.about-section-two .image-column .inner-column{position:relative;padding-right:24px}.about-section-two .image-column .image-box{position:relative}.about-section-two .image-column .image-box .image{position:relative;margin-bottom:0}.about-section-two .image-column .image-box .image img{display:block;width:100%;height:auto}.about-section .link-box a.about_learn_more_btn{color:#222}.about-section .link-box a.about_learn_more_btn:active,.about-section .link-box a.about_learn_more_btn:focus,.about-section .link-box a.about_learn_more_btn:hover{color:#222}.about-section .link-box:before{opacity:.2}.about-section .link-box a i{color:#222}.about-section .image-box .info-box h2{color:#3fd2f9}
/* fun-fact-section */
.fun-fact-section{position:relative;padding:80px 0}.fun-fact-section:before{position:absolute;left:0;top:0;height:100%;width:50%;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/dots_6dLFqhKpf.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847386045);content:"";opacity:.06}.fun-fact-section .info-column{position:relative}.fun-fact-section .info-column .inner-column{position:relative}.fun-fact-section .message-box{position:relative;padding-left:220px;min-height:155px}.fun-fact-section .message-box .icon-box{position:absolute;left:20px;top:0;text-align:center}.fun-fact-section .message-box .icon-box .icon{position:relative;display:inline-block;font-size:72px;line-height:155px;color:#fff;font-weight:700;font-family:poppins,sans-serif;background-color:#398bf5;z-index:9;height:155px;width:155px;border-radius:30px}.fun-fact-section .message-box .icon-box:before{background-color:#d7e8fd;border-radius:50%;position:absolute;height:195px;width:195px;left:-20px;top:-20px;content:""}.fun-fact-section .message-box .icon-box:after{background-color:#a7ccfb;border-radius:50%;position:absolute;height:175px;width:175px;left:-10px;top:-10px;content:""}.fun-fact-section .message-box .text{position:absolute;top:50%;transform:translateY(-50%);display:block;font-size:18px;line-height:26px;color:#222;font-weight:700;text-transform:uppercase;letter-spacing:4px}.fun-fact-section .counters-column{position:relative}.fun-fact-section .counters-column .inner-column{position:relative;margin-right:-300px;padding-left:120px;margin-top:-30px}.fun-fact-section .counter-column{position:relative;text-align:center}.fun-fact-section .counter-column .icon{position:relative;display:inline-block;font-size:62px;color:#1799ce;line-height:1em;margin-bottom:25px}.fun-fact-section .counter-column .count-box{position:relative;font-size:42px;line-height:1em;color:#222;font-weight:700;font-family:Poppins,sans-serif}.fun-fact-section .counter-column .count-text{position:relative;display:inline-block;font-size:42px;line-height:1em;color:#222;font-weight:700}.fun-fact-section .counter-column .counter-title{position:relative;display:block;font-size:14px;line-height:25px;font-weight:700;color:#555;margin-top:7px;text-transform:uppercase;font-family:hind,sans-serif;z-index:1}.fun-fact-section .counter-column .counter-title:before{position:absolute;left:0;right:0;bottom:-12px;margin:0 auto;height:51px;width:58px;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-1_d4e5CiX7b.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847386475);background-repeat:no-repeat;background-position:center;content:"";z-index:-1;filter:grayscale(1)}.fun-fact-section.style-two{padding:70px 0 85px}.fun-fact-section.style-two:before{width:100%}.fun-fact-section.style-two .outer-box{padding:0 65px}.fun-fact-section-two{position:relative;background-repeat:no-repeat;background-position:center;background-size:cover;padding:100px 0 90px}.fun-fact-section-two:before{position:absolute;left:0;top:0;height:100%;width:100%;background-color:#000;opacity:.7;content:""}.fun-fact-section-two .info-column{position:relative}.fun-fact-section-two .info-column .inner-column{position:relative;padding-left:50px;padding-top:45px}.fun-fact-section-two .info-column h2{position:relative;display:block;font-size:42px;line-height:1.2em;color:#fff;font-weight:600}.fun-fact-section-two .counters-column{position:relative;margin-bottom:40px}.fun-fact-section-two .icon-layer{position:absolute;width:162px;height:200px;content:"";left:0;top:-15px;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-11_N3bu7c07U.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847387402);opacity:.05}.fun-fact-section-two .counters-column .inner-column{position:relative;text-align:center}.fun-fact-section-two .counters-column .title{position:relative;display:inline-block;font-size:18px;line-height:1.2em;color:#fff;font-weight:600;margin-bottom:75px;font-family:poppins,sans-serif}.fun-fact-section-two .counters-column .title:before{position:absolute;left:0;bottom:3px;height:2px;width:100%;background-color:#f8e751;content:""}.fun-fact-section-two .counter-column{position:relative;text-align:center}.fun-fact-section-two .counter-column .icon{position:relative;display:inline-block;font-size:62px;color:#fff;line-height:1em;margin-bottom:25px}.fun-fact-section-two .counter-column .count-box{position:relative;font-size:42px;line-height:1em;color:#fff;font-weight:700;font-family:Poppins,sans-serif}.fun-fact-section-two .counter-column .count-text{position:relative;display:inline-block;font-size:42px;line-height:1em;color:#fff;font-weight:700}.fun-fact-section-two .counter-column .counter-title{position:relative;display:block;font-size:14px;line-height:25px;font-weight:700;color:#398bf5;margin-top:7px;text-transform:uppercase;font-family:hind,sans-serif;z-index:1}.fun-fact-section-two .counter-column .counter-title:before{position:absolute;left:0;right:0;bottom:-12px;margin:0 auto;height:51px;width:58px;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-1_d4e5CiX7b.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847386475);background-repeat:no-repeat;background-position:center;content:"";z-index:-1;opacity:.1}.fun-fact-section .counter-column .counter-title:before{opacity:.2}
/* awards & recognitions */
.awards_recognitions_section{position:relative;background-repeat:no-repeat;background-position:center;background-size:cover;padding:50px 0}.awards_recognitions_section:before{position:absolute;left:0;top:0;height:100%;width:100%;background-color:#178cc6;opacity:.95;content:"";background:linear-gradient(to right,#189dd3 0,#40d0f7 100%)}.awards_recognitions_section h2{position:relative;display:block;font-size:35px;line-height:1.2em;color:#fff;font-weight:600;margin-bottom:30px}.awards_recognitions_section p{position:relative;display:block;font-size:16px;line-height:34px;color:#fff;font-weight:400}.ask_for_quote_btn{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;font-family:Poppins,sans-serif;position:relative;display:inline-block;font-size:15px;line-height:30px;color:#1c97ce;padding:10px 30px;font-weight:600;overflow:hidden;border-radius:3px;background-color:#fff;text-transform:uppercase}.ask_for_quote_btn:hover,.ask_for_quote_btn:focus,.ask_for_quote_btn:active{text-decoration:none;outline:0;background-color:#fff;color:#1c97ce}
/* client section */
.client_section{position:relative;padding:80px 0}.client_section h2{position:relative;display:block;font-size:35px;line-height:1.2em;color:#222;font-weight:600;text-align:center;margin-bottom:10px}.client_section p{position:relative;display:block;font-size:16px;line-height:24px;margin-bottom:50px;text-align:center}.client_section .box_client{overflow:hidden}.client_list{margin:-1px;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;width:101%;-ms-flex-pack: center!important;justify-content: center!important;}.client_list li{text-align:center;border:1px solid #eee;padding:15px}.client_logo{text-align:center}.client_logo img{max-height:100px;max-width:130px}
/* Track Time */
.case-studies-two{position:relative;padding:100px 0}.case-studies-two .case-tabs{position:relative}.tabs-box{position:relative}.tabs-box .tab{display:none}.tabs-box .tab.active-tab{display:block}.case-tabs .tab-btns{position:relative;text-align:center;margin-bottom:40px}.case-tabs .tab-btns .tab-btn{position:relative;display:inline-block;font-size:18px;color:#555;line-height:30px;font-weight:600;padding:10px 0;cursor:pointer;margin:0 23px;font-family:poppins,sans-serif;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.case-tabs .tab-btns .tab-btn .icon{margin-right:5px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.case-tabs .tab-btns .tab-btn:before{position:absolute;top:0;left:0;right:0;margin:0 auto;height:51px;width:58px;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-1_d4e5CiX7b.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847386475);background-repeat:no-repeat;background-position:center;content:"";transform:scale(0);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;z-index:-1}.case-tabs .tab-btns .tab-btn.active-btn:before{transform:scale(1)}.case-tabs .tab-btns .tab-btn.active-btn,.case-tabs .tab-btns .tab-btn:hover{color:#0e4082;text-decoration:underline}.case-tabs .tab-btns .tab-btn.active-btn .icon,.case-tabs .tab-btns .tab-btn:hover .icon{color:#fff}.case-tab{position:relative;z-index:1;background-color:#fff;box-shadow:0 0 60px rgba(0,0,0,0.08)}.case-tab:before{position:absolute;left:50%;bottom:0;height:2px;width:0;content:"";background-color:#f8e751;-webkit-transition:all .6s ease;-moz-transition:all .6s ease;-ms-transition:all .6s ease;-o-transition:all .6s ease;transition:all .6s ease}.active-tab .case-tab:before{left:0;width:100%;-webkit-transition-delay:.6s;-moz-transition-delay:.6s;-ms-transition-delay:.6s;-o-transition-delay:.6s;transition-delay:.6s}.case-tab .image-column{position:relative}.case-tab .image-column .inner-column{position:relative;padding:75px 70px;padding-right:30px}.case-tab .image-column .image-box{position:relative}.case-tab .image-column .graph{position:relative;margin-bottom:0}.case-tab .image-column .graph img{display:block;width:460px;height:310px;margin:0 auto}.case-tab .content-column{position:relative}.case-tab .content-column .inner-column{position:relative;padding:75px 70px;padding-left:0}.case-tab .content-column .title{position:relative;display:block;margin-bottom:25px}.case-tab .content-column .title h3{position:relative;display:block;font-size:30px;line-height:1.2em;color:#139cd5;font-weight:600;margin-bottom:5px}.case-tab .content-column .title span{position:relative;display:block;font-size:14px;line-height:24px;color:#555;font-weight:700}.case-tab .content-column .text{position:relative;display:block;font-size:14px;line-height:24px;margin-bottom:25px}.case-studies-two.style-two{position:relative;background-color:#f5f8fb}.case-studies-two.style-two .tab-btns{margin-bottom:0}.case-studies-two.style-two .tab-btns .tab-btn{margin:0 -2px;padding:25px 50px;background-color:#fff;border:0}.case-studies-two.style-two .tab-btns .tab-btn:before{display:none}.case-studies-two.style-two .tab-btns .tab-btn.active-btn,.case-studies-two.style-two .tab-btns .tab-btn:hover{color:#fff;background-color:#2192ca;text-decoration:none;box-shadow:0 18px 38px rgba(0,0,0,0.06)}.main-slider .link-box .learn-more:hover{color:#fff}.case-tab .content-column .text{font-size:16px}.case-tab:before{background-color:#f60}.sec-title-two .icon:after{filter:grayscale(1);opacity:.2}.service-block-five .title-box .icon{color:#189ad1}
/* Client’s Reviews */
.testimonial-section{position:relative;padding:100px 0 0}.testimonial-section:before{position:absolute;left:0;bottom:0;height:400px;width:64%;background-color:#f5f8fb;content:""}.testimonial-section .testimonials-column{position:relative}.testimonial-section .testimonials-column .inner-column{position:relative;margin-right:-125px;padding-top:100px}.testimonial-block{position:relative}.testimonial-block .inner-box{position:relative}.testimonial-block .icon{position:relative;display:inline-block;margin-bottom:40px}.quote-icon{height:61px;width:80px;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/quote-icon_9XtvGy08I.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847391957)}.testimonial-block .text{position:relative;display:block;font-size:20px;line-height:34px;color:#222;font-weight:300;margin-bottom:55px}.testimonial-block .info-box{position:relative;padding-left:25px}.testimonial-block .info-box:before{position:absolute;left:0;top:-13px;height:51px;width:58px;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-1_d4e5CiX7b.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847386475);background-repeat:no-repeat;background-position:center;content:""}.testimonial-block .info-box h5{position:relative;display:block;font-size:16px;line-height:22px;color:#222;font-weight:600}.testimonial-block .info-box span{position:relative;display:block;font-size:13px;line-height:18px;color:#222;font-weight:400}.testimonial-section .image-column{position:relative}.testimonial-section .image-column .inner-column{position:relative;padding-left:60px}.testimonial-section .image{position:relative;margin-bottom:0}.testimonial-section .owl-nav{display:none}.testimonial-section .owl-dots{position:absolute;left:-750px;top:50%;margin-top:20px}.testimonial-section .owl-dot{position:relative;display:block;height:8px;width:10px;background-color:#ccc;margin-bottom:12px;border-radius:10px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.testimonial-section .owl-dot.active,.testimonial-section .owl-dot:hover{width:18px;background-color:#0e4082}.testimonial-section-two{position:relative;padding:100px 0}.testimonial-section-two:before{position:absolute;left:0;bottom:0;height:100%;width:50%;background-color:#f5f8fb;content:""}.testimonial-block-three{position:relative;max-width:800px;margin:0 auto}.testimonial-block-three .inner-box{position:relative;text-align:center}.testimonial-block-three .thumb{position:relative;display:inline-block;height:100px;width:100px;border-radius:50%;overflow:hidden;margin-bottom:25px}.testimonial-block-three .thumb img{width:auto;height:100px}.testimonial-block-three .text{position:relative;display:block;font-size:16px;line-height:20px;color:#222;font-weight:300;margin-bottom:55px}.testimonial-block-three .info-box{position:relative;padding-left:25px}.testimonial-block-three .info-box:before{position:absolute;left:0;right:0;margin:0 auto;top:-13px;height:51px;width:58px;background-image:url(https://ik.imagekit.io/q7ibslkn5mt/Minopcloud/images/icons/icon-1_d4e5CiX7b.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649847386475);background-repeat:no-repeat;background-position:center;content:"";filter:grayscale(1);opacity:.2}.testimonial-block-three .info-box h5{position:relative;display:block;font-size:16px;line-height:22px;color:#222;font-weight:600}.testimonial-block-three .info-box span{position:relative;display:block;font-size:13px;line-height:18px;color:#222;font-weight:400}.testimonial-block-three .image-column{position:relative}.testimonial-block-three .image-column .inner-column{position:relative;padding-left:60px}.testimonial-block-three .image{position:relative;margin-bottom:0}.testimonial-section-two .owl-nav{display:none}.testimonial-section-two .owl-dots{position:absolute;right:0;top:25%;margin-top:20px;direction:rtl}.testimonial-section-two .owl-dot{position:relative;display:block;height:8px;width:10px;background-color:#ccc!important;margin-bottom:12px;border-radius:10px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.testimonial-section-two .owl-dot.active,.testimonial-section-two .owl-dot:hover{width:18px;background-color:#189ad1!important}.testimonial-section-two.style-two:before{display:none}.sec-title-two .icon:after{filter:grayscale(1);opacity:.2}.testimonial-section-two{padding:50px 0}.testimonial-block-three .info-box:before{filter:grayscale(1);opacity:.2}.testimonial-section-two .owl-dot.active,.testimonial-section-two .owl-dot:hover{background-color:#189ad1}

/* resposive 1600 */
@media only screen and (max-width: 1600px) {
  .fun-fact-section .counters-column .inner-column {
    margin-right: 0;
    padding-left: 0;
  }
}
/* resposive 1400 */
@media only screen and (max-width: 1400px) {
  .about-section .image-column .inner-column {
    padding-left: 0;
    margin-right: 0;
    padding-top: 100px;
  }
  .about-section .image-box .image {
    margin-bottom: 0;
  }
}
/* resposive 1300 */
@media only screen and (max-width: 1300px) {
  .main-slider h1 {
    font-size: 40px;
  }
  .main-slider .auto-container {
    min-height: 500px;
  }
  .main-slider .auto-container .row {
    min-height: 500px;
  }
  .slider_img_box {
    height: 400px;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
  }
  .shape_1bg {
    height: 400px;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
  }
  .shape_2bg {
    height: 400px;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
  }
  .shape_3bg {
    height: 400px;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
  }
  .shapebg {
    height: 350px;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    max-width: unset;
  }
}
/* resposive 1250 */
@media only screen and (max-width: 1250px) {
  .why-choose-us .content-column .inner-column {
    padding: 20px 0;
  }
  .sec-title h2 {
    font-size: 35px;
  }
}
/* resposive 1140 */
@media only screen and (max-width: 1140px) {
  .banner-carousel .content-box h2,
  .banner-section.style-five .content-box h2,
  .banner-section.style-four .content-box h2,
  .banner-section.style-three .content-box h2,
  .banner-section.style-two .banner-carousel h2 {
    font-size: 40px;
    line-height: 1.2em;
  }
}
/* resposive 1100 */
@media only screen and (max-width: 1100px) {
  .main-slider h1 {
    font-size: 40px;
  }
    .sub_website_sign_in_btn {
        margin:5px;
    }
    .sub_website_sign_up_btn {
        margin:5px;
    }
}
/* resposive 1023 */
@media only screen and (max-width: 1023px) {
  .fun-fact-section.style-two .outer-box {
    padding: 0;
  }
  .case-studies-two.style-two {
    padding: 50px 0;
  }
  .case-studies-two.style-two .tab-btns {
    margin: 20px 0 0;
  }
  .case-studies-two.style-two .tab-btns .tab-btn {
    padding: 10px;
    font-size: 15px;
  }
  .case-tab .content-column .inner-column {
    padding: 20px;
  }
  .case-tab .image-column .inner-column {
    padding: 20px 20px 0;
  }
}
/* resposive 991 */
@media only screen and (max-width: 991px) {
  .about-section {
    padding: 20px;
  }
  .about-section:before {
    width: 100%;
  }
  .about-section .content-column .inner-column {
    padding: 0;
    margin-bottom: 20px;
  }
  .about-section .image-column .inner-column {
    padding: 0;
  }
  .about-section .image-box .image {
    text-align: center;
  }
  .about-section .image-box .image img {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin: auto;
  }
}
/* resposive 900 */
@media only screen and (max-width: 900px) {
  .slider_contain {
    text-align: center;
  }
}
/* resposive 880 */
@media only screen and (max-width: 880px) {
  .main-slider h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .main-slider p {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}
/* resposive 767 */
@media only screen and (max-width: 767px) {
  .case-tab .image-column .graph img {
    height: auto;
  }
  .slider_contain {
    text-align: center;
  }
  .case-tabs .tab-btns {
    margin: 20px 0;
  }
    .sub_website_section {
        padding: 50px 0px;
    }
    .minop_parts .nav-link {
        width: 70px;
        height: 70px;
        padding: 0px;
    }
    .minop_parts .nav-link span {
        display:none;
    }

}
/* resposive 575 */
@media only screen and (max-width: 575px) {
  .sub_website_feature_box {
    padding: 10px 0px 10px 100px;
  }
  .sub_website_feature_box2 {
    padding: 10px 0px 10px 100px;
  }
  .minop_parts .nav-link {
        width: 40px;
        height: 40px;
    }
    .minop_parts .nav-link i {
        left: 8px;
        height: 25px;
        width: 25px;
    }
}
/* resposive 500 */
@media only screen and (max-width: 500px) {
  .slider_img_box {
    height: 300px;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    width: auto;
    margin-bottom: 50px;
  }
  .shape_1bg {
    height: auto;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    width: 100%;
  }
  .shape_2bg {
    height: auto;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    width: 100%;
  }
  .shape_3bg {
    height: auto;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    width: 100%;
  }
  .shapebg {
    height: auto;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    width: 100%;
  }
  .main-slider h3 strong {
    display: flex;
    justify-content: center;
  }
  .free_trial_btn {
    margin: 0 0 20px;
  }
  .live_demo_btn {
    margin: 0 0 20px;
  }
  .client_list li.col-xs-12 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .sec-title-two h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .fun-fact-section .counter-column {
    margin-bottom: 30px;
  }
  .fun-fact-section.style-two {
    padding: 50px 0 20px;
  }
  .awards_recognitions_section h2 {
    text-align: center;
  }
  .awards_recognitions_section p {
    text-align: center;
    margin-bottom: 20px;
  }
  .sec-title {
    margin-bottom: 20px;
  }
}
