
/*-------------------------------------------------------------------------*/

.page_title_section {
    background-image: url(/AssetsNew/images/header-title.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0px 70px 0px;
    position:relative;
    text-align:left;
}
.page_title_section:before {
    content: "";
    background-image: linear-gradient(white, #ffffff66 50%, white);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.page_title_section h1 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #555;
    font-weight: normal;
    margin-bottom: 10px;
}
.page_title_section h1 strong {
    color: #189ad1;
}
.page_title_section p
{
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}
.page_title_section .bread-crumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    /*-ms-flex-pack: center!important;
    justify-content: center!important;*/
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.page_title_section .bread-crumb li {
    color: #555;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: normal;
}

.page_title_section .bread-crumb li a {
    color: #189ad1;
}

.page_title_section .bread-crumb li a:hover,
.page_title_section .bread-crumb li a:focus,
.page_title_section .bread-crumb li a:active {
    color: #189ad1;
    text-decoration:underline;
}

/*----------------------------------------------------------------------*/


.privacypolicy_contain{
    padding:0px 0px 50px 0px;
    display:block;
    background-color:#fff
}
.privacypolicy_contain h2{
    font-size:25px;
    color:#f60;
    font-weight:600;
    margin-bottom:5px
}
.privacypolicy_contain h2 span{
    font-size:17px;
    color:#555
}
.privacypolicy_contain h3{
    font-size:23px;
    color:#189dd3;
    font-weight:600;
    margin-bottom:5px
}
.privacypolicy_contain h4{
    font-size:17px;
    font-weight:600;
    margin-bottom:5px;
    color:#555
}
.privacypolicy_contain p{
    display:block;
    font-size:16px;
    line-height:20px;
    color:#555;
    font-weight:400;
    margin-bottom:5px
}
.privacypolicy_contain p.list{
    position:relative;
    padding-left:20px
}
.privacypolicy_contain p.list i{
    position:absolute;
    left:0;
    color:#189dd3;
    font-size:15px;
    top:2px
}
.privacypolicy_contain hr.blue_hr{
    border-top:1px dashed #189dd3
}
.privacypolicy_contain hr.orange_hr{
    border-top:1px dashed #f60
}
.privacypolicy_contain a{
    color:#f60;
    text-decoration:none
}
.privacypolicy_contain a:active,.privacypolicy_contain a:focus,.privacypolicy_contain a:hover{
    color:#f60;
    text-decoration:none;
    outline:0
}
.terms_of_use_contain{
    padding:0px 0px 50px 0px;
    display:block;
    background-color:#fff
}
.terms_of_use_contain h3{
    font-size:23px;
    color:#189dd3;
    font-weight:600;
    margin-bottom:5px
}
.terms_of_use_contain p{
    display:block;
    font-size:16px;
    line-height:20px;
    color:#555;
    font-weight:400;
    margin-bottom:10px
}
.sitemap_contain{
    padding:50px 0;
    display:block;
    background-color:#fff
}
.title_sitemap_box_part{
    font-size:23px;
    color:#189dd3;
    font-weight:600;
    margin-bottom:5px;
    display:inline-block;
    border-bottom:1px dashed #189dd3;
    padding:5px 0
}
.title_sitemap_box_part:active,.title_sitemap_box_part:focus,.title_sitemap_box_part:hover{
    color:#189dd3;
    text-decoration:none;
    outline:0
}
.list_urls_sitemap li a{
    display:block;
    font-size:16px;
    line-height:20px;
    color:#555;
    font-weight:400;
    padding:5px 0
}
.list_urls_sitemap li a:active,.list_urls_sitemap li a:focus,.list_urls_sitemap li a:hover{
    color:#189dd3;
    text-decoration:none;
    outline:0
}
