
/*-------------------------------------------------------------------------*/
.page_title_section{background-image:url(/AssetsNew/images/header-title.jpg);background-position:center center;background-repeat:no-repeat;background-size:cover;padding:70px 0 20px;position:relative;text-align:left}.page_title_section:before{content:"";background-image:linear-gradient(white,#ffffff66 50%,#fff);position:absolute;left:0;right:0;top:0;bottom:0}.page_title_section h1{position:relative;display:block;font-size:30px;line-height:1.2em;color:#555;font-weight:400;margin-bottom:10px}.page_title_section .bread-crumb li a,.page_title_section h1 strong{color:#189ad1}.page_title_section p{color:#555;font-size:16px;margin-bottom:30px}.page_title_section .bread-crumb{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center!important;align-items:center!important;-ms-flex-pack:start!important;justify-content:flex-start!important}.page_title_section .bread-crumb li{color:#555;padding:0 5px;font-size:13px;font-weight:400}.page_title_section .bread-crumb li a:active,.page_title_section .bread-crumb li a:focus,.page_title_section .bread-crumb li a:hover{color:#189ad1;text-decoration:underline}

/*-------------------------------------------------------------------------*/
.sitemap_section{background-color:#fff;padding:0 0 50px}.sitemap_link{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center!important;align-items:center!important;margin:5px 0;position:relative;padding-left:30px}.sitemap_link::before{content:"";position:absolute;left:0;height:10px;width:10px;background-color:#555;border-radius:100%}.sitemap_link a{display:inline-block;color:#555;-webkit-transition:.2s;-moz-transition:.2s;-ms-transition:.2s;-o-transition:.2s;transition:.2s}.sitemap_link a:active,.sitemap_link a:focus,.sitemap_link a:hover{color:#189ad1;text-decoration:underline}.sitemap_header_box{margin-bottom:50px}.sitemap_header_box a,.sitemap_header_box a:active,.sitemap_header_box a:focus,.sitemap_header_box a:hover{display:block;text-decoration:none}.sitemap_header_box a img{width:150px;height:auto;margin-bottom:10px}.sitemap_header_box h3{font-size:15px;color:#555;margin-bottom:5px}.sitemap_header_box p{font-size:14px;color:#555;margin-bottom:10px;font-weight:400;font-family:Hind,sans-serif;line-height:20px}




























