
/*-------------------------------------------------------------------------*/

.page_title_section {
    background-image: url(/AssetsNew/images/header-title.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 65px 0px;
    position:relative;
    text-align:left;
}
.page_title_section:before {
    content: "";
    background-image: linear-gradient(white, #ffffff66 50%, white);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.page_title_section h1 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #555;
    font-weight: normal;
    margin-bottom: 10px;
}
.page_title_section h1 strong {
    color: #189ad1;
}
.page_title_section p
{
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}
.page_title_section .bread-crumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    /*-ms-flex-pack: center!important;
    justify-content: center!important;*/
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.page_title_section .bread-crumb li {
    color: #555;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: normal;
}

.page_title_section .bread-crumb li a {
    color: #189ad1;
}

.page_title_section .bread-crumb li a:hover,
.page_title_section .bread-crumb li a:focus,
.page_title_section .bread-crumb li a:active {
    color: #189ad1;
    text-decoration:underline;
}



.support_section img{max-width:300px;margin-bottom:20px}.support_section h2{font-size:25px;font-weight:500;color:#189dd3;margin-bottom:10px}.support_section p{font-size:16px;line-height:18px;margin-bottom:20px}.support_section p.title_text{margin:0;font-size:20px;line-height:25px;color:#189dd3}.support_section{padding:50px 0;display:block;background-color:#fff;text-align:center}.two_section_support{padding:50px 0 0}.technical_support_box{background-color:#fff;padding:50px 50px 80px;border-radius:50px;position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center!important;justify-content:center!important;margin-bottom:20px}.product_manuals_box{background-color:#f5f8fb;padding:50px 50px 80px;border-radius:50px;position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center!important;justify-content:center!important;margin-bottom:20px}.technical_support_btn{position:absolute;bottom:20px;background-color:#189dd3;padding:0 20px;border-radius:50px;color:#fff;height:40px;line-height:40px;font-size:15px}.technical_support_btn:active,.technical_support_btn:focus,.technical_support_btn:hover{background-color:#189dd3;color:#fff;outline:0;text-decoration:none}.product_manuals_btn{position:absolute;bottom:20px;background-color:#189dd3;padding:0 20px;border-radius:50px;color:#fff;height:40px;line-height:40px;font-size:15px}.product_manuals_btn:active,.product_manuals_btn:focus,.product_manuals_btn:hover{background-color:#189dd3;color:#fff;outline:0;text-decoration:none}.support_details_box{display:block;width:90%;border-top:1px dashed #9e9e9e;padding:20px 10px 10px}.support_details_box p{margin-bottom:10px;font-size:16px;color:#555}.support_details_box p a{font-weight:700;color:#189dd3}.support_details_box p a:active,.support_details_box p a:focus,.support_details_box p a:hover{color:#189dd3;text-decoration:none}
/* resposive 1250 */
@media only screen and (max-width:1250px){.technical_support_box{padding:20px}}
/* resposive 900 */
@media only screen and (max-width:900px){.support_section h2{width:100%}.two_section_support{padding:0}.technical_support_box{margin-bottom:0}.page_title_section{padding: 40px 0px;}}
/* resposive 767 */
@media only screen and (max-width:767px){.support_section h2{width:100%}.two_section_support{padding:0}.technical_support_box{margin-bottom:0}.support_section p.title_text{font-size:16px;line-height:20px}}