
/*-------------------------------------------------------------------------*/

.page_title_section {
    background-image: url(/AssetsNew/images/header-title.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 65px 0px;
    position:relative;
    text-align:left;
}
.page_title_section:before {
    content: "";
    background-image: linear-gradient(white, #ffffff66 50%, white);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.page_title_section h1 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #555;
    font-weight: normal;
    margin-bottom: 10px;
}
.page_title_section h1 strong {
    color: #189ad1;
}
.page_title_section p
{
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}
.page_title_section .bread-crumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    /*-ms-flex-pack: center!important;
    justify-content: center!important;*/
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.page_title_section .bread-crumb li {
    color: #555;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: normal;
}

.page_title_section .bread-crumb li a {
    color: #189ad1;
}

.page_title_section .bread-crumb li a:hover,
.page_title_section .bread-crumb li a:focus,
.page_title_section .bread-crumb li a:active {
    color: #189ad1;
    text-decoration:underline;
}




/*Troubleshooting video css*/
.troubleshooting_section{position:relative;padding:0px 0px 50px 0px}.troubleshooting_section h3{position:relative;display:block;font-size:30px;line-height:1.2em;color:#1799ce;font-weight:600;margin-bottom:20px}.troubleshooting_section p{position:relative;display:block;font-size:15px;line-height:24px;margin-bottom:15px}.modal-open .modal{background:#1b1a1ca1;z-index:99999}.modal-backdrop{background:#2769bf;background-color:#2769bf;background:-moz-linear-gradient(left,#2f6ec0 0,#4291f5 100%);background:-webkit-linear-gradient(left,#2f6ec0 0,#4291f5 100%);background:linear-gradient(to right,#2f6ec0 0,#4291f5 100%)}.modal-backdrop.show{opacity:.8}.video_box{position:relative;margin:40px 0 0;display:inline-block;cursor:pointer}.video_img{overflow:hidden;margin:0 0 15px}.video_img img{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;transition:all .5s ease-in-out;width:100%}.video_box h3{font-size:17px;padding-right:25px;display:block;color:#555;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;transition:all .5s ease-in-out}.video_box:hover .video_img img,.video_box:focus .video_img img,.video_box:active .video_img img{-ms-transform:scale(1.2);-webkit-transform:scale(1.2);transform:scale(1.2);-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;transition:all .5s ease-in-out}.video_box:hover h3,.video_box:focus h3,.video_box:active h3{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;transition:all .5s ease-in-out;color:#248ec5}.video_iframe{height:334px;width:100%;margin:0;padding:0;display:block}.modal_video .modal-title{font-size:17px;line-height:25px;color:#248ec5}.modal_video .modal-body{padding:20px}.modal-backdrop.show{display:none!important}
/* resposive 991 */
@media (max-width:991px){.troubleshooting_section{padding:20px 0}.page_title_section{padding: 40px 0px;}}



