
/*-------------------------------------------------------------------------*/

.page_title_section {
    background-image: url(/AssetsNew/images/header-title.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 65px 0px;
    position:relative;
    text-align:left;
}
.page_title_section:before {
    content: "";
    background-image: linear-gradient(white, #ffffff66 50%, white);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.page_title_section h1 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #555;
    font-weight: normal;
    margin-bottom: 10px;
}
.page_title_section h1 strong {
    color: #189ad1;
}
.page_title_section p
{
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}
.page_title_section .bread-crumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center!important;
    align-items: center!important;
    /*-ms-flex-pack: center!important;
    justify-content: center!important;*/
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.page_title_section .bread-crumb li {
    color: #555;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: normal;
}

.page_title_section .bread-crumb li a {
    color: #189ad1;
}

.page_title_section .bread-crumb li a:hover,
.page_title_section .bread-crumb li a:focus,
.page_title_section .bread-crumb li a:active {
    color: #189ad1;
    text-decoration:underline;
}



.user_guide_section{position:relative;padding:0px 0px 50px 0px}.installation_set_up_box{padding:0;display:block}.installation_set_up_box h3{position:relative;display:block;font-size:30px;line-height:1.2em;color:#1799ce;font-weight:600;margin-bottom:20px}.installation_set_up_box p{position:relative;display:block;font-size:15px;line-height:24px;margin-bottom:15px}.installation_set_up_box p a{font-weight:600;color:#f60}.installation_set_up_box p a:hover,.installation_set_up_box p a:focus,.installation_set_up_box p a:active{color:#f60}.user_guide_section img{margin-top:20px}.user_guide_box{position:relative;display:inline-block;font-size:16px;line-height:30px;font-weight:400;padding:5px 20px;border:1px solid #1c97ce;background-color:#1c97ce;color:#fff;margin-top:20px}.user_guide_box > i{margin-right:5px}.user_guide_box:hover,.user_guide_box:focus,.user_guide_box:active{border:1px solid #1c97ce;background-color:#1c97ce;color:#fff}

/* resposive 900 */
@media only screen and (max-width:900px) {
    .page_title_section {
        padding: 40px 0px;
    }
}
/* resposive 500 */
@media only screen and (max-width:500px){.user_guide_section{padding:50px 0}}